<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#19B5FE">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>野马运营</title>

    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/addExcHistoryRecord.css">

    <!--网站内部js-->
    <script src="/javascripts/historyApp.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<div class="container"  ng-app="historyApp" ng-controller="historyAppCtrl">

    <!--导航栏-->
    <nav id="mainbar" class="navbar navbar-default nav-collapse navbar-fixed-top"  role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                            <img id="logoimage" src="/images/home/logo1.png" alt="">

                </a>
            </div>

            <div id="navbar" >
                <ul class="nav navbar-nav">


                    <li  id="Li"><a href="/myapp/history">交换记录</a></li>

                    <li><a href="/myapp">我的应用</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/user">某某用户</a></li>
                </ul>
            </div>
            </div><!--/.nav-collapse -->


    </nav>

    <!--我的应用-->
    <div>

        <!--搜索组建-->
        <div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchKey" placeholder="填写与你最新版本交换过的产品名称">
                      <span class="input-group-btn">
                        <button class="btn" ng-click="searchApp()">
                            <span class="glyphicon glyphicon-search"></span>搜索
                        </button>
                      </span>
                </div><!-- /input-group -->

                <div >

                    <ul class="list-group" ng-repeat="app in appResults">

                        <li class="list-group-item ">


                            <span class="label label-info">{{ app.name }}</span>

                            <img ng-src="{{ app.icon }}" class="img-responsive" alt="App Icon">

                            <h3>{{ app.lastReleaseDate }}<span class="label label-default">最近更新时间</span></h3>

                            <p>开发商 {{ app.seller }}</p>

                            <p>appid {{ app.appid }}</p>

                            <p>isExc {{ app.isExced }}</p>

                            <td>
                                <!-- TODO 需要检测哪些是已经添加的-->
                                <button class="excBtn" ng-click="addHistory(app.appid, app.version)" ng-hide="app.isExced">
                                    <span class="glyphicon glyphicon-ok"></span>添加到交换历史
                                </button>
                                <button class="excedBtn" ng-hide="!app.isExced">
                                    <span class="glyphicon glyphicon-ok"></span>已添加交换历史
                                </button>
                            </td>

                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</div>

</body>

</html>
