<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#19B5FE">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>野马运营</title>

    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="/stylesheets/appDetail.css">


    <!--网站内部js-->
    <script src="/javascripts/appDetail.js"></script>


</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->

<iframe src="/html/navbar.html/3 "  width="100%" height="100%" scrolling="auto" frameborder="0" style="z-index: 1" ></iframe>

<div class="container" ng-app="myAppContent" ng-controller="myAppControl">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-xs-2  left" >
              <div class="left_content">
                  <img class="appicon" ng-src="{{  appBaseInfo.artworkUrl100 }}" alt="App Icon">
                  <p class="appname">{{ appBaseInfo.trackName  }}</p>
                  <div id="inner">
                    <div><button class="write" ><img src="/images/appDetail/rewrite.png" alt=""></button> <p class="rewrite">需求编辑</p></div>
                     <div> <button class="task" ><img src="/images/appDetail/addtask.png" alt=""></button> <p class="addtask">任务添加</p></div>
              </div>
              </div>
        </div><!--col-lg-2-->
        <div class="col-lg-8 col-xs-10 right">
            <div class="row" style="height: 180px;border: 0.5px solid #dddddd">
                <div class="col-lg-12">
                    <div class="appinfo">
                        <div class="trackName">{{ appBaseInfo.trackName }}</div>
                        <div class="appinfor-author">
                            <p class="name">开发商</p>
                            <p class="content">{{ appBaseInfo.sellerName.substring(0,15) }}</p>
                        </div>
                        <div class="appinfor-id">
                            <p class="name">AppId</p>
                            <p class="content">{{ appBaseInfo.appleId }}</p>
                        </div>
                        <div class="appinfor-time">
                            <p class="name">更新日期</p>
                            <p class="content">{{ appBaseInfo.latestReleaseDate }}</p>
                        </div>
                    </div>
                </div>
            </div><!--第一行-->


            <div class="row" style="height: 180px;border: 1px solid #dddddd";>
                <div class="col-lg-12">
                    <h2 class="outchange">外部交换</h2>
                    <button  class="btn  hvr-pulse-grow add-botton" style="color: white" data-toggle="modal" data-target="#mymodal">添加交换</button>
                    <p class="notice">注:添加非野马用户的交换任务</p>
                </div>
            </div><!--第二行-->


            <div class="row"  style="height: 180px;border: 0.5px solid #dddddd "; ng-repeat="app in appResults">
                <div class="col-lg-12">
                    <div class="media" >
                        <div class="media-left">
                            <img class="media-object" ng-src="{{app.artworkUrl512 }}" alt="App Icon">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading appName">{{app.trackName }}</h4>
                            <div class="media-info">
                                <span class="media-sellername">{{app.sellerName.substring(0,15) }}</span>
                                <span class="media-info-appId">App Id:&nbsp;&nbsp;{{ app.appleId }}</span>
                                <span class="media-info-updateDate">更新日期:{{app.latestReleaseDate }}</span>
                            </div>
                            <button class="delete" ><img  src="/images/appDetail/delete.png" alt=""></span></button>
                        </div>
                    </div>
                    <div class="choose" >
                        <form>
                            <span class="form_change"> <input type="radio" checked="checked"  ng-model="excKinds" ng-value=1 >评论</span>
                            <span class="form_change"> <input type="radio"   ng-model="excKinds" ng-value=2 > 下载</span>
                            <span class="form_change">交换 <input type="text" class="" style="width: 50px;height: 28px" ng-model="totalExcCount" placeholder={{totalExcCount}}> 条</span>
                            <span class="form_change"> <button class="btn picture  hvr-pulse-grow" style="color:#3498db">上传需求截图</button></span>
                            <span > <button class="btn picture  hvr-pulse-grow" style="color:#3498db;display: none">重新上传截图</button></span>
                            <span><button class="btn save  hvr-pulse-grow"style="color: white" ng-click="needSave()">保存</button></span>
                        </form>
                    </div>
                </div>
            </div><!--第三行-->





        </div><!--col-lg-9-->


    </div><!--first row end-->
    <div class="modal fade" id="mymodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>

                </div>
                <div class="modal-body">
                    <iframe src="/html/addTask.html" frameborder="0" width="500px" height="500px" ></iframe>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</div><!--container end-->




<script src="/javascripts/cookieHelper.js"></script>

</body>

</html>
