<div id="addtask">
    <div class="alert alert-danger infor_danger" role="alert">
        如果您依然习惯在QQ中与其他运营进行换评或换量，您可以使用我们的换评工具，添加交换任务，上传对方的换评需求后，可以很方便的记录交换历史，并且快速的把任务分发给同事或朋友。
    </div>
    <div class="addtask_first">

        <h2 class="outchange">外部交换</h2>
        <button  class="btn  hvr-pulse-grow add-botton" style="color: white" data-toggle="modal"
                 data-target="#mymodal">添加交换</button>
        <p class="notice">注:添加非野马用户的交换任务</p>
    </div>

    <div class="addtask_second" ng-repeat="app in myExcAllApps" style="position: relative">
        <hr>
        <div class="addtask_inform ">
            <div class="media" >
                <div class="media-left">
                    <img class="media-object" ng-src="{{app.artworkUrl512 }}" alt="App Icon">
                </div>
                <div class="media-body">
                    <h4 class="media-heading appName">{{app.trackName }}</h4>
                    <div class="media-info">
                        <span class="media-sellername">{{app.sellerName.substring(0,15)+'...' }}</span>
                        <span class="media-info-appId">App ID:&nbsp;&nbsp;{{ app.appleId }}</span>
                        <span class="media-info-updateDate">更新日期:{{app.latestReleaseDate }}</span>
                                       <span class="media-info-deleate">
                                           <button class="delete" ng-click="releaseBtnClick(app.appleId, app.hisAppVersion)"
                                                   data-target="#myhistorydelete" data-toggle="modal">
                                               <img src="/images/appDetail/delete.png" alt="">
                                           </button>
                                       </span>
                    </div>
                </div>
            </div> <!--media-->
            <div class="choose">
                               <span  class="form">
                                   <input type="radio" checked="checked" ng-model="app.excKinds" ng-value=1 > 评论
                               </span>

                               <span class="form">
                                   <input type="radio" ng-model="app.excKinds" ng-value=2 > 下载
                               </span>

                               <span class="form">交换
                                   <input class="exchange" type="text"  ng-model="app.totalExcCount"> 条
                               </span>

                <a href="javascript:;" class="a-upload form_change " ng-hide="app.requirementImg.length">
                    <input type="file" nv-file-select="" ng-click="deletFile(app)" uploader="uploader" accept="image/*"/>上传需求截图
                </a>

                               <span ng-show="app.requirementImg.length">
                                   <button class="delimage" ng-click="deletFile(app)">删除需求截图</button>
                               </span>

                               <span>
                                   <button class="btn save" ng-click="saveTask(app)">保存</button>
                               </span>


                <span> 分配备注:<input  class="addtaskper"type="text" ng-model="app.addTaskPer" placeholder="请填写内部交换人员"></span>
                               <span ng-repeat="item in app.prepareUploadFiles">
                                       选择的图片: <span ng-bind="item.file.name"></span><br/>
                               </span>

                <div class="progress" ng-show="app.requestNet">
                    <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: 100 + '%'}"></div>
                </div>

                <div class="alert alert-success success" role="alert" ng-show="app.uploadingSucceed">
                    保存需求成功
                </div>

                <div class="alert alert-danger false" role="alert" ng-show="app.errorMsg.length">
                    {{app.errorMsg}}
                </div>
            </div><!--choose-->
        </div>

    </div>
</div><!--addtask-->
