<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <title>野马运营</title>
    <!-- Place favicon.ico in the root directory -->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="/stylesheets/appDetail.css">
    <link rel="stylesheet" href="/stylesheets/appDetailNav.css">
    <script src="/javascripts/vendor/AngularJS/angular-file-upload.min.js"></script>
    <script src="/javascripts/vendor/html2canvas.js"></script>

    <!--网站内部js-->


    <script src="/javascripts/appDetail.js"></script>
    <script src="/javascripts/indexApp.js"></script>

    <script type="text/javascript">
        $(function(){
            $(".subNav").click(function(){
                $(this).toggleClass("currentDd").siblings(".subNav").removeClass("currentDd")
                $(this).toggleClass("currentDt").siblings(".subNav").removeClass("currentDt")

                // 修改数字控制速度， slideUp(500)控制卷起速度
                $(this).next(".navContent").slideToggle(500).siblings(".navContent").slideUp(500);
            })
        })
    </script>



</head>


<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->
<div class="container" ng-controller="indexAppCtrl" >
    <th-nav></th-nav>
</div>


<div class="container main"  ng-controller="myAppControl" >
    <div class="row">
        <div class="col-lg-3 col-xs-3 change row_first_left ">
            <img class="appicon" ng-src="{{  appBaseInfo.artworkUrl100 }}" alt="App Icon">
            <p class="appname">{{ appBaseInfo.trackName  }}</p>
        </div>
        <div class="col-lg-9 col-xs-9 change row_first_right" >
            <div class="appinfo">
                <div class="trackName">{{ appBaseInfo.trackName }}</div>
                <div class="appinfor-author">
                    <p class="name">开发商</p>
                    <p class="content">{{ appBaseInfo.sellerName.substring(0,15) }}</p>
                </div>
                <div class="appinfor-id">
                    <p class="name">App ID</p>
                    <p class="content">{{ appBaseInfo.appleId }}</p>
                </div>
                <div class="appinfor-time">
                    <p class="name">更新日期</p>
                    <p class="content">{{ appBaseInfo.latestReleaseDate.substring(0,10) }}</p>
                </div>
            </div>
            <hr>
        </div>
    </div>  <!--first row end-->
    <div class="row">
        <div class="col-lg-3 col-xs-3 change row_second_left">
            <div class="subNavBox">
                <div class="nav  ">
                    <a href="/#need"  data-toggle="tab">
                        <img src="/images/appDetail/rewrite.png" alt=""> <span style="margin-left:20px">任务需求编辑</span>
                    </a>
                </div>
                <ul class="navContent " style="display:block">
                    <!--<li><a href="#">需求编辑</a></li>-->
                </ul>
                <div class="nav  ">
                    <a href="/#taskProgress"  data-toggle="tab">
                        <img src="/images/appDetail/rewrite.png" alt=""> <span style="margin-left:20px">任务进度及审核</span>
                    </a>
                </div>
                <ul class="navContent " style="display:block">
                    <!--<li><a href="#">需求编辑</a></li>-->
                </ul>

                <div class="subNav  currentDt" >
                    <img src="/images/appDetail/history.png" alt=""><span style="margin-left:22px" >交换任务记录</span>
                </div>
                <ul class="navContent">
                    <li><a href="/#curhistory" data-toggle="tab">当前版本</a></li>
                    <li><a href="/#prehistory" data-toggle="tab">以往版本</a></li>
                </ul>

                <div class="nav  ">
                    <a href="/#addtask" data-toggle="tab" >
                        <img src="/images/appDetail/addtask.png" alt=""><span style="margin-left:22px">外部交换工具</span>
                    </a>
                </div>
                <ul class="navContent">
                    <!--<li><a href="#">任务添加</a></li>-->
                </ul>
            </div>
        </div><!--col-lg-3 左侧导航-->

        <div class="col-lg-9 col-xs-9 change">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="need">
                    <div class="alert alert-danger" role="alert">
                        在任务需求编辑中,你可以非常详细的记录换屏换量需求,且只需记录一次.之后,只需每天修改关键信息即可
                    </div>

                    <div>
                        <h2 class="mytitle">任务信息</h2>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label  class="col-lg-2 control-label" > 任务类型:</label>
                                <div class="col-lg-8">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="appNeedInfo.taskType" value="评论"> 评论
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="appNeedInfo.taskType" value="下载"> 下载
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label  class="col-lg-2 control-label" > 交换数量:</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" ng-model="appNeedInfo.excCount" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label  class="col-lg-2 control-label" > 截图数量:</label>
                                <div class="col-lg-8">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=2> 2条
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=3> 3条
                                    </label>
                                </div>
                            </div>
                        </form>
                        <hr>
                    </div>

                    <div>
                        <h2 class="mytitle">下载信息</h2>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label  class="col-lg-2 control-label" >搜索关键词:</label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" placeholder="" ng-model="appNeedInfo.searchKeyword">
                                </div>
                                <label  class="col-lg-2 control-label "  >排名:</label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" style="width: 143px;" placeholder="" ng-model="appNeedInfo.ranKing">
                                </div>
                            </div>
                        </form>
                        <hr>
                    </div>

                    <div ng-hide="appNeedInfo.taskType == '下载'">
                        <h2 class="mytitle">评论信息</h2>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label  class="col-lg-2 control-label" >评分:</label>
                                <div class="col-lg-8">
                                    <label class="radio-inline">
                                        <input type="radio" ng-value=5 ng-model="appNeedInfo.Score"> 5星
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-value=4 ng-model="appNeedInfo.Score"> 4星
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-lg-2 control-label" > 标题关键词:</label>
                                <div class="col-lg-8" >
                                    <input type="text" class="form-control" placeholder="请输入小于20字符"
                                           ng-model="appNeedInfo.titleKeyword"
                                           ng-keydown="checkInput()" ng-keyup="checkInput()" >
                                </div>
                                <label  class="col-lg-1 control-label" style="margin-left: -40px" ><span ng-bind="titleKeyword.length" ng-style="color"></span>/20</label>
                            </div>
                            <div class="form-group">
                                <label  class="col-lg-2 control-label" > 评论关键词:</label>
                                <div class="col-lg-8">
                                    <textarea class="form-control" rows="2" style="height: 60px" placeholder="请输入小于40字符"
                                           ng-model="appNeedInfo.commentKeyword"
                                              ng-keydown="checkMaxInput()" ng-keyup="checkMaxInput()">

                                    </textarea>
                                </div>
                                <label  class="col-lg-1 control-label" style="margin-left: -40px" ><span ng-bind="commentKeyword.length" ng-style="color"></span>/40</label>
                            </div>

                            <div class="form-group">
                                <label  class="col-lg-2 control-label" >详情备注:</label>
                                <div class="col-lg-8">
                               <textarea  class="form-control" rows="5" placeholder="1.标题不少于2个关键词 2.请两日内不卸载
                               " ng-model="appNeedInfo.detailRem">
                               </textarea>
                                </div>
                            </div>
                        </form>
                        <hr>
                    </div>

                    <div class="col-lg-6">
                        <button class="btn button_save" ng-click="saveNeed()">保存</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn button_save">发布任务</button>
                    </div>
                    <div>
                        <h2 class="mytitle">需求预览</h2>

                        <div id='screenShot'; style="background:url(/images/appDetail/screenshot-background.png); width: 640px;
                        padding: 36px 54px 60px 30px; margin: auto;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img  class="appicon" style="display: inline-block; margin: 0 26px 40px 20px;
                                width: 120px; height: 120px; border-radius: 20px"
                                          ng-src="{{  appBaseInfo.artworkUrl100 }}" alt="App Icon"/>
                                </div>
                                <div class="col-sm-9" style="padding-left: 50px;">
                                    <p style="font-size: 24px; color: #ffffff;
                                width: 330px; margin-top: 10px">
                                        {{ appBaseInfo.trackName.substr(0,16)+"..."  }}
                                    </p>
                                    <p style="color: #ffffff;
                                width: 330px;">
                                        更新日期: {{ appBaseInfo.latestReleaseDate  }}
                                    </p>
                                    <p style="color: #ffffff; font-size: 20px;">
                                        任务类型: <span class="synwords">{{appNeedInfo.taskType}}</span>
                                    </p>
                                </div>
                            </div>

                            <ol style="font-size: 20px; color: #ffffff;
                            list-style-position: inside; padding:0; margin:0;">
                                <li style="margin-bottom: 30px">
                                    <p>1. app store 搜索"<span class="synwords">{{appNeedInfo.searchKeyword}}</span>"
                                        第<span class="synwords">{{appNeedInfo.ranKing}}</span>
                                        名左右, 找到应用,如上图图标, 下载.</p>
                                </li>
                                <li style="margin-bottom: 30px">
                                    <p>2. 打开app, 请务必过引导页.</p>
                                </li>
                                <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                                    <p  style="margin-bottom: 20px">
                                        3. 返回app store, 好评"<span class="synwords">{{appNeedInfo.Score}}</span>星"
                                    </p>
                                    <p style="margin-bottom: 20px">
                                        &nbsp &nbsp &nbsp 标题关键词: <span class="synwords">{{appNeedInfo.titleKeyword}}</span></p>
                                    <p style="margin-bottom: 20px">
                                        &nbsp &nbsp &nbsp评论关键词: <span class="synwords">{{appNeedInfo.commentKeyword}}</span></p>
                                </li>
                                <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                                    <p>4. 备注:</p>
                                    <p style="border: 1px solid #cdf1ff; font-size: 18px;
                                    margin-top: 20px; margin-bottom: 70px;
                                    padding: 18px 20px 18px 20px;" ng-show = "appNeedInfo.detailRem.length">
                                        {{appNeedInfo.detailRem}}
                                    </p>
                                </li>
                            </ol>

                            <p style="font-size: 24px; color: #ffffff;">
                                手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                                -友情提醒, 避免撕逼
                            </p>
                        </div>
                        <button class="btn button_save" style="margin-top: 50px; margin-bottom: 50px;" ng-click='getScreenShot()'>
                            下载需求图
                        </button>
                    </div>



                </div><!--需求编辑-->
                <div class="tab-pane fade in" id="taskProgress">
                    <div class="row">
                        <div class="col-lg-6">
                            <button>昨日任务</button>
                        </div>
                        <div class="col-lg-6">
                            <button>今日任务</button>
                        </div>
                    </div>
                    <h2 class="mytitle">任务信息</h2>
                    <div style="background:url(/images/appDetail/screenshot-background.png); width: 640px;
                        padding: 36px 54px 60px 30px; margin: auto;">
                        <div class="row">
                            <div class="col-sm-3">
                                <img  class="appicon" style="display: inline-block; margin: 0 26px 40px 20px;
                                width: 120px; height: 120px; border-radius: 20px"
                                      ng-src="{{  appBaseInfo.artworkUrl100 }}" alt="App Icon">
                            </div>
                            <div class="col-sm-9" style="padding-left: 50px;">
                                <p style="font-size: 24px; color: #ffffff;
                                width: 330px; margin-top: 10px">
                                    {{ appBaseInfo.trackName.substr(0,16)+"..."  }}
                                </p>
                                <p style="color: #ffffff;
                                width: 330px;">
                                    更新日期: {{ appBaseInfo.latestReleaseDate  }}
                                </p>
                                <p style="color: #ffffff; font-size: 20px;">
                                    任务类型: <span class="synwords">{{taskType}}</span>
                                </p>
                            </div>
                        </div>

                        <ol style="font-size: 20px; color: #ffffff;
                            list-style-position: inside; padding:0; margin:0;">
                            <li style="margin-bottom: 30px">
                                <p>app store 搜索"<span class="synwords">{{searchKeyword}}</span>"
                                    第<span class="synwords">{{ranking}}</span>
                                    名左右, 找到应用,如上图图标, 下载.</p>
                            </li>
                            <li style="margin-bottom: 30px">
                                <p>打开app, 请务必过引导页.</p>
                            </li>
                            <li  style="margin-bottom: 30px" ng-hide="taskType == '下载'">
                                <p  style="margin-bottom: 20px">
                                    返回app store, 好评"<span class="synwords">{{stars}}</span>星"
                                </p>
                                <p style="margin-bottom: 20px">
                                    &nbsp &nbsp &nbsp 标题关键词: <span class="synwords">{{titleKeyword}}</span></p>
                                <p style="margin-bottom: 20px">
                                    &nbsp &nbsp &nbsp评论关键词: <span class="synwords">{{commentKeyword}}</span></p>
                            </li>
                            <li  style="margin-bottom: 30px" ng-hide="taskType == '下载'">
                                <p>备注:</p>
                                <p style="border: 1px solid #cdf1ff; font-size: 18px;
                                    margin-top: 20px; margin-bottom: 70px;
                                    padding: 18px 20px 18px 20px;" ng-show = "more.length">
                                    {{more}}
                                </p>
                            </li>
                        </ol>

                        <p style="font-size: 24px; color: #ffffff;">
                            手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                            &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                            &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                            -友情提醒, 避免撕逼
                        </p>
                    </div> <!-- 图结束-->
                    <hr>
                    <h2 class="mytitle">任务审核</h2>


                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                    <div class="row panel-receivetask" style="height: 64px">
                                        <div class="col-lg-7">
                                            <img src="/images/appDetail/receiveTask.png" alt="" style="display: inline-block;margin-left: 24px;padding-bottom: 10px">
                                            <span >任务领取人:</span>
                                            <span>张三</span>
                                            <img src="" alt="" class="receiveimg">
                                            <img src="" alt="" class="receiveimg">
                                        </div>
                                        <div class="col-lg-5">
                                            <span>总条数:</span>
                                            <span style="color: #3498db">8条</span>
                                            <button class="btn receivebtn">全部接受</button>
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne">
                                                <img src="/images/appDetail/click2.png" alt="" style="display: inline-block">
                                            </a>

                                        </div>
                                    </div>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                   <div class=" row receiveinfor" >
                                       <div class="col-lg-3 ">第8组</div>
                                       <div class="text-right">提交人:<span>李文</span></div>
                                       <img src="" alt="">
                                       <img src="" alt="">
                                       <img src="" alt="">
                                       <div class=" text-right receive_btn">
                                           <button class="btn reject ">拒绝</button>
                                           <button class="btn receive">确认接受</button>
                                           <button class="btn receive2">已接受</button>
                                       </div>


                                   </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- 审核信息结束-->









                </div><!--任务进度-->












                <div class="tab-pane fade in  " id="addtask">
                    <div class="alert alert-danger infor_danger" role="alert">
                        如果您依然习惯在QQ中与其他运营进行换评或换量，您可以使用我们的换评工具，添加交换任务，上传对方的换评需求后，可以很方便的记录交换历史，并且快速的把任务分发给同事或朋友。
                    </div>
                    <div class="addtask_first">

                        <h2 class="outchange">外部交换</h2>
                        <button  class="btn  hvr-pulse-grow add-botton" style="color: white" data-toggle="modal"
                                 data-target="#mymodal">添加交换</button>
                        <p class="notice">注:添加非野马用户的交换任务</p>
                    </div>

                    <div class="addtask_second" ng-repeat="app in myExcAllApps" style="position: relative">
                        <hr>
                        <div class="addtask_inform ">
                            <div class="media" >
                                <div class="media-left">
                                    <img class="media-object" ng-src="{{app.artworkUrl512 }}" alt="App Icon">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading appName">{{app.trackName }}</h4>
                                    <div class="media-info">
                                        <span class="media-sellername">{{app.sellerName.substring(0,15)+'...' }}</span>
                                        <span class="media-info-appId">App ID:&nbsp;&nbsp;{{ app.appleId }}</span>
                                        <span class="media-info-updateDate">更新日期:{{app.latestReleaseDate }}</span>
                                       <span class="media-info-deleate">
                                           <button class="delete" ng-click="releaseBtnClick(app.appleId, app.hisAppVersion)"
                                                   data-target="#myhistorydelete" data-toggle="modal">
                                               <img src="/images/appDetail/delete.png" alt="">
                                           </button>
                                       </span>
                                    </div>
                                </div>
                            </div> <!--media-->
                            <div class="choose">
                               <span  class="form">
                                   <input type="radio" checked="checked" ng-model="app.excKinds" ng-value=1 > 评论
                               </span>

                               <span class="form">
                                   <input type="radio" ng-model="app.excKinds" ng-value=2 > 下载
                               </span>

                               <span class="form">交换
                                   <input class="exchange" type="text"  ng-model="app.totalExcCount"> 条
                               </span>

                                <a href="javascript:;" class="a-upload form_change " ng-hide="app.requirementImg.length">
                                    <input type="file" nv-file-select="" ng-click="deletFile(app)" uploader="uploader" accept="image/*"/>上传需求截图
                                </a>

                               <span ng-show="app.requirementImg.length">
                                   <button class="delimage" ng-click="deletFile(app)">删除需求截图</button>
                               </span>

                               <span>
                                   <button class="btn save" ng-click="saveTask(app)">保存</button>
                               </span>


                                <span> 分配备注:<input  class="addtaskper"type="text" ng-model="app.addTaskPer" placeholder="请填写内部交换人员"></span>
                               <span ng-repeat="item in app.prepareUploadFiles">
                                       选择的图片: <span ng-bind="item.file.name"></span><br/>
                               </span>

                               <div class="progress" ng-show="app.requestNet">
                                   <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: 100 + '%'}"></div>
                               </div>

                               <div class="alert alert-success success" role="alert" ng-show="app.uploadingSucceed">
                                   保存需求成功
                               </div>

                               <div class="alert alert-danger false" role="alert" ng-show="app.errorMsg.length">
                                   {{app.errorMsg}}
                               </div>
                           </div><!--choose-->
                       </div>

                   </div>
               </div><!--addtask-->
                <!--交换历史-->
               <div class="tab-pane " id="curhistory">
                   <div class="row exchang_pattern">
                       <div class="top_title  col-lg-8 col-xs-8">
                           <span class="exc__record_title" >当前版本交换记录</span>
                      </div>

                   </div>
                   <div class="alert-danger " role="alert" style="margin-bottom: 20px;height: 80px;">
                       如果您在外部QQ群中已经和某些APP做过交换任务，您可以把交换历史，记录在这里，这样可以避免已经换过的APP给您做重复的任务，如果您的产品刚更新，可以忽略此步。

                   </div>
                   <div class="row">
                       <div class=" col-lg-7 search">
                           <input type="text" class="form-control search_input" ng-model="searchkey" ng-keyup="keyApp($event)" placeholder="搜索指定产品的交换历史纪录…">
                       </div>
                       <div class="col-lg-1">
                           <button class="btn search_button " ng-click="searchLocalHistoryApp()">
                               <span class="glyphicon glyphicon-search"></span>
                           </button>
                       </div>
                       <div class="text-a col-lg-3 ">
                           <button type="button " class=" add_exchistory_botton hvr-float-shadow"  data-target="#search_history" data-toggle="modal">
                               手动添加交换记录
                           </button>
                       </div>
                   </div>




                   <div class="nowversion ">
                       <div class="app_list media" ng-repeat="app in ExcAllApps">
                           <div class="media-left">
                               <img class="media-object" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
                           </div>
                           <div class="media-body">
                               <h4 class="media-heading">{{ app.trackName }}</h4>
                               <div class="media-info">
                                   <span class="media-info-id">App ID: {{ app.appleId }}</span>
                                   <span class="media-info-name">{{ app.sellerName }}</span>
                               </div>
                               <div class="media-info-a">
                                   <span class="media-info-lg">{{app.swapMode}}</span>
                                   <span class="media-info-time">添加日期:{{ app.excHisDate }}</span>
                                   <span class="media-info-time">{{ app.excKinds }}</span>
                                   <span class="media-info-time">共{{ app.totalExcCount }}条</span>
                               </div>
                           </div>

                           <div class="media-right">
                               <button class="btn remove_icon hvr-box-shadow-inset"
                                       ng-click="removeTodayHistory(app.appleId, app.hisAppVersion)" data-target="#curHistoryDelete" data-toggle="modal">
                                   <img src="/images/exch_history/no_click_remove.png">
                               </button>
                           </div>
                           <hr>
                       </div>
                       <ul class="pager">
                           <li ng-hide="!hasMore"><button ng-click = "nextPageForm()">下一页</button></li>
                           <li ng-hide="hasMore">没有更多数据</li>
                       </ul>
                   </div>
               </div> <!--当前版本-->
               <div class=" tab-pane  preversion" id="prehistory">

                   <div class="app_list" ng-repeat="app in myHistoryApps">
                       <div class="media">
                           <div class="media-left">
                               <img class="media-object" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
                           </div>

                           <div class="media-body">
                               <h4 class="media-heading">{{ app.trackName }}</h4>
                               <div class="media-info">
                                   <span class="media-info-id">App ID: {{ app.appleId }}</span>
                                   <span class="media-info-name">{{ app.sellerName }}</span>
                               </div>

                               <div class="media-info-a">
                                   <span class="media-info-lg">{{app.swapMode}}</span>
                                   <span class="media-info-time">添加日期:{{ app.excHisDate }}</span>
                               </div>

                           </div>

                           <div class="media-right">
                               <button class="btn remove_icon hvr-box-shadow-inset" ng-click="removePreHistory(app.appleId, app.hisAppVersion)"
                                       data-target="#preHistoryDelete" data-toggle="modal">
                                   <img src="/images/exch_history/no_click_remove.png">
                               </button>
                           </div>
                       </div><!--media end-->
                       <hr>

                   </div>
               </div> <!--以往版本-->
          </div>
       </div><!--col-lg-9 右侧改变的内容-->
   </div> <!--second row end-->
   
    <div class="modal modal-lg fade" id="myhistorydelete">
        <div class="modal-dialog" style="width:400px;position: absolute;right: 20px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除提示</h4>
                </div>
                <div class="modal-body">
                    <p>确认删除此交换任务?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" ng-click="removeHistory()">删除</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!--删除任务添加-->
    <div class="modal fade" id="mymodal">
        <div class="modal-dialog" style="width: 750px;height: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input  type="text" class="form-control" ng-model="searchKey" ng-keyup="keySearchApp($event)" placeholder="填写与你最新版本交换过的产品名称">
                      <span class="input-group-btn ">
                          <button class=" btn btn-search" type="submit" ng-click="searchHistoryApp()">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                    </div>

                    <div class="placehold-line">
                        <div class="progress" ng-hide="!progressNum">
                            <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: progressNum + '%'}"></div>
                        </div>
                        <div class="alert-danger" role="alert" ng-hide="!isError">
                            {{ errorMsg }}
                        </div>
                    </div>
                    <hr/>

                    <div class="app_info" ng-repeat="app in pagedItems[currentPage]">
                        <div class="media-left">
                            <img class="media-object" ng-src="{{ app.artworkUrl512 }}" alt="App Icon">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading appName">{{ app.trackName.substr(0,10)+"..." }}</h4>
                            <div class="media-info">
                                <span class="media-info-appId">App ID:&nbsp;&nbsp;{{ app.appleId }}</span>
                            </div>
                        </div>
                        <div class=" media_right">
                            <button class=" btn  button_bottom " ng-click="addHistory(app)" ng-hide="app.isExced">
                                添加
                            </button>
                            <button class="btn btn-default  button_add hvr-float-shadow" ng-hide="!app.isExced">
                                已添加
                            </button>
                        </div>
                    </div>

                    <tfoot>
                    <div class="pagination">
                     <span ng-class="{disabled: currentPage == 0}" ng-show="pagedItems.length">
                        <a href ng-click="prevPage()">上一页</a>
                     </span>
                     <span ng-class="{disabled: currentPage == pagedItems.length - 1}" ng-show="pagedItems.length">
                        <a href ng-click="nextPage()">下一页</a>
                     </span>
                    </div>
                    </tfoot>
                </div>
            </div>
        </div>
    </div><!--任务添加弹窗部分-->
    <div class="modal fade" id="curHistoryDelete">
        <div class="modal-dialog" class="curHistoryDelete">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除提示</h4>
                </div>
                <div class="modal-body">
                    <p>确认删除此条交换纪录?一但删除将无法恢复.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" ng-click="releaseHistory()">删除</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- 删除当前版本-->
    <div class="modal fade" id="preHistoryDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除提示</h4>
                </div>
                <div class="modal-body">
                    <p>确认删除此条交换纪录?一但删除将无法恢复.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" ng-click="releasePreHistory()">删除</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- 删除以往版本-->
    <div class="modal fade " id="search_history">
        <div class="modal-dialog" style="width: 750px;height: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input  type="text" class="form-control" ng-model="searchKey" ng-keyup="keySearchApp($event)" placeholder="填写与你最新版本交换过的产品名称">
                        <span class="input-group-btn ">
                            <button class="btn btn_search"type="submit" ng-click="searchHistoryApp()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                     </div>
                <div class="placehold-line">
                    <div class="progress" ng-show="progressNum">
                        <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: progressNum + '%'}"></div>
                    </div>
                    <div class="alert alert-warning" role="alert" ng-show="isError">
                        {{ errorMsg }}
                    </div>
                </div>
                <hr>
                <div class="media app_info" ng-repeat="app in pagedItems[currentPage]" >
                    <div class="media-left">
                        <img class="media-object" ng-src="{{ app.artworkUrl512 }}" alt="App Icon">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading appName">{{ app.trackName.substr(0,10)+"..."}}</h4>
                        <div class="media-info">
                            <span class="media-info-appId">App Id:&nbsp;&nbsp;{{ app.appleId }}</span>
                        </div>
                    </div>
                    <div class="media_right">
                        <button class="btn  button_bottom" ng-click="addExcHistory(app)" ng-hide="app.isExced">
                            添加
                        </button>
                        <button class=" btn btn-default  button_add hvr-float-shadow "ng-hide="!app.isExced">
                            已添加
                        </button>
                    </div>
                </div>
                <div class="pagination">
                        <span ng-class="{disabled: currentPage == 0}" ng-show="pagedItems.length">
                            <a href ng-click="prevPage()">上一页</a>
                        </span>

                        <span ng-class="{disabled: currentPage == pagedItems.length - 1}" ng-show="pagedItems.length">
                            <a href ng-click="nextPage()">下一页</a>
                        </span>
                </div>
                </div>
            </div>
        </div>
    </div><!-- 当前版本搜索记录-->
</div><!--container end-->
<script src="/javascripts/cookieHelper.js"></script>

</body>
</html>
