<div id="prehistory">
    <div class="app_list" ng-repeat="app in myHistoryApps">
        <div class="media">
            <div class="media-left">
                <img class="media-object" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
            </div>

            <div class="media-body">
                <h4 class="media-heading">{{ app.trackName }}</h4>
                <div class="media-info">
                    <span class="media-info-id">App ID: {{ app.appleId }}</span>
                    <span class="media-info-name">{{ app.sellerName }}</span>
                </div>

                <div class="media-info-a">
                    <span class="media-info-lg">{{app.swapMode}}</span>
                    <span class="media-info-time">添加日期:{{ app.excHisDate }}</span>
                </div>

            </div>

            <div class="media-right">
                <button class="btn remove_icon hvr-box-shadow-inset" ng-click="removePreHistory(app.appleId, app.hisAppVersion)"
                        data-target="#preHistoryDelete" data-toggle="modal">
                    <img src="/images/exch_history/no_click_remove.png">
                </button>
            </div>
        </div><!--media end-->
        <hr>

    </div>
</div> <!--以往版本-->
