<div id="need">
    <div class="alert alert-danger" role="alert">
        在任务需求编辑中,你可以非常详细的记录换屏换量需求,且只需记录一次.之后,只需每天修改关键信息即可
    </div>

    <div>
        <h2 class="mytitle">任务信息</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-lg-2 control-label" > 任务类型:</label>
                <div class="col-lg-8">
                    <label class="radio-inline">
                        <input type="radio" name="radio"  ng-model="appNeedInfo.taskType"  value="评论" onclick="setValue()"> 评论
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio" ng-model="appNeedInfo.taskType" value="下载"> 下载
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label  class="col-lg-2 control-label" > 交换数量:</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" ng-model="appNeedInfo.excCount" placeholder="">
                </div>
                <label  class="col-lg-2 control-label" > 任务单价:</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="price"ng-model="appNeedInfo.unitPrice"  placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label  class="col-lg-2 control-label" > 截图数量:</label>
                <div class="col-lg-8">
                    <label class="radio-inline">
                        <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=2> 2条
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=3> 3条
                    </label>
                </div>
            </div>
        </form>
        <hr>
    </div>

    <div>
        <h2 class="mytitle">下载信息</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-lg-2 control-label" >搜索关键词:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="" ng-model="appNeedInfo.searchKeyword">
                </div>
                <label  class="col-lg-2 control-label "  >排名:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" style="width: 143px;" placeholder="" ng-model="appNeedInfo.ranKing">
                </div>
            </div>
        </form>
        <hr>
    </div>

    <div ng-hide="appNeedInfo.taskType == '下载'">
        <h2 class="mytitle">评论信息</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-lg-2 control-label" >评分:</label>
                <div class="col-lg-8">
                    <label class="radio-inline">
                        <input type="radio" ng-value=5 ng-model="appNeedInfo.Score"> 5星
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value=4 ng-model="appNeedInfo.Score"> 4星
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-2 control-label" > 标题关键词:</label>
                <div class="col-lg-8" >
                    <input type="text" class="form-control" placeholder="请输入小于20字符"
                           ng-model="appNeedInfo.titleKeyword"
                           ng-keydown="checkInput()" ng-keyup="checkInput()" >
                </div>
                <label  class="col-lg-1 control-label" style="margin-left: -40px" ><span ng-bind="appNeedInfo.titleKeyword.length+0" ng-style="color"></span>/20</label>
            </div>
            <div class="form-group">
                <label  class="col-lg-2 control-label" > 评论关键词:</label>
                <div class="col-lg-8">
                    <textarea class="form-control" rows="2" style="height: 60px" placeholder="请输入小于40字符"
                              ng-model="appNeedInfo.commentKeyword"
                              ng-keydown="checkMaxInput()" ng-keyup="checkMaxInput()">

                    </textarea>
                </div>
                <label  class="col-lg-1 control-label" style="margin-left: -40px" >
                    <span ng-bind="appNeedInfo.commentKeyword.length+0" ng-style="color"></span>/40
                </label>
            </div>

            <div class="form-group">
                <label  class="col-lg-2 control-label" >详情备注:</label>
                <div class="col-lg-8">
                               <textarea  class="form-control" rows="5" placeholder="1.标题不少于2个关键词 2.请两日内不卸载
                               " ng-model="appNeedInfo.detailRem"
                                          ng-keydown="checkTextInput()" ng-keyup="checkTextInput()">
                               </textarea>
                </div>
                <label  class="col-lg-1 control-label" style="margin-left: -40px;margin-top: 30px" >
                    <span ng-bind="appNeedInfo.detailRem.length+0" ng-style="color"></span>/140
                </label>
            </div>
        </form>
        <hr>
    </div>

    <div class="col-lg-6">
        <button class="btn button_save" ng-click="saveNeed()">保存</button>
    </div>
    <div class="col-lg-6">
        <button class="btn button_save" ng-click="releaseTask()">发布任务</button>
    </div>
    <div>
        <h2 class="mytitle">需求预览</h2>

        <div id='screenShot'; style="background:url(/images/appDetail/screenshot-background.png); width: 640px;
                        padding: 36px 54px 60px 30px; margin: auto;">
            <div class="row">
                <div class="col-sm-3">
                    <img  class="appicon" style="display: inline-block; margin: 0 26px 40px 20px;
                                width: 120px; height: 120px; border-radius: 20px"
                          ng-src="{{  appBaseInfo.artworkUrl100 }}" alt="App Icon"/>
                </div>
                <div class="col-sm-9" style="padding-left: 50px;">
                    <p style="font-size: 24px; color: #ffffff;
                                width: 330px; margin-top: 10px">
                        {{ appBaseInfo.trackName.substr(0,16)+"..."  }}
                    </p>
                    <p style="color: #ffffff;
                                width: 330px;">
                        更新日期: {{ appBaseInfo.latestReleaseDate.substr(0,10) }}
                    </p>
                    <p style="color: #ffffff; font-size: 20px;">
                        任务类型: <span class="synwords">{{appNeedInfo.taskType}}</span>
                    </p>
                </div>
            </div>

            <ol style="font-size: 20px; color: #ffffff;
                            list-style-position: inside; padding:0; margin:0;">
                <li style="margin-bottom: 30px">
                    <p>1. app store 搜索"<span class="synwords">{{appNeedInfo.searchKeyword}}</span>"
                        第<span class="synwords">{{appNeedInfo.ranKing}}</span>
                        名左右, 找到应用,如上图图标, 下载.</p>
                </li>
                <li style="margin-bottom: 30px">
                    <p>2. 打开app, 请务必过引导页.</p>
                </li>
                <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                    <p  style="margin-bottom: 20px">
                        3. 返回app store, 好评"<span class="synwords">{{appNeedInfo.Score}}</span>星"
                    </p>
                    <p style="margin-bottom: 20px">
                        &nbsp &nbsp &nbsp 标题关键词: <span class="synwords">{{appNeedInfo.titleKeyword}}</span></p>
                    <p style="margin-bottom: 20px">
                        &nbsp &nbsp &nbsp评论关键词: <span class="synwords">{{appNeedInfo.commentKeyword}}</span></p>
                </li>
                <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                    <p>4. 备注:</p>
                    <p style="border: 1px solid #cdf1ff; font-size: 18px;
                                    margin-top: 20px; margin-bottom: 70px;
                                    padding: 18px 20px 18px 20px;" ng-show = "appNeedInfo.detailRem.length">
                        {{appNeedInfo.detailRem}}
                    </p>
                </li>
            </ol>

            <p style="font-size: 24px; color: #ffffff;">
                手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                -友情提醒, 避免撕逼
            </p>
        </div>
        <button class="btn button_save" style="margin-top: 50px; margin-bottom: 50px;" ng-click='getScreenShot()'>
            下载需求图
        </button>
    </div>



</div>
