<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="theme-color" content="#19B5FE">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>野马运营</title>

    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">

    <!--网站内部js-->
    <script src="/javascripts/testDemo.js"></script>
    <script src="swiper-3.3.1.min.js"></script>

</head>


<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">home</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<form>
    <h3>测试选单个图片进行上传</h3>
    <input type="file" id="testUploadFile" onchange="handleUploadFiles(this.files)"/>
    <h3>测试选中多个图片进行上传</h3>
    <input type="file" id="testUploadFiles" multiple="" onchange="handleFiles(this.files)"/>
</form>


<iframe src="navbar.html "  width="100%" height="100%"  scrolling="no" frameborder="0"></iframe>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>dddddddddddddddddddddddddddddd</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>

        </div>
       <div class="col-lg-3 col-md-3 pull-right">
           <ul class="list-group">
               <li class="list-group-item">Cras justo odio</li>
               <li class="list-group-item">Dapibus ac facilisis in</li>
               <li class="list-group-item">Morbi leo risus</li>
               <li class="list-group-item">Porta ac consectetur ac</li>
               <li class="list-group-item">Vestibulum at eros</li>
           </ul>
       </div>


        </div>
    </div>
<hr style="border-top:1px dashed red;margin-top: 100px;width: 300px;margin-left: 10px">





<table class="table table-hover">
      <tr class="info">
          <div class="media" >
              <div class="media-left">
                  <img class="media-object" ng-src="{{app.artworkUrl512 }}" alt="App Icon">
              </div>
              <div class="media-body">
                  <h4 class="media-heading appName">{{app.trackName }}</h4>
                  <div class="media-info">
                      <span class="media-sellername">{{app.sellerName.substring(0,15) }}</span>
                      <span class="media-info-appId">App Id:&nbsp;&nbsp;{{ app.appleId }}</span>
                      <span class="media-info-updateDate">更新日期:{{app.latestReleaseDate }}</span>
                  </div>

              </div>
          </div>
      </tr>
</table>









<!--<ul class="list-group" style="border-style: none;margin-top: 20px">-->
    <!--<li class="list-group-item"style="border-style: none">Cras justo odio</li>-->
    <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
    <!--<li class="list-group-item">Morbi leo risus</li>-->
    <!--<li class="list-group-item">Porta ac consectetur ac</li>-->
    <!--<li class="list-group-item">Vestibulum at eros</li>-->
<!--</ul>-->

<div class="container">
<div class="row">
    <div class="col-xs-6 text-left"  >Course:</div>
    <div class="col-xs-6 text-right">雅思</div>
</div>

    <div class="row">
        <div class="col-xs-6 text-left" style="font-size: 1.5em" >Cras justo odio</div>
        <div class="col-xs-6 text-right">Cras justo odio</div>
    </div>
</div>

</body>

</html>
