<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $scope.copy = $location.absUrl();

        $scope.copyUrl2 = function()
        {
            var Url2=document.getElementById("biao1");
            Url2.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令

        }
    </script>
</head>

<body>
<textarea cols="30" rows="10" id="biao1">{{copy}}</textarea>
<input type="button" ng-click="copyUrl2()" value="点击复制代码" />
<input type="button" name="anniu2" onClick='copyUrl()' value="复制URL地址">

<input type="text " id="message">

</body>
</html>