<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#19B5FE">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>野马运营</title>

    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">

    <!--网站内部js-->
    <script src="/javascripts/itunesApi.js"></script>
</head>
<style>
    div{
        height: 100px;
        /*border: 1px solid black;*/
        /*margin-left: 10px;*/
        /*margin-top: 10px;*/
    }
    .div3{
        /*margin-left: 20px;*/
    }
    .row-align{
        margin-top: 20px;
    }
</style>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->
<div class="container-fluid" style="border: 2px solid darkgreen;width: 80%;height: 100%">
    <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-4" style="background-color: #00b7ff;padding-left: 10px">col-xs-4 col-md-7</div>
        <div class="col-xs-4 col-md-3 col-lg-4" style="background-color: yellow">col-xs-4 col-md-3</div>
        <div class="col-xs-4 col-md-3 col-lg-4" style="background-color: pink">col-xs-4 col-md-1</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-md-8" style="background-color: #00b7ff">col-xs-4 col-md-8</div>
        <div class="col-xs-4 col-md-3" style="background-color: red">col-xs-4 col-md-3</div>
    </div>
    <div class="row row-align">
            <div class="col-xs-3 col-md-3 div3" style="background-color: #00b7ff">col-xs-4 col-md-3</div>
            <div class="col-xs-3 col-md-3" style="background-color: yellow">col-xs-4 col-md-3</div>
            <div class="col-xs-3 col-md-3" style="background-color: pink">col-xs-4 col-md-3</div>
    </div>

    <div class="row">
        <div class="col-md-5 col-xs-5" style="border: 1px solid black;padding-left: 2%">.col-md-5 col-xs-5 </div>
        <div class="col-md-5 col-xs-5 col-md-offset-2 col-xs-offset-2 "style="border: 1px solid black">.col-md-5 col-xs-5偏移两个</div>
    </div>

    <h1> 嵌套列</h1>
    <div class="row">
        <div class="col-md-5 col-xs-5" style="border: 1px solid purple">
            <div class="col-md-5 col-xs-5"style="background-color: palegoldenrod"></div>
            <div class="col-md-5 col-xs-5  "style="border: 1px solid black;background-color: #0F9E5E">我被包含啦</div>
        </div>
        <div class="col-md-5 col-xs-5  "style="border: 1px solid red"></div>
    </div>


    <div class="row">
        <div class="col-md-9  "style="border: 1px solid purple">.col-md-9 </div>
        <div class="col-md-3  "style="border: 1px solid purple">.col-md-3 </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-push-3 "style="border: 1px solid purple">.col-md-9 .col-md-push-3</div>
        <div class="col-md-3 col-md-pull-9"style="border: 1px solid purple">.col-md-3 .col-md-pull-9</div>
    </div>

    <div class="row">
        <div class="col-md-4  "style="border: 1px solid purple">col-md-4  </div>
        <div class="col-md-3 "style="border: 1px solid purple">col-md-3 </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-push-3 "style="border: 1px solid purple">col-md-4 col-md-push-3 </div>
        <div class="col-md-3 col-md-pull-5"style="border: 1px solid purple">col-md-3 col-md-pull-5</div>
    </div>
    <div class="row">
        <div class="col-md-3" style="border: 1px solid blue;"><h4>ddddddddddddddddddddd</h4></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-4" style="background-color: #00b7ff;padding-left: 10px">col-xs-4 col-md-7</div>
        <div class="col-xs-4 col-md-3 col-lg-4" style="background-color: yellow">col-xs-4 col-md-3</div>
        <div class="col-xs-4 col-md-3 col-lg-4" style="background-color: pink">col-xs-4 col-md-1</div>
    </div>

</div>



</body>

</html>
