<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#19B5FE">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>野马运营</title>

    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>
    <script src="/javascripts/vendor/AngularJS/angular-sanitize.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">

    <!--网站内部js-->
    <script src="/javascripts/historyApp.js"></script>

    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="../stylesheets/excHistory.css">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->
<iframe src="/html/navbar.html/1 "  width="100%" height="100%" scrolling="no" frameborder="0" ></iframe>

<!--<nav class="navbar navbar-default nav-collapse navbar-fixed-top" id="mainbar">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="/">-->
                <!--<img id="logoimage" alt="Brand" src="/images/home/wildhorse_icon.png" >-->
            <!--</a>-->
        <!--</div>-->

        <!--<div id="navbar" >-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li><a href="/" style="color:white" >首页</a></li>-->

                <!--<li><a style="color:#3498db" href="/myapp/history">交换记录</a></li>-->

                <!--<li><a href="/myapp"style="color:white">我的应用</a></li>-->

                <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Action</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Another action</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="dropdown-header">Nav header</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">One more separated link</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a id="nav-username-display" href="/user" style="color:#3498db"></a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->
<!--</nav>-->

    <!--我的应用-->
<div class="container content" ng-app="historyApp" ng-controller="historyAppCtrl">
    <div class="top">
        <img class="myapp_icon" src="/images/exch_history/myapp_icon.png">
        <p class="myapp_title">我的应用</p>
    </div>

    <!--我的应用部分-->

    <div class="spinner" ng-hide="!isLoadingMyApp">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

    <div class="mainapp">
        <button class="row myapp_content col-md-3 thumbnail_wrap " style="border: 2px solid gray" ng-repeat="app in myApps" ng-click="selectedAppFunc(app.appleId)">
              <img class="app_icon" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">

              <div class="caption">
                <h5 class="AppName">{{ app.trackName }}</h5>
                <!--<p>开发商 {{ app.sellerName }}</p>-->
                <div class="caption-info">
                    <p class="change">App ID:&nbsp;&nbsp;{{ app.appleId }}</p>
                    <p class="change">更新时间:&nbsp;&nbsp;{{ app.latestReleaseDate.substr(0,10) }}</p>
                </div>
              </div>
           </button>


    </div>
    <div style="clear: both"></div>

    <div class="row exchang_pattern">
        <div class="top_title col-lg-6 col-sm-12">
            <img class="exc_record_icon " src="/images/exch_history/exchang_icon.png">
            <h2 class="exc__record_title">交换记录</h2>

            <!--<div class="input-group">-->
                <!--<input  type="text" class="form-control" ng-model="searchKey" ng-keyup="keySearchApp($event)" placeholder="搜索指定产品的交换历史记录…">-->
            <!--<span class="input-group-btn ">-->
                <!--<button class="btn search_color" ng-click="searchLocalHistoryApp()">-->
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                <!--</button>-->
            <!--</span>-->
            <!--</div>-->

            <div class="text-a col-md-3 col-md-offset-10">
                <button type="button " class=" add_exc_history_title hvr-float-shadow"
                        ng-click="addAppHistory()" ng-hide="!myApps.length">
                    手动添加交换记录
                </button>
                <button type="button" class=" add_exc_history_title hvr-float-shadow"
                        onclick="javascript:window.location.href='/myapp'" ng-hide="myApps.length">
                    请先添加我的应用
                </button>
            </div>

        </div>


        <div class="title">
            <h4>当前版本</h4>
            <div class="app_list" ng-repeat="app in myExcAllApps">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading">{{ app.trackName }}</h4>

                    <div class="media-info">
                        <p class="media-info-id">App ID: {{ app.appleId }}</p>
                        <p class="media-info-name">{{ app.sellerName }}</p>
                    </div>

                    <div class="media-info-a">
                        <p class="media-info-lg">手动添加</p>
                        <p class="media-info-time">添加日期:{{ app.excHisDate }}</p>
                    </div>
                        <!--<p class="">更新日期:{{ app.latestReleaseDate }}</p>-->
                        <!--<p>类型 {{ app.appleKind }}</p>-->
                        <!--<p>价格 {{ app.formattedPrice }}</p>-->
                        <!--<p>版本号 {{ app.version }}</p>-->
                        <!--<p>交换日期 {{ app.excHisDate }}</p>-->
                    </div>

                    <div class="media-right">
                        <button class="btn remove_icon hvr-box-shadow-inset" ng-click="releaseHistory(app.appleId, app.hisAppVersion)">
                            <img src="/images/exch_history/no_click_remove.png">
                        </button>
                    </div>
                </div>
            </div>
        <nav>
            <ul class="pager">
                <li ng-hide="!hasMore"><button ng-click = "nextPage()">下一页</button></li>
                <li ng-hide="hasMore">没有更多数据</li>
            </ul>
        </nav>
        </div>

        <div class="title">
            <h4>以往版本</h4>
            <div class="app_list" ng-repeat="app in myHistoryApps">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading">{{ app.trackName }}</h4>
                    <div class="media-info">
                        <p class="media-info-id">App ID: {{ app.appleId }}</p>
                        <p class="media-info-name">{{ app.sellerName }}</p>
                    </div>

                    <div class="media-info-a">
                        <p class="media-info-lg">手动添加</p>
                        <p class="media-info-time">添加日期:{{ app.excHisDate }}</p>
                    </div>

                        <!--<p class="">更新日期:{{ app.latestReleaseDate }}</p>-->
                        <!--<p>类型 {{ app.appleKind }}</p>-->
                        <!--<p>价格 {{ app.formattedPrice }}</p>-->
                        <!--<p>版本号 {{ app.version }}</p>-->
                        <!--<p>交换日期 {{ app.excHisDate }}</p>-->
                    </div>

                    <div class="media-right">
                        <button class="btn remove_icon hvr-box-shadow-inset" ng-click="History(app.appleId, app.hisAppVersion)">
                            <img src="/images/exch_history/no_click_remove.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top_back" style="display: block">
        <div class="glyphicon-rocket">
            <a href="#" target="_self"><img src="/images/home/top_back.png"></a>
        </div>
    </div>
</div>

<script src="/javascripts/cookieHelper.js"></script>

</body>

</html>
