<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#19B5FE">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>野马运营</title>

    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">

    <!--网站内部js-->
    <script src="/javascripts/historyApp.js"></script>

    <link rel="stylesheet" href="../stylesheets/excHistory.css">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->
<nav class="navbar navbar-default nav-collapse navbar-fixed-top" id="mainbar">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/images/home/logo1.png">

            </a>
        </div>

        <div id="navbar" >
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>

                <li class="active"><a href="/myapp/history">交换历史</a></li>

                <li><a href="/myapp">我的应用</a></li>

                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li class="dropdown-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user">某某用户</a></li>
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>

    <!--我的应用-->
<div class="container content" ng-app="historyApp" ng-controller="historyAppCtrl">
    <div class="exchhistory_content">
        <div class="top">
            <img class="myapp_icon" src="/images/exch_history/myapp_icon.png">
            <p class="myapp_title">我的应用</p>
        </div>

        <p class="text-right"><a class="add_exc_history_title" href="/myapp/addHistory">添加交换记录</a></p>
        <!--我的应用部分-->
        <div class="myapp_content media">
            <div class="list-group" ng-repeat="app in myApps">
                <div class="media-left">
                    <img class="media-object" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
                </div>

                <div class="media-body media-right">
                    <h4 class="media-heading">{{ app.trackName }}</h4>
                    <p>开发商 {{ app.sellerName }}</p>
                    <p>appid {{ app.appleId }}</p>
                    <p><span class="change_time">更新时间</span>{{ app.latestReleaseDate }}</p>
                    <!--<p>类型 {{ app.appleKind }}</p>-->
                    <!--<p>价格 {{ app.formattedPrice }}</p>-->
                    <!--<p>版本号 {{ app.version }}</p>-->
                </div>
            </div>
        </div>

        <div class="exchang_pattern">
            <img class="exc_record_icon" src="/images/exch_history/exchang_icon.png">
            <h2 class="exc__record_title">交换记录</h2>
            <div class="col-md-6 col-md-offset-6">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchKey" placeholder="输入App名称">
                      <span class="input-group-btn" ng-click="searchHistoryApp()">
                        <button class="btn btn-default" type="button">搜索</button>
                      </span>
                </div><!-- /input-group -->
            </div>

            <!--搜索组建
            <div class="search_pattern">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchKey" placeholder="输入你想搜索的App名称...">
                      <span class="input-group-btn">
                        <button class="btn" ng-click="searchHistoryApp()">
                            <span class="glyphicon glyphicon-search"></span>搜索
                        </button>
                      </span>
                    </div><!-- /input-group
                </div>
            </div>-->

            <div class="edition_record">
                <span class="now_edition">当前版本</span>
                <div class="list-group" ng-repeat="app in myExcAllApps">
                    <p class="now_time">{{ app.excHisDate }}</p>

                    <div class="current_exchange_record media">

                        <div class="media-left">
                            <img class="media-object app_icon" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
                        </div>

                        <div class="media-body media-right">
                            <h4 class="media-heading">{{ app.trackName }}</h4>
                            <p class="col-md-3">开发者: {{ app.sellerName }}</p>
                            <p class="col-md-3">App ID: {{ app.appleId }}</p>
                            <p class="col-md-4">更新日期:{{ app.latestReleaseDate }}</p>

                            <button class="btn remove_icon" ng-click="releaseHistory(app.appleId, app.hisAppVersion)">
                                <img src="/images/exch_history/no_click_remove.png">
                            </button>
                            <!--<p>类型 {{ app.appleKind }}</p>-->
                            <!--<p>价格 {{ app.formattedPrice }}</p>-->
                            <!--<p>版本号 {{ app.version }}</p>-->
                            <!--<p>交换日期 {{ app.excHisDate }}</p>-->
                        </div>
                    </div>
                </div>

                <span class="carve_up"></span>

                <span class="now_edition">以往版本</span>

                <div class="list-group" ng-repeat="app in myHistoryApps">

                    <p class="now_time">{{ app.excHisDate }}</p>

                    <div class="current_exchange_record media">

                        <div class="media-left">
                            <img class="media-object app_icon" ng-src="{{ app.artworkUrl100 }}" alt="App Icon">
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">{{ app.trackName }}</h4>
                            <p class="col-md-3">开发者: {{ app.sellerName }}</p>
                            <p class="col-md-3">App ID: {{ app.appleId }}</p>
                            <p class="col-md-4">更新时间:{{ app.latestReleaseDate }}</p>

                            <button class="btn" ng-click="History(app.appleId, app.hisAppVersion)">
                                <img id="remove_icon" src="/images/exch_history/no_click_remove.png">
                            </button>
                            <!--<p>类型 {{ app.appleKind }}</p>-->
                            <!--<p>价格 {{ app.formattedPrice }}</p>-->
                            <!--<p>版本号 {{ app.version }}</p>-->
                            <!--<p>交换日期 {{ app.excHisDate }}</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
