<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>野马运营</title>
    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/userProtocol.css">



    <!--网站内部js-->
    <script src="/javascripts/taskCheck.js"></script>
    <script src="/javascripts/indexApp.js"></script>

</head>
<body ng-app="yemaWebApp">
<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>

<div class="content">
    <main class="main">
        <div class="col-xs-12 service-agreement-title">
            <h1 class="text-center ">野马新手引导</h1>

        </div>
        <hgroup class="service-agreement-detials">
            <section>
                <strong style="font-size: 24px">一、在野马里你可以做什么？</strong>
                <ul style="list-style: none;">
                    <li style="font-size: 20px">在野马中你最主要可以做两件事情。1 做别家发布的APP评论任务或下载任务赚取Y币。2 花费Y币发布任务，让别人完成你发布的任务。</li>
                </ul>
            </section>

            <section>
                <strong style="font-size: 24px">二、怎么做任务</strong>
                <ul  style="list-style: none">
                    <li style="font-size: 20px">首先在任务大厅里认领下载或评论任务"，然后再当前任务界面中完成你认领的任务。你还可以把认领的任务，通过复制链接方式发送给你的同事或朋友，让他们帮助你完成。。</li>



                </ul>
            </section>


            <section>
                <strong style="font-size: 24px">三、怎样发布任务</strong>
                <ul style="list-style: none">
                    <li style="font-size: 20px">点击发布任务，第一步，绑定你的需要发布任务的APP。完成后，编辑任务需求，一键发布任务。你的任务便发布到任务大厅中了。而你发布任务的完成进度和结果审核则可以在任务
                        注：绑定APP的操作只需进行一次。
                    </li>

                </ul>
            </section>

            <section>
                <strong style="font-size: 24px">四、野马还提供了什么样的服务。</strong>
                <ol>
                    <li style="font-size: 20px">任务记录－－－如果你不希望其他已经做过你发布的任务的公司人重复认领你的评论或下载任务，你可以把他们的产品手动添加到交换记录中。所有做过你任务的公司也会记录在任务记录中。。</li>
                    <li style="font-size: 20px"> 外部交换工具－－－如果您依然习惯在QQ中联系其他APP的运营进行评论或下载交换，但同时也希望使用野马的任务记录和任务分配功能，外部交换工具可以帮你做到这一点。。</li>

                </ol>
            </section>



            <!--<div style="clear:both"></div>-->
        </hgroup>
    </main>

</div>
<th-footer>

</th-footer>
<script src="/javascripts/cookieHelper.js"></script>

</body>
</html>