<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hack</title>
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <script src="/javascripts/hackingTool.js"></script>
</head>
<body ng-app="hack" ng-controller="hackCtrl">
<h3>重复端口请求</h3>
Url: <input type="text" ng-model="url">
请求次数: <input type="number" ng-model="times">
请求类型: <input type="text" ng-model="type">
<button ng-click="launchUrlAttack()">发动</button>
<div>请求结果: {{results}}</div>
</body>
</html>