<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>野马ASO</title>
    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--网站内部js-->

    <script src="/javascripts/homePage.js"></script>
    <script src="/javascripts/indexApp.js"></script>
    <!--第三方css-->

    <!--网站内部css-->
    <link rel="stylesheet" href="/stylesheets/homepage.css"/>
</head>
<body ng-app="yemaWebApp">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->
<div class="container" ng-controller="indexAppCtrl" >
    <th-nav></th-nav>


<div class="" ng-controller="homePageCtrl">

    <div class="carousel3">
    <div id="myCarousel" class="carousel slide" style="z-index: 2;" >
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators"  >
            <li data-target="#myCarousel" class="active" ng-repeat="banner in bannerUrl">

            </li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div  class="carousel-inner" >
            <div  ng-repeat="banner in bannerUrl"  ng-class="{'item':true, 'active':$index==0}" >
                <img style="height: 280px;" class='foo' ng-src="{{banner}}">
            </div>
        </div>
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">
        </a>

    </div>

    </div>
    <!--邀请好友-->
    <div class="invite" data-toggle="modal" data-target="#myModal2">
        </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="height:120px;width:460px;">
                    点击"确定"按钮即复制网页链接,或Ctrl+C复制到剪切板
                    <input type="text" id="invitecopy" class="from-control" ng-model="inviteUrl" size="70" style="margin-left: 30px;border-radius: 6px;margin-top: 30px;"  />
                </div>

                <div class="modal-footer" style="background-color: #f5f5f5;height:74px;border-radius: 10px;">

                <button class="btn1" ng-click="copyUrl()" data-placement="top"
                        data-toggle="popover"
                        data-content="复制成功!">确认
                </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->

    </div>

    <!--签到-->
    <div class="sign" >
        <img class="img1"  src="/images/homepage/back.png" />
        <div class ="circle" >
            <span><br>已连续签到
            </span>
            <span style="font-size:40px;color:blue;"><br>&nbsp;{{continueCheck}}
            </span>
            <span>天
            </span>
        </div>

        <button  type="button" class="btn btn-primary" ng-show="isCheckIns == 0 || errorId == 0">
            已签到
        </button>
        <button  type="button" class="btn btn-primary1  " ng-click="butCheckIns(todayYB, tomorrowYB)" ng-show="isCheckIns != 0 || errorId != 0">
            签到+{{todayYB}}Y币
        </button>

        <div class="text">
        <span class="text1">明日签到得<span class="text2">{{tomorrowYB}}
        </span>Y币,连续签到<br>奖励更多
        </span>
        </div>
    </div>


        <!--重要消息-->
    <div class="important">
        <div id="myCarousel1" class="carousel slide" >
            <!-- 轮播（Carousel）指标 -->
            <img  class="img2" src="/images/homepage/main1.png">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel2"></div>
            <div  class="carousel-inner">
                <div class="item active" style="margin-left: 370px;margin-top: -20px;">
                    您有三条任务还未完成
                </div>
                <div class="item" style="margin-left: 370px;">
                    您有四条任务还未完成
                </div>
                <div class="item" style="margin-left: 370px;">
                    您有五条任务还未完成
                </div>
            </div>

            <!-- 轮播（Carousel）导航 -->
            <div class="goon">
            <a class="carousel-control right"
               style="background:url(/images/homepage/main2.png); border: 1px solid #cccccc;width:74px;height: 60px;margin-right:-215px;margin-top: 297px;px;font-size:30px;float:right;"
               href="#myCarousel1"
               data-slide="next">
            </a>
            </div>
        </div>
    </div>
    <!--新手任务-->
    <div style="margin-top: 325px;">
      <span class="head1"><br><br>新手任务
      </span>
    <div>
    <div>
        <img src="/images/homepage/new1.png">
    </div>
        <div class="text3">领取任务,完成任务并上传
            <button class="new">可领取{{noviceTaskObject.noviceReward}}Y币
            </button>
        </div>
        <div class="img4">
            <img src="/images/homepage/new2.png">
        </div>
        <div class="text4">所做任务审核通过
            <button class="new1">{{noviceTaskObject.noviceTaskAcceptReward}}
            </button>
        </div>
    </div>
    </div>
    <!--每日任务-->
    <span class="text5">每日任务
    </span>
    <span class="text6">我的Y币变动明细
        <a href="">
        </a>
    </span>
    <div class="body1">
        <div style="margin-top:-10px;">
            <span class="text01"><br>上午10点前发布一次任务
            </span>
            <span class="text02"><br>预计可领4Y币
            </span><br>
            <button class="get1">
                <span class="text03">已领完
                </span>
            </button>
        </div>
    </div>
    <div  class="body2">
        <div style="margin-top:-8px;">
            <span class="text01"><br>下午4点前完成领取的任务
            </span>
            <span class="text02"><br>预计可领4Y币
            </span><br>
            <button class="get2">
                <span class="text03">可领取
                </span>
            </button>
        </div>
    </div>
    <div class="body3" >
        <div style="margin-top:-8px;">
            <span class="text01"><br>下午5点前审核完所有任务
            </span>
            <span class="text02"><br>预计可领4Y币
            </span><br>
            <button class="get3">
                <span class="text03" >未满足
                </span>
            </button>
        </div>
    </div>
   <!--竖线-->
    <div  class="line">
    </div>
    <!--我发布的任务-->
    <span class="head2"><br><br>我发布的任务</span><br><br>
    <div class="body4" ng-repeat="app in myReleaseTask">
        <div class="release1">
            <img class="img10" ng-src="{{app.artworkUrl100}}">
        </div>

        <div class="release2">进度<br>
            <span class="release3">任务类型:
            </span>
            <span class="release4">{{app.taskType}}
            </span>
        </div>
        <div class="go1">
            <div class="go2">
            </div>
        </div>
        <div class="got">
            <span class="got1">{{app.remainCount}}</span>
            <span>/{{app.excCount}}</span>
            <div style="margin-top: -15px;margin-left: 42px;">
                <button class="but" ng-click="jump(app)">实时排名</button>
                <button class="but" ng-click="jump1(app)" style="margin-left: 10px;">ASO</button>
                <button class="but" ng-click="jump2(app)" style="margin-left: 10px;">评论统计</button>
                <button class="but" ng-click="jump3(app)" style="margin-left: 10px;">下载量</button>
            </div>
        </div>
    </div>
     <!--邀请好友奖励-->
    <span class="head4"><br><br>邀请好友奖励</span>
    <div class="panel-body" style="margin-bottom: 70px;">
         <div class="body5">
            <div style="margin-top:5px;">
             <span class="font1" style="">邀请注册奖励
             </span>
            <span class="font2"><br>邀请好友注册野马,好友注册成功
            </span>
            <span class="font3"><br>奖励20Y币/人
            </span><br>
            <button class="butt">
                <span class="text07" >可领{{noviceTaskObject.canReceive}}Y币
                </span>
            </button>
         </div>
         </div>
       <div  class="body6">
        <div style="margin-top:5px;">
        <span class="font1">引导新人奖励</span>
        <span class="font2"><br>引导好友完成新手任务,获得奖励</span>
        <span class="font3"><br>奖励30Y币/人</span><br>
        <button class="butt">
            <span class="text07">可领{{noviceTaskObject.successCanReceive}}Y币
            </span>
        </button>
        </div>
       </div>
    </div>
</div>
</div>


<th-footer></th-footer>
</body>
<script src="/javascripts/cookieHelper.min.js"></script>
</html>
