<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>野马ASO</title>
    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--网站内部js-->
    <script src="/javascripts/homePage.js"></script>
    <script src="/javascripts/indexApp.js"></script>

</head>
<body ng-app="yemaWebApp">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->
<div class="container" ng-controller="indexAppCtrl" >
    <th-nav></th-nav>


    <div class="" ng-controller="homePageCtrl">
        <div id="myCarousel" class="carousel slide" style="z-index: 1;margin-left: 80px;margin-top:-50px;float: left;width:60% ;height: 200px;" >
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators" >
                <li data-target="#myCarousel" class="active" ng-repeat="banner in bannerUrl"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div ng-repeat="banner in bannerUrl"  ng-class="{'item':true, 'active':$index==0}" >
                    <img class='foo' ng-src="{{banner}}" style="width: 100vw; margin-top: 50px;">
                </div>
            </div>

        </div>
        <!--签到- ->
        <div class="panel-body" style="margin-left: 15px;margin-top: 0px;width:30%;height: 200px;border: 1px solid black;float: left;">
            <button type="button" class="btn btn-primary" ng-click="butCheckIns(todayYB, tomorrowYB)" ng-show="isCheckIns != 0 || errorId != 0">
                签到
            </button>
            <button type="button" class="btn btn-primary" ng-show="isCheckIns == 0 || errorId == 0">
                已签到
            </button>
        </div>

    <!--重要消息-->

        <div id="myCarousel1" class="carousel slide" style="font-size:30px;margin-right: -15%;margin-left: 100px;margin-top:60px;">
            <!-- 轮播（Carousel）指标 -->

            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    您有三条任务还未完成
                    <div class="carousel-caption">标题 1</div>
                </div>
                <div class="item">
                    您有四条任务还未完成
                    <div class="carousel-caption">标题 2</div>
                </div>
                <div class="item">
                    您有五条任务还未完成
                    <div class="carousel-caption">标题 3</div>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control right" style="margin-top:200px;font-size:30px;margin-right: 15%;margin-left: 100px;" href="#myCarousel1" style="font-size: 1em;border: 6px solid #3498db;height: 60px;"
               data-slide="next">&rsaquo;</a>
        </div>

        <!--新手任务-->
        <h3 style="margin-right: 35%;margin-left: 100px;margin-top: 15px;"><br><br>新手任务</h3>
        <!--每日任务-->
        <h3 style="margin-top:15px;float:right;">每日任务<a href="">我的Y币明细</a></h3>
        <div class="panel-body" style="margin-left:30px;float:right;width:30%;">
            <span>上午10点前发布一个任务</span>
            <button>已领完</button>
        </div>
        <div class="panel-body" style="margin-left:30px;float:right;width:30%;">
            <span>下午四点前完成领取的任务</span>
            <button>未领取</button>
        </div>
        <div class="panel-body" style="margin-left:30px;float:right;width:30%;">
            <span>下午5点审核完所有任务</span>
            <button>已领取</button>
        </div>

        <!--我发布的任务-->
        <h3 style="margin-right: 35%;margin-left: 100px;margin-top: 15px;"><br><br>我发布的任务</h3>
        <div class="panel-body" style="padding-left:50px;padding-right:50px;margin-right: 35%;margin-left: 100px;font-size:20px;">
            <div><img src="/images/doTask/mylist.jpg" />
                <button class="btn task1" >事实排名</button>
                <button class="btn task2" >ASO</button>
                <button class="btn task3">统计排名</button>
                <button class="btn task4">下载量</button>
            </div>
            <div></div>


        </div>



    </div>
</div>
<th-footer></th-footer>
</body>
<script src="/javascripts/cookieHelper.min.js"></script>
</html>