<!doctype html>
<html lang="zh-CN">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#19B5FE">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>野马运营</title>

    <meta name="keywords" content="ASO优化,极速高效运营,IOS换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">

    <link rel="stylesheet" href="../stylesheets/index.css">

    <script src="/javascripts/indexApp.js"></script>

    <!--<link rel=”stylesheet” type=”text/css” href="../stylesheets/index.css">-->

</head>


<body >
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" ng-app="indexApp" ng-controller="indexAppCtrl">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li><a  class="navbar-brand" href="/"><img src="images/home/logo1.png" alt=""></a></li>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a style="color:white" href="/myapp/history">交换记录</a></li>
                <li><a style="color:white" href="/dailyTask">今日任务</a></li>
                <li class="dropdown">
                    <a  style="color:white" href="/myapp" data-toggle="dropdown" class="dropdown">我的应用<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background: rgba(0,0,0,.7)">
                        <li class="myapp-list" ng-repeat="app in tracknameAPPs">
                            <a ng-href="app/{{app.appid}}">{{ app.trackName }}</a>
                        </li>
                        <li><a href="/myapp">管理我的应用</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="nav-right-id" class="nav navbar-nav navbar-right">
                <!--<li><a id="nav-username-display" href="/user" style="color:#17ddaa"></a></li>-->
                <li><a style="color:white" href="/user/login">登录</a></li>
                <button type="button" class="btn btn-primary btn-sm navbar-btn" onclick="javascript:window.location.href='/user/register'">快速注册</button>-->
            </ul>
        </div>
    </div><!--container -->
</nav><!--.navbar-collapse -->


<div class="container middle" >
    <div class="row">
        <div class="col-lg-12" style="text-align: center">
            <p style="color: white">我们希望互联网产品运营</p>
            <p style="color: white">可以更加便捷</p>
            <p>
                <button id="content-button" class="btn btn-primary btn-lg hvr-pulse-grow"
                        onclick="javascript:window.location.href='/myapp'">
                    &nbsp;&nbsp;START&nbsp;&nbsp;&nbsp;NOW&nbsp;&nbsp;
                </button>
            </p>
        </div>
   </div>
</div>

   <div class="container foot" >
       <div class="row" >
        <div class="col-lg-4 col-xs-4 last "style="color: white;">产品交流 768826903</div>
        <div class="col-lg-4 col-xs-4 last"style="color: white;">© 无锡上熙联合科技有限公司 2016</div>
        <div class="col-lg-4 col-xs-4 last"><a  style="color:white;text-decoration: none;" href="/userProtocol">服务协议</a> </div>
      </div>
   </div>



<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77354947-1', 'auto');
    ga('send', 'pageview');

</script>

<script src="/javascripts/cookieHelper.js"></script>

</body>

</html>
