<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>野马运营</title>

    <meta name="theme-color" content="#19B5FE">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../stylesheets/interiorExcDetail.css">

    <!--网站内部js-->

    <script src="/javascripts/interiorExcDetail.js"></script>
    <script src="/javascripts/indexApp.js"></script>

</head>

<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>


<!--任务列表-->

<div class="page-wrapper"  ng-controller="interorDetailControl">
    <div class="header-wrapper hidden-xs">
        <h1 class="header">任务详情</h1>
        <hr class="hr-header"/>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img  style="position: relative" class="logo" ng-src="{{ oneAppInfo.artworkUrl100 }}" alt="" class="img-thumbnail"/></a>
        </div>
        <div class="media-body ">
            <div class="task-link">{{ oneAppInfo.trackName.substr(0,6)+'...' }}</div>
            <div>
                <span class="id hidden-xs">App ID: {{ oneAppInfo.appleId }}</span>
                <span class="company hidden-xs">{{ oneAppInfo.sellerName.substr(0,12)+"..." }}</span>
            </div>

            <div class="download">
                <span><a  class="download" href="#">{{ oneAppInfo.excKinds }}</a></span>
                <span class="left"> 共<em class="num">{{ oneAppInfo.totalExcCount }}</em>条</span>
            </div>
        </div>

    </div>
    <hr/>

    <div>
        <h3 class="mytitle">需求截图</h3>

        <div id='screenShot' style="background:url(/images/appDetail/screenshot-background.png); width: 640px;
                        padding: 36px 54px 60px 30px; margin: auto;">
            <div class="row">
                <div class="col-sm-3">
                    <img  class="appicon" style="display: inline-block; margin: 0 26px 40px 20px;
                                width: 120px; height: 120px; border-radius: 20px"
                          ng-src="{{  oneAppInfo.artworkUrl100 }}" alt="App Icon"/>
                </div>
                <div class="col-sm-9" style="padding-left: 50px;">
                    <p style="font-size: 24px; color: #ffffff;
                                width: 330px; margin-top: 10px">
                        {{ oneAppInfo.trackName.substr(0,12)+"..."  }}
                    </p>
                    <p style="color: #ffffff;
                                width: 330px;">
                        更新日期: {{ oneAppInfo.latestReleaseDate.substr(0,10) }}
                    </p>
                    <p style="color: #ffffff; font-size: 20px;">
                        任务类型: <span class="synwords" style="color: #ffc273">{{oneAppInfo.taskType}}</span>
                    </p>
                </div>
            </div>

            <ol style="font-size: 20px; color: #ffffff;
                            list-style-position: inside; padding:0; margin:0;">
                <li style="margin-bottom: 30px">
                    <p>app store 搜索"<span class="synwords">{{oneAppInfo.searchKeyword}}</span>"
                        第<span class="synwords">{{oneAppInfo.ranKing}}</span>
                        名左右, 找到应用,如上图图标, 下载.</p>
                </li>
                <li style="margin-bottom: 30px">
                    <p> 打开app, 请务必过引导页.</p>
                </li>
                <li style="margin-bottom: 30px" ng-hide="oneAppInfo.taskType == '评论'">
                    <p> 截图2张,一张搜索图,一张打开激活图.</p>
                </li>
                <li  style="margin-bottom: 30px" ng-hide="oneAppInfo.taskType == '下载'">
                    <p  style="margin-bottom: 20px">
                        返回app store, 好评"<span class="synwords">{{oneAppInfo.Score}}</span>星"
                    </p>
                    <p style="margin-bottom: 20px">
                        &nbsp &nbsp &nbsp 标题关键词: <span class="synwords">{{oneAppInfo.titleKeyword}}</span></p>
                    <p style="margin-bottom: 20px">
                        &nbsp &nbsp &nbsp评论关键词: <span class="synwords">{{oneAppInfo.commentKeyword}}</span></p>
                </li>
                <li  style="margin-bottom: 30px" ng-hide="oneAppInfo.taskType == '下载'">
                    <p> 备注:</p>
                    <p style="border: 1px solid #cdf1ff; font-size: 18px;
                                    margin-top: 20px; margin-bottom: 70px;
                                    padding: 18px 20px 18px 20px;" ng-show = "oneAppInfo.detailRem.length">
                        {{oneAppInfo.detailRem}}
                    </p>
                </li>
            </ol>

            <p style="font-size: 24px; color: #ffffff;">
                手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                -友情提醒, 避免撕逼
            </p>
        </div>
    </div>
    <hr/>

    <div class=" row submission-info " ng-repeat="task in taskInfo" >
        <div class="col-xs-12">
            <div class="text-right">提交人: {{task.uploadName}}</div>
            <div class="">拒绝理由:{{task.detail}}</div>
            <span class="submission-screenshot" ng-repeat="taskImg in task.taskImages">
                <img ng-src="{{taskImg}}">
            </span>
        </div>
        <div class="col-lg-4 col-lg-offset-8">
            <button style="width: 80px;height: 36px;background-color: #dddddd;font-size: 16px;color: #ffffff;border-radius: 4px;border: 1px solid  #dddddd">已审核</button>
            <button style="width: 80px;height: 36px;background-color: #fff2f4;font-size: 16px;color: #f7798b;border-radius: 4px;border: 1px solid  #fff2f4">被拒绝</button>
            <button style="width: 80px;height: 36px;background-color: #f5fbff;font-size: 16px;color: #79c3f7;border-radius: 4px;border: 1px solid  #f5fbff">待审核</button>
        </div>
    </div>
</div>

<script src="/javascripts/cookieHelper.js"></script>
</body>
</html>