<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>野马运营</title>

    <meta name="theme-color" content="#19B5FE">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/loading.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">

    <link rel="stylesheet" href="../stylesheets/interiorExcDetail.css">
    <link rel="stylesheet" href="../stylesheets/pcAndmobTask.css">

    <script src="/javascripts/vendor/AngularJS/angular-file-upload.min.js"></script>

    <!--网站内部js-->

    <script src="/javascripts/interiorExcDetail.js"></script>
    <script src="/javascripts/indexApp.min.js"></script>

</head>

<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>


<!--任务列表-->

<div class="page-wrapper"  ng-controller="interorDetailControl">
    <div class="header-wrapper hidden-xs" >
        <h1 class="header">任务详情</h1>

        <hr class="hr-header"/>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#"><img  style="position: relative" class="logo" ng-src="{{ oneAppInfo.artworkUrl100 }}" alt="" class="img-thumbnail"/></a>
        </div>
        <div class="media-body ">
            <div class="task-link">{{ oneAppInfo.trackName.substr(0,6)+'...' }}</div>
            <div>
                <span class="id hidden-xs">App ID: {{ oneAppInfo.appleId }}</span>
                <span class="company hidden-xs">{{ oneAppInfo.sellerName.substr(0,12)+"..." }}</span>
            </div>

            <div class="download">
                <button class="button_type"><a  class="download" href="#">{{ oneAppInfo.excKinds }}</a></button>
                <button class="left button_num"><span>共</span> <span class="num">{{ oneAppInfo.totalExcCount }}</span>条</button>

            </div>
        </div>

    </div>
    <hr/>

    <h4>需求截图</h4>
    <div class="task-demand-info">
        <div class="color-mob">
            <!--做任务的需求部分-->
            <div class="item item-body" style="margin-top:50px">
                <!--截图一部分-->
                <div class="capture">
                    <span class="capture-info">任务手机必须有SIM卡</span>
                    <div class="capture-top">
                        <img class="img-size" src="/images/taskInfor/screenshotImg.png">
                        <span class="capture-tl">截图一</span>
                    </div>

                    <div class="addTaskInfo">
                        <p class="task-claim">1.App Store搜索关键字:
                            <span class="color-ramp">{{oneAppInfo.searchKeyword}}</span>, 大概在第
                            <span class="color-ramp">{{oneAppInfo.ranKing}}</span>位
                            <span style="font-size: 12px; color: #67bdff">(+{{oneAppInfo.asoRank}}YB)</span>
                        </p>

                        <p class="task-claim">2.找到指定App后,
                            <span class="glyphicon glyphicon-camera color-camera"></span>
                            <span class="color-camera" style="font-size: 16px">截图</span>, 然后下载
                <span class="" ng-show="oneAppInfo.needGet == true">
                    (本任务需<span class="color-ramp">获取</span>按钮)
                    <span class="color-ramp">(+5YB)</span>
                </span>
                        </p>
                    </div>
                </div>

                <!--截图二部分-->
                <div class="capture">
                    <span class="capture-info">任务截图需跳过引导页</span>

                    <div class="capture-top">
                        <img class="img-size" src="/images/taskInfor/screenshotImg.png">
                        <span class="capture-tl">截图二</span>
                    </div>

                    <div class="addTaskInfo">
                        <p class="task-claim">3.下载完毕,打开App,试用3分钟.
                        <span class="" ng-show="oneAppInfo.registerStatus == 'third'">
                            (本任务需<span class="color-ramp">第三方登陆</span>
                            <span style="font-size: 12px; color: #67bdff">(+2YB)</span>)
                        </span>
                            <span class="glyphicon glyphicon-camera color-camera"></span>
                            <span class="color-camera" style="font-size: 16px">截图</span>
                        </p>
                    </div>
                </div>

                <!--截图三部分-->
                <div class="capture">
                    <span class="capture-info">评论页截图不能有键盘</span>
                    <div class="capture-top">
                        <img class="img-size" src="/images/taskInfor/screenshotImg.png">
                        <span class="capture-tl">截图三</span>
                    </div>

                    <div class="addTaskInfo">
                        <p class="task-claim">4.打开App Store, 按下面要求评论</p>

                        <!--标题部分-->
                        <div style="margin-left: 44px;">
                            <p class="comment-top">a.标题关键字(包含任意1个)</p>
                            <p class="">{{oneAppInfo.titleKeyword}}</p>
                            <p ng-show="oneAppInfo.reviewMustTitleKey != ''" class="comment-top">必须包含:
                                <span class="color-ramp">{{oneAppInfo.reviewMustTitleKey}}&nbsp;(+2YB)</span>
                            </p>

                            <!--评论部分-->
                            <p class="comment-top">b.评论内容关键字(包含任意2个)</p>
                            <p class="">{{oneAppInfo.commentKeyword}}</p>
                            <p ng-show="oneAppInfo.reviewMustContentKey != ''" class="comment-top">必须包含:
                                <span class="color-ramp">{{oneAppInfo.reviewMustContentKey}}&nbsp;(+2YB)</span>
                            </p>

                        </div>
                        <p class="">
                        <span ng-show="oneAppInfo.needMoreReviewContent == true">
                            <span class="task-claim">评论字数</span><span class="color-ramp">超过50字</span>
                            <span style="font-size: 12px; color: #67bdff">(+3YB)</span>。
                        </span>

                            <span class="glyphicon glyphicon-camera color-camera"></span>
                            <span class="color-camera" style="font-size: 16px">截图</span>
                        </p>
                    </div>
                </div>

                <div class="capture" ng-show="oneAppInfo.taskRemark != undefined && oneAppInfo.taskRemark != ''">
                    <div class="capture-top">
                        <img class="img-size" src="/images/taskInfor/screenshotImg.png">
                        <span class="capture-tl">备&nbsp;&nbsp;&nbsp;注</span>
                    </div>

                    <div class="addTaskInfo">
                        <P class="task-claim">5.{{oneAppInfo.taskRemark}}</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="alert alert-info" role="alert">
        如何选定多张图片上传: 在上传弹窗里, windows系统按住ctrl, mac系统按住command
        <br>
        <br>
        该功能根据用户需求开发,目前免费内测体验
    </div>

    <div>
        <div class="col-xs-6 submission-info" ng-repeat="task in taskInfo" >
            <div ng-if="task.type == 'real'">
                <div class="taskTitle">
                    <span style="font-size: 16px; float: left;">第 {{$index + 1}} 组</span>
                    <span style="font-size: 16px; float: right;">提交人: {{task.uploadName}}</span>
                </div>
                <div style="padding-top: 16px; padding-bottom: 16px; width: 100%;">
                    <div ng-if="task.status == '待审'" style="height:36px; margin-left: 15px; margin-right: 15px;">
                        <div class="submittedTab">待审核</div>
                        <button class="btn btn-primary btn-primary-resubmit"  ng-class="{true: 'disabled'}[progressBarCtrl[$index]]"   ng-click="setUploaderName(task.uploadName, $index)">
                            <div>重新上传</div>
                            <input class="upload" type="file" ng-disabled="progressBarCtrl[$index]" nv-file-select="" uploader="uploader" multiple/>
                        </button>
                    </div>
                    <div ng-if="task.status == '已完成'" class="completedTab">已完成</div>
                    <div ng-if="task.status == '已过期'" class="completedTab">已过期</div>
                    <div ng-if="task.status == '拒绝'" style="height:36px; margin-left: 15px; margin-right: 15px;">
                        <div class="rejectedTab">被拒绝</div>
                        <span style="height: 35px;
                                     width: 300px;
                                     font-size: 16px;
                                      color: #f7798b">
                            {{task.detail}}
                        </span>
                        <button class="btn btn-primary btn-primary-resubmit"  ng-class="{true: 'disabled'}[progressBarCtrl[$index]]"  ng-click="setUploaderName(task.uploadName, $index)">
                            重新上传
                            <input class="upload" type="file" ng-disabled="progressBarCtrl[$index]" nv-file-select="" uploader="uploader" multiple/>
                        </button>
                    </div>
                </div>

                <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 20px;" ng-hide="progressBarCtrl[$index]">
                    <span class="submission-screenshot" ng-repeat="taskImg in task.taskImages">
                        <img ng-src="{{taskImg}}">
                    </span>
                </div>
                <div style="height: 280px; padding:50px 20px 0 20px" ng-show="progressBarCtrl[$index]">
                    <div class="progress" ng-show="progressBarCtrl[$index] && errorId == 0">
                        <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: progressNum+ '%'}">
                        </div>
                    </div>
                    <div ng-show="progressBarCtrl[$index] && errorId != 0">
                        {{errorMsg}}
                    </div>
                </div>
            </div>

            <div ng-if="task.type == 'dummy'">
                <div class="taskTitle">
                    <span style="font-size: 16px; float: left;">第 {{$index + 1}} 组</span>
                </div>
                <div style="width: 100%; padding-top: 130px; padding-bottom: 120px; text-align: center;">
                    <button type="button" class="btn btn-primary btn-primary-customized"  ng-class="{true: 'disabled'}[progressBarCtrl[$index]]" ng-click="setUploaderName(task.uploadName, $index)">
                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                        上传任务截图
                        <input class="upload" type="file"   ng-disabled="progressBarCtrl[$index]" nv-file-select="" uploader="uploader" multiple/>
                    </button>

                    <div style="height: 50px; padding: 10px 20px 0 20px">
                        <div class="progress" ng-show="progressBarCtrl[$index] && errorId == 0">
                            <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: progressNum+ '%'}">
                            </div>
                        </div>
                        <div ng-show="progressBarCtrl[$index] && errorId != 0">
                            {{errorMsg}}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div style="margin-top: 30px;text-align: center;" >
        <button class="butt" ng-click="commitConfirm()">确认提交</button>
    </div>
</div>
<script src="/javascripts/cookieHelper.js"></script>
</body>
</html>