<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <title>登陆界面</title>
</head>

    <div class="row">
        <div class="col-lg-5">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">@手机号码:</span>
                <input type="text" class="form-control" placeholder="输入手机号码" aria-describedby="sizing-addon2">
            </div>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-5">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">@输入密码:</span>
                <input type="text" class="form-control" placeholder="请输入密码" aria-describedby="sizing-addon2">
            </div>
        </div>
    </div><!-- /.row -->


    <div class="row">
        <div class="col-xs-6 col-sm-4"></div>
            <button type="button" class="btn btn-primary btn-sm">登陆</button>
    </div>

</body>
</html>