<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <title>野马运营</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/myApp.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <script src="/javascripts/vendor/html2canvas.js"></script>

    <!--网站内部js-->
    <script src="/javascripts/itunesApi.js"></script>
    <script src="/javascripts/indexApp.js"></script>
</head>
<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->
  <div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
       <th-nav></th-nav>
  </div>
<div class="container">
    <div  class=" main_content"  ng-controller="itunesSearchControl">
        <button class="add_app" data-target="#addApp_modal" data-toggle="modal" ng-hide="numOfApps >= 5">
            <span class="glyphicon glyphicon-plus" style="color: #3498db"></span>添加任务应用
        </button>
        <h3 class="mytitle">第一步:选择或添加任务应用

        </h3>
        <div ng-show="numOfApps >= 5"class="alert alert-danger" style="margin-left: 380px;width: 200px;margin-top: -50px">目前只能添加5个应用哦</div>

            <div class="list-group thumbnail_wrap" ng-click="selectedAppFunc(app.appleId)"  ng-repeat="app in myApps">


                <a href="" ng-click="releaseBtnClick(app.appleId)" data-toggle="modal" data-target="#mymodal">
                    <button type="button" class=" btn-sm_release" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>

                <a href=""><img ng-src="{{ app.artworkUrl512 }}" class="img-responsive"  alt="App Icon"></a>

                <p class="app_name ">{{ app.trackName.substr(0,10)+"..."  }}</p>
                <p class="app_version">版本号 {{ app.version }}</p>
                <p class="app_update">更新日期{{ app.latestReleaseDate.substr(0,10)}}</p>
                <!--<a >-->
                    <!--<button  class="app_button_bottom hvr-box-shadow-inset" >解绑</button>-->
                <!--</a>-->
            </div>


        <div class="addApp" ng-hide="numOfApps >= 5">
            <button class="btn_addApp" data-target="#addApp_modal" data-toggle="modal">
                <span class="glyphicon glyphicon-plus" style="width: 20px;height: 20px"></span>
            </button>
        </div>
        <div style="clear: both"></div>
        <hr style="margin-top: -50px;width: 1001px">
        <div class="alert alert-danger">
            在任务需求编辑中，你可以非常详细的记录换评换量需求，且只需填写一次，之后只需每天修改关键信息即可
        </div>

        <div id="need" ng-show="myApps.length">
            <div>
                <h3 class="mytitle">第二步:填写任务信息</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 任务类型:</label>
                        <div class="col-lg-8">
                            <label class="radio-inline">


                                <input type="radio" name="radio"
                                       ng-model="appNeedInfo.taskType"  value="评论" ng-click="setValue1()"> 评论

                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radio" ng-model="appNeedInfo.taskType" value="下载" ng-click="setValue2()"> 下载
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 任务数量:</label>
                        <div class="col-lg-1">
                            <input type="text" class="form-control" ng-change="calcuQuantity()" ng-model="appNeedInfo.excCount">
                        </div>
                        <label  class="col-lg-2 control-label" > 任务单价:</label>
                        <div class="col-lg-1">

                            <input type="text"readonly="true" style="background-color: white"
                                   class="form-control" id="price"
                                   ng-model="appNeedInfo.excUnitPrice"  placeholder="">
                        </div>
                        <label class="col-lg-2" style="font-size: 14px;padding-top: 5px;color: RED;
                        ">注:暂不可自主定价</label>

                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 截图数量:</label>
                        <div class="col-lg-2">
                            <label class="radio-inline">
                                <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=2> 2张
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=3> 3张
                            </label>
                        </div>
                        <div ng-show="error.length" class=" col-lg-4 alert alert-danger"> {{error}}</div>
                    </div>
                </form>
                <hr>
            </div>

            <div>
                <h3 class="mytitle">第三步:填写下载信息</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" >搜索关键词:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="" ng-model="appNeedInfo.searchKeyword">
                        </div>
                        <label  class="col-lg-1 control-label">排名:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" style="width: 143px;" placeholder="" ng-model="appNeedInfo.ranKing">
                        </div>
                    </div>
                </form>
                <hr>
            </div>

            <div ng-hide="appNeedInfo.taskType == '下载'">
                <h3 class="mytitle">第四步:补充评论信息</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" >评分:</label>
                        <div class="col-lg-8">
                            <label class="radio-inline">
                                <input type="radio" ng-value=5 ng-model="appNeedInfo.Score"> 5星
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-value=4 ng-model="appNeedInfo.Score"> 4星
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 标题关键词:</label>
                        <div class="col-lg-5" >
                            <input type="text"  class="form-control" placeholder="请输入小于20字符"
                                   ng-model="appNeedInfo.titleKeyword"
                                   ng-change="checkText1()">
                        </div>
                        <label  class="col-lg-1 control-label" style="margin-left: -40px" ><span ng-bind="appNeedInfo.titleKeyword.length+0" ng-style="color"></span>/20</label>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 评论关键词:</label>
                        <div class="col-lg-5">
                    <textarea class="form-control"id="maxlen" rows="2" style="height: 60px" placeholder="请输入小于40字符"
                              ng-model="appNeedInfo.commentKeyword"
                              ng-change="checkText2()">

                    </textarea>
                        </div>
                        <label  class="col-lg-1 control-label" style="margin-left: -40px" >
                            <span ng-bind="appNeedInfo.commentKeyword.length+0" ng-style="color"></span>/40
                        </label>
                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label" >详情备注:</label>
                        <div class="col-lg-5">
                               <textarea  class="form-control" rows="5" placeholder="1.标题不少于2个关键词 2.请两日内不卸载
                               " ng-model="appNeedInfo.detailRem"
                                          ng-change="checkText3()">
                               </textarea>
                        </div>
                        <label  class="col-lg-1 control-label" style="margin-left: -40px;margin-top: 30px" >
                            <span ng-bind="appNeedInfo.detailRem.length+0" ng-style="color"></span>/140
                        </label>
                    </div>
                </form>
                <hr>
            </div>


            <div>
                <h3 class="mytitle">最后一步:需求预览</h3>

                <div id='screenShot' style="background:url(/images/appDetail/screenshot-background.png); width: 640px;
                        padding: 36px 54px 60px 30px; margin: auto;">
                    <div class="row">
                        <div class="col-sm-3">
                            <img  class="appicon" style="display: inline-block; margin: 0 26px 40px 20px;
                                width: 120px; height: 120px; border-radius: 20px"
                                  ng-src="{{  selectedApp.artworkUrl100 }}" alt="App Icon"/>
                        </div>
                        <div class="col-sm-9" style="padding-left: 50px;">
                            <p style="font-size: 24px; color: #ffffff;
                                width: 330px; margin-top: 10px">
                                {{ selectedApp.trackName.substr(0,12)+"..."  }}
                            </p>
                            <p style="color: #ffffff;
                                width: 330px;">
                                更新日期: {{ selectedApp.latestReleaseDate.substr(0,10) }}
                            </p>
                            <p style="color: #ffffff; font-size: 20px;">
                                任务类型: <span class="synwords">{{appNeedInfo.taskType}}</span>
                            </p>
                        </div>
                    </div>

                    <ol style="font-size: 20px; color: #ffffff;
                            list-style-position: inside; padding:0; margin:0;">
                        <li style="margin-bottom: 30px">
                            <p>app store 搜索"<span class="synwords">{{appNeedInfo.searchKeyword}}</span>"
                                第<span class="synwords">{{appNeedInfo.ranKing}}</span>
                                名左右, 找到应用,如上图图标, 下载.</p>
                        </li>
                        <li style="margin-bottom: 30px">
                            <p> 打开app, 请务必过引导页.</p>
                        </li>
                        <li style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '评论'">
                            <p> 截图2张,一张搜索图,一张打开激活图.</p>
                        </li>
                        <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                            <p  style="margin-bottom: 20px">
                                 返回app store, 好评"<span class="synwords">{{appNeedInfo.Score}}</span>星"
                            </p>
                            <p style="margin-bottom: 20px">
                                &nbsp &nbsp &nbsp 标题关键词: <span class="synwords">{{appNeedInfo.titleKeyword}}</span></p>
                            <p style="margin-bottom: 20px">
                                &nbsp &nbsp &nbsp评论关键词: <span class="synwords">{{appNeedInfo.commentKeyword}}</span></p>
                        </li>
                        <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                            <p> 备注:</p>
                            <p style="border: 1px solid #cdf1ff; font-size: 18px;
                                    margin-top: 20px; margin-bottom: 70px;
                                    padding: 18px 20px 18px 20px;" ng-show = "appNeedInfo.detailRem.length">
                                {{appNeedInfo.detailRem}}
                            </p>
                        </li>
                    </ol>

                    <p style="font-size: 24px; color: #ffffff;">
                        手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                        -友情提醒, 避免撕逼
                    </p>
                </div>
                <div class="button_state">
                    <div class="col-lg-3">
                        <button class="btn btn_download"  ng-click='getScreenShot()'>
                            下载需求图
                        </button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn_save1" ng-click="saveNeed()">保存</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn_save2">已保存</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn_task" ng-click="releaseTask()" data-target="#releaseTask" data-toggle="modal">发布任务</button>
                    </div>

                </div>


            </div>
        </div>




        <!--Modal-->
        <div class="modal fade" id="mymodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">解绑提示</h4>
                    </div>
                    <div class="modal-body">
                        <p>确认解绑此应用?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="releaseMyApp()" >确认</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--解绑弹窗提示-->

        <div class="modal fade" id="addApp_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="height: 24px"></h4>
                    </div>
                    <div class="modal-body" >
                        <div class="col-lg-6 col-sm-12 input-group">
                            <input type="text" class="form-control search_event" ng-model="searchKey" ng-keyup="keySearchApp($event)" placeholder="请选择或者搜索添加你需要发布任务的APP">
                    <span class="input-group-btn">
                         <button class="btn search_color" ng-click="searchApp()">
                             <span class="glyphicon glyphicon-plus"></span>
                         </button>
                   </span>
                        </div>
                        <!-- /input-group -->
                        <div class="placehold-line">
                            <div class="progress" ng-hide="!progressNum">
                                <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: progressNum + '%'}">
                                </div>
                            </div>

                            <div class="alert alert-warning" role="alert" ng-hide="!isError">
                                {{ errorMsg }}
                            </div>

                        </div>

                        <div class="spinner" ng-hide="!isLoadingMyApp">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>
                        <!--<div class="alert alert-danger infor" role="alert">-->
                            <!---->
                        <!--</div>-->

                        <div class="media" ng-repeat="app in appResults" >
                            <div class="media-left">
                                <img class="media-object" ng-src="{{ app.artworkUrl512 }}" alt="App Icon">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading appName">{{ app.trackName }}</h4>
                                <div class="media-object">{{ app.sellerName }}</div>
                                <div class="media-info">
                                    <span class="media-info-updateDate">更新日期:{{ app.latestReleaseDate }}</span>
                                    <span class="media-info-appId">App Id:&nbsp;&nbsp;{{ app.appleId }}</span>
                                </div>
                            </div>
                            <div class="media-right">
                                <button  class=" button_bottom hvr-float-shadow" ng-click="chooseMyApp(app)" ng-hide="app.isMine">
                                    确认绑定
                                </button>
                                <button  class="excedBtn">
                                    已绑定
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--添加应用的弹窗-->
        <div class="modal fade" id="releaseTask">
            <div class="modal-dialog" style="width: 540px">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #6eb7e8;border: 1px solid  #6eb7e8;border-radius: 4px ">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <div class="modal-title" >
                            <img src="images/doTask/finish.png" alt=""style="margin-left: 18%;margin-right: 10px;padding-bottom: 20px">
                            <span style="font-size: 38px;color: white">任务已发布成功</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: 24px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可在
                            <a  style="color: #3498db" href="/taskCheck">我的发布
                        </a>中查看已发布的任务并审核提交结果,&nbsp;或在
                            <a style="color: #3498db" href="/doTask">任务大厅</a>领取任务赚取Y币.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn_releaseTask" data-dismiss="modal">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--发布任务提示-->
    </div>
</div>

<script src="/javascripts/cookieHelper.js"></script>

</body>

</html>
