<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <title>野马运营</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/myApp.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <script src="/javascripts/vendor/html2canvas.js"></script>

    <!--网站内部js-->
    <script src="/javascripts/itunesApi.js"></script>
    <script src="/javascripts/indexApp.js"></script>
</head>
<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->
<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>
<div class="container">
    <div  class=" main_content"  ng-controller="itunesSearchControl">
        <button class="add_app" data-target="#addApp_modal" data-toggle="modal" ng-hide="numOfApps >= 5">
            <span class="glyphicon glyphicon-plus" style="color: #3498db"></span>添加任务应用
        </button>
        <h3 class="mytitle">第一步:选择或添加任务应用
            <span class="glyphicon glyphicon-question-sign"  data-placement="top"
                  data-toggle="popover"
                  data-content="目前只能添加5个应用哦!" id="glyphicon"
                  ng-click="addApp('glyphicon')" style="font-size: 0.8em"></span>
        </h3>

        <div class="spinner" ng-hide="!isLoadingMyApp">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>


        </div>
        <div style="width:400px;margin: auto;font-size: 24px;margin-bottom: 100px" ng-hide="!isLoadingMyApp">正在更新,请求你的App最新信息...</div>


        <div class="list-group thumbnail_wrap"
             ng-click="selectedAppFunc(app)"
             ng-repeat="app in myApps"
             ng-class="{true: 'border'}[selectedApp == app]"
             style="border-radius: 10px;">

            <a href="" ng-click="releaseBtnClick(app)" data-toggle="modal" data-target="#mymodal">
                <p class=" btn-sm_release">
                    <span class="glyphicon glyphicon-remove"></span>
                </p>
            </a>

            <a href="">
                <img ng-show="app.isUpdated" src="/images/doTask/new_flag.png" class="img-responsive"  alt="New flag">
                <img ng-src="{{ app.artworkUrl512 }}" class="img-responsive"  alt="App Icon">
            </a>

            <p class="app_name">{{ (app.trackName.length > 6)?(app.trackName.substring(0,6)+'...'):app.trackName}}</p>
            <p class="app_version">版本号 {{ app.version }}</p>
            <p class="app_update" ng-show="app.latestReleaseDate.length > 0">更新日期 {{ app.latestReleaseDate | date: 'yy/MM/dd'}}</p>


            <!--<a >-->
            <!--<button  class="app_button_bottom hvr-box-shadow-inset" >解绑</button>-->
            <!--</a>-->
        </div>


        <div class="addApp" ng-hide="numOfApps >= 5">
            <button class="btn_addApp" data-target="#addApp_modal" data-toggle="modal">
                <span class="glyphicon glyphicon-plus" style="font-size: 3em;"></span>
            </button>
        </div>
        <div style="clear: both"></div>
        <hr style="margin-top:30px;width: 1001px">
        <div id="need">
            <div>
                <h3 class="mytitle">第二步:填写任务信息
                    <span class="glyphicon glyphicon-question-sign"  data-placement="right"
                          data-toggle="popover"
                          data-content="在任务需求编辑中，你可以非常详细的记录换评换量需求，且只需填写一次，之后只需每天修改关键信息即可"
                          id="glyphicon2" ng-click="addApp('glyphicon2')" style="font-size: 0.8em"></span>
                </h3>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 任务类型:</label>
                        <div class="col-lg-8">
                            <label class="radio-inline">


                                <input type="radio" name="radio" id="comment"
                                       ng-model="appNeedInfo.taskType"  value="评论" ng-change="taskTypeChanged()" checked> 评论

                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radio" ng-model="appNeedInfo.taskType" value="下载" ng-change="taskTypeChanged()"> 下载
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label">任务市场:</label>
                        <div class="col-lg-8">
                            <label class="radio-inline">
                                <input type="radio" value="IOS" checked> IOS
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 任务数量:</label>
                        <div class="col-lg-1">
                            <input type="text" class="form-control" ng-change="calcuQuantity()" ng-model="appNeedInfo.excCount" required >

                        </div>
                        <div class="col-lg-3 " style="margin-left: -36px">
                            <p ng-show="error.excCount" style="color: red;text-align: center;padding-top: 5px">必填</p>
                            <p  ng-show="errorQuatity" style="text-align: center;padding-top: 5px;margin-left: 5px;color: red">(亲,目前一次最多只可发布20条任务哦)</p>
                            <p ng-show="insufficientFund" style="display: inline-block;margin-top: 10px;margin-left: 20px">亲,Y币不足哟,去<a href="/doTask" style="color: #3498db">任务大厅</a>做任务获取Y币吧</p>

                        </div>
                        <label  class="col-lg-2 control-label" style="margin-left: -100px" > 任务单价:</label>
                        <div class="col-lg-1">

                            <input type="text"readonly="true" style="background-color: white"
                                   class="form-control" id="price"
                                   ng-model="appNeedInfo.excUnitPrice"
                                   ng-change="saveStatusChange()"
                                   placeholder="">
                        </div>
                        <label  class="col-lg-2 control-label" > 账户余额:</label>
                        <div class="col-lg-1">
                            <div style="margin-top: 7px;">{{usermoney}} Y币</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 截图数量:</label>
                        <div class="col-lg-2">

                            <label class="radio-inline">
                                <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=3  ng-change="saveStatusChange()"> 3张
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="appNeedInfo.screenshotCount" ng-value=2  ng-change="saveStatusChange()"> 2张
                            </label>




                        </div>

                    </div>



                </form>
                <hr>
            </div>

            <div>
                <h3 class="mytitle">第三步:填写下载信息</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" >搜索关键词:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" placeholder="" ng-model="appNeedInfo.searchKeyword"  ng-change="saveStatusChange()">
                        </div>
                        <div class="col-lg-1 " style="margin-left: -36px">
                            <p ng-show="error.searchKeyword"style="color: red;text-align: center;padding-top: 5px">必填</p>
                        </div>
                        <label  class="col-lg-1 control-label">排名:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" style="width: 75px;" placeholder="" ng-model="appNeedInfo.ranKing"
                                     ng-change="checkRank()"    ng-change="saveStatusChange()">
                        </div>
                        <div class="col-lg-2" style="margin-left: -150px">
                            <span ng-show="errorCheck" style="color: red;font-size:14px">排名不能超过50</span>
                        </div>
                    </div>
                </form>
                <hr>
            </div>

            <div ng-hide="appNeedInfo.taskType == '下载'">
                <h3 class="mytitle">第四步:补充评论信息</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" >评分:</label>
                        <div class="col-lg-8">
                            <label class="radio-inline">
                                <input type="radio" ng-value=5 ng-model="appNeedInfo.Score"  ng-change="saveStatusChange()"> 5星
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-value=4 ng-model="appNeedInfo.Score"  ng-change="saveStatusChange()"> 4星
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 标题关键词:</label>
                        <div class="col-lg-5" >
                            <input type="text"  class="form-control" placeholder="请输入小于20字符"
                                   ng-model="appNeedInfo.titleKeyword"
                                   ng-change="checkText1(appNeedInfo.titleKeyword,20)">
                        </div>
                        <label  class="col-lg-1 control-label" style="margin-left: -40px" ><span ng-bind="appNeedInfo.titleKeyword.length+0" ng-style="color"></span>/20</label>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label" > 评论关键词:</label>
                        <div class="col-lg-5">
                    <textarea class="form-control"id="maxlen" rows="2" style="height: 60px" placeholder="请输入小于40字符"
                              ng-model="appNeedInfo.commentKeyword"
                              ng-change="checkText2()">

                    </textarea>
                        </div>
                        <label  class="col-lg-1 control-label" style="margin-left: -40px" >
                            <span ng-bind="appNeedInfo.commentKeyword.length+0" ng-style="color"></span>/40
                        </label>
                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label" >详情备注:</label>
                        <div class="col-lg-5">
                               <textarea  class="form-control" rows="5" placeholder="1.标题不少于2个关键词 2.请两日内不卸载
                               " ng-model="appNeedInfo.detailRem"
                                          ng-change="checkText3()">
                               </textarea>
                        </div>
                        <label  class="col-lg-1 control-label" style="margin-left: -30px;margin-top: 30px" >
                            <span ng-bind="appNeedInfo.detailRem.length+0" ng-style="color"></span>/140
                        </label>
                    </div>
                </form>
                <hr>
            </div>


            <div>
                <h3 class="mytitle">最后一步:需求预览</h3>

                <div id='screenShot' style="background:url(/images/appDetail/screenshot-background.png); width: 640px;
                        padding: 36px 54px 60px 30px; margin: auto;">
                    <div class="row">
                        <div class="col-sm-3">
                            <img  class="appicon" style="display: inline-block; margin: 0 26px 40px 20px;
                                width: 120px; height: 120px; border-radius: 20px"
                                  ng-src="{{  selectedApp.artworkUrl100 }}" alt="App Icon"/>
                        </div>
                        <div class="col-sm-9" style="padding-left: 50px;">
                            <p style="font-size: 24px; color: #ffffff;
                                width: 330px; margin-top: 10px">
                                {{ selectedApp.trackName.substr(0,12)+"..."  }}
                            </p>
                            <p style="color: #ffffff;
                                width: 330px;" ng-show="selectedApp.latestReleaseDate.length > 0">
                                更新日期: {{ selectedApp.latestReleaseDate | date: "yyyy/MM/dd" }}
                            </p>
                            <p style="color: #ffffff; font-size: 20px;">
                                任务类型: <span class="synwords">{{appNeedInfo.taskType}}</span>
                            </p>
                        </div>
                    </div>

                    <ol style="font-size: 20px; color: #ffffff;
                            list-style-position: inside; padding:0; margin:0;">
                        <li style="margin-bottom: 30px">
                            <p><span class="synwords">IOS App Store</span> 搜索"<span class="synwords">{{appNeedInfo.searchKeyword}}</span>"
                                第<span class="synwords">{{appNeedInfo.ranKing}}</span>
                                名左右, 找到上图应用下载.</p>
                        </li>
                        <li style="margin-bottom: 30px">
                            <p> 打开app, 请务必过引导页.</p>
                        </li>
                        <li style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '评论'">
                            <p> 截图2张,一张搜索图,一张打开激活图.</p>
                        </li>
                        <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                            <p  style="margin-bottom: 20px">
                                返回app store, 好评"<span class="synwords">{{appNeedInfo.Score}}</span>星"
                            </p>
                            <p style="margin-bottom: 20px">
                                &nbsp &nbsp &nbsp 标题关键词: <span class="synwords">{{appNeedInfo.titleKeyword}}</span></p>
                            <p style="margin-bottom: 20px">
                                &nbsp &nbsp &nbsp评论关键词: <span class="synwords">{{appNeedInfo.commentKeyword}}</span></p>
                        </li>
                        <li style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                            <p> 截图 <span class="synwords">{{appNeedInfo.screenshotCount}}</span> 张, 详情见备注.</p>
                        </li>
                        <li  style="margin-bottom: 30px" ng-hide="appNeedInfo.taskType == '下载'">
                            <p> 备注:</p>
                            <p  style="border: 1px solid #cdf1ff; font-size: 18px;
                                    margin-top: 20px; margin-bottom: 70px;
                                    padding: 18px 20px 18px 20px;" ng-show = "appNeedInfo.detailRem.length">
                                {{appNeedInfo.detailRem}}
                            </p>
                        </li>
                    </ol>

                    <p style="font-size: 24px; color: #ffffff;">
                        手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                        -友情提醒, 避免撕逼
                    </p>
                </div>
                <div class="button_state">
                    <div class="col-lg-4 col-lg-offset-1">
                        <button class="btn btn_download"  ng-click='getScreenShot()'>
                            下载需求图
                        </button>
                    </div>

                    <div class="col-lg-4">
                        <button class="btn btn_save1" ng-click="saveNeed()" ng-hide="saved">保存</button>
                        <button class="btn btn_save2" ng-show="saved">已保存</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn_task" ng-click="releaseTask()" data-toggle="modal" ng-disabled="isDisabled">发布任务</button>
                    </div>

                </div>


            </div>
        </div>




        <!--Modal-->
        <div class="modal fade" id="meiQian">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 320px;">
                    <div class="modal-header" style="height: 74px;background-color:#6eb7e8;border-radius:4px;text-align: center">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title"  style="font-size: 26px;color: #FFFFFF">你的Y币余额不足</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--解绑弹窗提示-->

        <div class="modal fade" id="error">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 320px;">
                    <div class="modal-header" style="height: 74px;background-color:#6eb7e8;border-radius:4px;text-align: center">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title"  style="font-size: 24px;color: #FFFFFF">{{modelStr}}</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--信息没填提示-->

        <!--<div class="modal fade" id="limitexcCount">-->
            <!--<div class="modal-dialog">-->
                <!--<div class="modal-content" style="width: 320px;">-->
                    <!--<div class="modal-header" style="height: 74px;background-color:#6eb7e8;border-radius:4px;text-align: center">-->
                        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
                        <!--<h4 class="modal-title"  style="font-size: 26px;color: #FFFFFF">亲,超过20条任务啦</h4>-->
                    <!--</div>-->

                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
        <!--</div>&lt;!&ndash;超过20条&ndash;&gt;-->
        <!--<div class="modal fade" id="exceedrank">-->
            <!--<div class="modal-dialog">-->
                <!--<div class="modal-content" style="width: 320px;">-->
                    <!--<div class="modal-header" style="height: 74px;background-color:#6eb7e8;border-radius:4px;text-align: center">-->
                        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
                        <!--<h4 class="modal-title"  style="font-size: 20px;color: #FFFFFF">亲,排名都超过50啦,再核实一下排名吧</h4>-->
                    <!--</div>-->

                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
        <!--</div>&lt;!&ndash;信息没填提示&ndash;&gt;-->
        <div class="modal fade" id="mymodal">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 360px;">
                    <div class="modal-header" style="height: 74px;background-color:#6eb7e8;border-radius:4px;text-align: center">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" style="font-size: 26px;color: #FFFFFF">确认解绑此应用吗?</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="releaseMyApp()" >确认</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--解绑弹窗提示-->

        <div class="modal fade" id="addApp_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="height: 24px"></h4>
                    </div>
                    <div class="modal-body" >
                        <div class="col-lg-6 col-sm-12 input-group">
                            <input type="text" class="form-control search_event" ng-model="searchKey" ng-keyup="keySearchApp($event)" placeholder="请搜索添加你需要发布任务的APP">
                    <span class="input-group-btn">
                         <button class="btn search_color" ng-click="searchApp()">
                             <span class="glyphicon glyphicon-search"></span>
                         </button>
                   </span>
                        </div>
                        <!-- /input-group -->
                        <div class="placehold-line">
                            <div class="progress" ng-hide="!progressNum">
                                <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: progressNum + '%'}">
                                </div>
                            </div>

                            <div class="alert alert-warning" role="alert" ng-hide="!isError">
                                {{ errorMsg }}
                            </div>

                        </div>

                        <div class="spinner" ng-hide="!isLoadingMyApp">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>


                        <div class="media" ng-repeat="app in appResults" >
                            <div class="media-left">
                                <img class="media-object" ng-src="{{ app.artworkUrl512 }}" alt="App Icon">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading appName">{{ app.trackName.substr(0,10)+"..." }}</h4>
                                <div class="media-info">
                                    <p class="media-info-updateDate" ng-show="app.latestReleaseDate.length > 0">更新日期:{{ app.latestReleaseDate.substr(0,10) }}</p>
                                    <p class="media-info-appId" style="margin-left: 0px">App Id:&nbsp;&nbsp;{{ app.appleId }}</p>
                                </div>
                            </div>
                            <div class="media-right">
                                <button  class=" button_bottom hvr-float-shadow" ng-click="chooseMyApp(app)" ng-hide="app.isMine">
                                    确认绑定
                                </button>
                                <button  class="excedBtn">
                                    已绑定
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--添加应用的弹窗-->
        <div class="modal fade" id="releaseTask">
            <div class="modal-dialog" style="width: 540px">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #6eb7e8;border: 1px solid  #6eb7e8;border-radius: 4px ">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <div class="modal-title" >
                            <img src="images/doTask/finish.png" alt=""style="margin-left: 18%;margin-right: 10px;padding-bottom: 20px">
                            <span style="font-size: 38px;color: white">任务已发布成功</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: 24px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可在
                            <a  style="color: #3498db" href="/taskCheck"> 任务审核
                            </a>中查看已发布的任务并审核提交结果,&nbsp;或在
                            <a style="color: #3498db" href="/doTask">任务大厅</a>领取任务赚取Y币.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn_releaseTask" data-dismiss="modal" ng-click="Confirm()">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!--发布任务提示-->
    </div>

</div>
<th-footer>

</th-footer>

<script src="/javascripts/cookieHelper.min.js"></script>

</body>

</html>
