<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>野马运营</title>

    <!--IOS主屏幕设置-->
    <!--http://blog.deartanker.com/post/3450.html-->
    <link rel="apple-touch-icon" href="../images/do_task_icon_ios.png"/>
    <meta name="apple-mobile-web-app-title" content="野马任务">
    <link rel="apple-touch-startup-image" sizes="640x1136" href="../images/ios_startup.png" />

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/loading.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../stylesheets/dailyTask.css">
    <link rel="stylesheet" href="../stylesheets/myClaim.css">

    <!--网站内部js-->

    <script src="/javascripts/myClaim.js"></script>
    <script src="/javascripts/indexApp.js"></script>
</head>

<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>

<div class="container" ng-controller="myClaimControl" >

    <!--标题-->
    <div class="header-wrapper col-lg-12" ng-show="!noApp">
        <h1 class="header hidden-xs" style="display: inline-block">今日认领的任务</h1>
        <div class="alert alert-warning hidden-xs" role="alert" style="display: inline-block;margin-left: 40px;">你可以通过点击一键关闭按钮,清除已经过期或者已经被成功被接收的任务记录</div>
        <button class="btn close_btn hidden-xs" data-placement="top" data-toggle="popover" ng-click="turnoffTask()" >一键关闭</button>
        <hr class="hidden-xs" style="border: 1px solid  #3498db;width: 1024px">
    </div>







    <div ng-show="!noApp" class=" hidden-xs col-lg-10  col-lg-offset-1 copy" >
        <p  class="url_p"><span style="font-size: 18px;color: #333333">分享链接:</span>
            <input type="text" id="copy" class="from-control" ng-model="url">
            <button class="btn" id="btn" ng-click="copyUrl()"data-placement="top"
                    data-toggle="popover"
                    data-content="复制成功!">分享至手机</button>
        </p>
        <p class="message">复制此链接,通过QQ或微信等发送到您完成任务的手机上，直接从手机端上传任务截图</p>
    </div>




    <div ng-show="noApp">
        <div style="text-align: center;">
            <img style="margin-top: 200px;margin-left:-30px;"  src="../images/horse.png"/>
        </div>
        <h1 style="text-align:center;">亲, 你还没有任何任务哦, 赶紧去"<a href="/doTask">任务大厅</a>"领取任务吧</h1>
    </div>
    <hr class="hr-header hidden-xs"/>
    <div class="row " ng-repeat="app in dailyTask">
        <div class="col-lg-10  col-lg-offset-1 col-xs-12 media dailyTask" >
            <div class="media-left">
                <a href="/newtaskMobile/{{app.taskObjectId}}">
                    <img class="logo" ng-src="{{app.artworkUrl100}}" alt="app-icon" class="img-thumbnail"/>
                </a>

            </div>

            <div class="media-body information" >

                <div>
                    <!--<a class="task-link" href="/newtaskMobile/{{app.taskObjectId}}">{{app.trackName.substr(0,11)+'...'}}</a>-->
                    <button class="download" ng-show="app.excKinds == '下载'">{{app.excKinds}}</button>
                    <button class="comment" ng-show="app.excKinds == '评论'">{{app.excKinds}}</button>
                    <button class=" hidden-xs left">共<span style="color:rgb(0,226,57)">{{app.totalExcCount}}</span>条</button>
                    <button class="deadline">{{app.deadlineStr}}</span></button>
                </div>
                <div  class="center">
                    <button  class="proceed" ng-show="app.surplusCount > 0">未完成{{app.surplusCount}}</button>
                    <button  class="pending" ng-show="app.submitted > 0">审核中{{app.submitted}}</button>
                    <button  class="rejected"ng-show="app.rejected > 0" >被拒绝{{app.rejected}}</button>
                    <button  class="finish" ng-show="app.accepted > 0">已通过{{app.accepted}}</button>
                    <button  class="rejected" ng-show="app.abandoned > 0">已过期{{app.abandoned}}</button>
                </div>
                <div class="assign">

                    分配备注:<span style="margin-left: 15px" class="num  assignTask" ng-show="app.mode">{{app.detailRem}}</span>


                    <input  class="input1 hidden-xs" type="text" style="width:400px" ng-hide="app.mode" ng-model="app.detailRem">

                    <img src="../images/home/pen.png" class="imgpen hidden-xs" ng-show="app.mode" ng-click="reAssign(app)">
                    <button  class="btnSave hidden-xs" ng-hide="app.mode" ng-click="saveRemark(app.detailRem, app.taskObjectId,app)">保存</button>
                </div>
            </div>
            <div class=" hidden-xs  media-right" >
                <a href="/newtaskMobile/{{app.taskObjectId}}">
                    <button  type="button" style="margin-right: 40px">
                        做任务
                    </button>
                </a>
            </div>
            <div class=" hidden-xs  media-right">
                <a href="/interiorExcDetail/{{app.taskObjectId}}">
                    <button  type="button">
                        查看任务图
                    </button>
                </a>
            </div>
            <!--<hr class="hr_bottom">-->


        </div>
    </div>
</div>
<th-footer class="hidden-xs">

</th-footer>
<script src="/javascripts/cookieHelper.min.js"></script>
</body>
</html>