
<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 48px;font-size: 17px;width: 100%">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <li><a  class="navbar-brand" href="/" target="_top"><img  src="/images/home/wildhorse_icon.png" ></a></li>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li ><a ng-style="{color:myColors[0]}" href="/" >首页</a></li>-->
                <li ><a ng-style="{color:myColors[0]}" href="/doTask" >任务大厅</a></li>
                <li><a ng-style="{color:myColors[1]}" href="/myapp">发布任务</a></li>
                <!--<li><a ng-style="{color:myColors[1]}" href="/myapp/history" >交换记录</a></li>-->

                <!--<li class="dropdown">-->
                    <!--<a  ng-style="{color:myColors[1]}" href="/myapp" data-toggle="dropdown" class="dropdown">发布任务<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" >-->
                        <!--<li class="myapp-list" ng-repeat="app in tracknameAPPs">-->

                            <!--<a href="/app/{{app.appid}}">{{ app.trackName }}</a>-->

                        <!--</li>-->
                        <!--<li><a href="/myapp">管理我的任务应用</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a ng-style="{color:myColors[2]}" href="/myClaim/{{userObjectId.userObjectId}}">我的认领</a></li>
                <li><a ng-style="{color:myColors[3]}" href="/taskCheck">任务审核</a></li>
                <li><a ng-style="{color:myColors[4]}" href="/doOuterTask">QQ换评工具</a></li>
                <li><a ng-style="{color:myColors[5]}" href="/taskInfor" style="margin-left: 300px">消息</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="nav-username-display" href="/user" data-toggle="dropdown" class="dropdown" ng-style="{color:myColors[5]}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user" >个人中心</a></li>
                        <li><a href="#">我的Y币</a></li>
                        <li><a ng-click="logout()">退出登陆</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!--container -->
</nav>