
<nav class="navbar navbar-inverse navbar-fixed-top" style="width: 100%;height: 48px;
    font-size: 18px;
    width: 100%;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <li>
                <a class="navbar-brand" href="/" target="_top">
                    <img  src="/images/home/wildhorse_icon.png" >
                </a>
            </li>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="width: 140px; margin-right: -50px"><a ng-style="{color:myColors[0]}" href="/homePage" ng-click="butdoTask()">首页</a></li>
                <li style="width: 140px"><a ng-style="{color:myColors[1]}" href="/doTask" ng-click="butdoTask()">换评大厅</a></li>
                <li style="width: 140px"><a ng-style="{color:myColors[2]}" href="/myapp" ng-click="butdoTask()">发布换评</a></li>

                <li style="width: 140px">
                    <a ng-style="{color:myColors[3]}" href="/myClaim/{{userObjectId}}" style="position: relative" ng-click="butdoTask()">我的领取
                        <span class="" ng-show="(toDoCount + refusedCount) > 0" style="position: absolute;
                              top: 7px;
                              left: 83px;
                              display: inline-block;
                              background-color: #f4556c;
                              width: 30px;
                              height: 20px;
                              font-size: 14px;
                              border-radius: 8px;text-align: center;color: #FFFFFF">{{toDoCount + refusedCount}}</span>
                    </a>
                </li>
                <li style="width: 140px">
                    <a ng-style="{color:myColors[4]}" href="/taskCheck" style="position: relative" ng-click="butdoTask()">审核换评
                        <span class="badge" ng-show="pendingCount > 0" style="position: absolute;
                              top: 7px;
                              left: 83px;
                              display: inline-block;
                              background-color: #f4556c;
                              width: 30px;
                              height: 20px;
                              font-size: 14px;
                              border-radius: 8px;text-align: center;color: #FFFFFF">{{pendingCount}}</span>
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="position: relative">
                    <a id="nav-username-display" href="/user" data-toggle="dropdown" class="dropdown" ng-style="{color:myColors[5]}" >
                    </a>

                    <span class="msgDot " ng-show="unreadMsgCount > 0"
                         style="position: absolute; top: 20px;
                              left: 130px;
                              display: inline-block;
                              background-color: #f4556c;
                              width: 10px;
                              height: 10px;
                              border-radius: 10px;">
                    </span>
                    <ul class="dropdown-menu">
                        <li><a href="/user#/" >个人中心</a></li>
                        <li><a href="/user#/account">我的Y币</a></li>
                        <li><a href="/user#/inforManage">消息管理</a></li>
                        <li><a href="/user#/YRecharge" style="color: #00a5ff">Y&nbsp;币充值</a></li>
                        <li><a ng-click="logout()">退出登陆</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!--container -->
</nav>