<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>野马运营</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../stylesheets/myApp.css">-->
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../stylesheets/newtaskMob.css">
    <script src="/javascripts/vendor/AngularJS/angular-file-upload.min.js"></script>

    <!--网站内部js-->
    <script src="/javascripts/cookieHelper.js"></script>

    <script src="/javascripts/newtaskMob.js"></script>
    <script src="/javascripts/indexApp.js"></script>




</head>

<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>

<div class="container main"  ng-controller="MobControl" >

    <!--<div class="alert alert-danger" role="alert" ng-hide="oneAppInfo.surplusCount">该任务无剩余条数</div>-->

    <div class="media">
        <div class="media-left">
            <img class="logo" ng-src="{{ oneAppInfo.artworkUrl100 }}" alt="" class="img-thumbnail"/>
        </div>
        <div class="media-body">
            <div class="task-link">{{ oneAppInfo.trackName.substr(0,6)+'...' }}</div>
            <div>
                <span class="id">App ID: {{ oneAppInfo.appleId }}</span>
                <span class="company hidden-xs">{{ oneAppInfo.sellerName }}</span>
            </div>
            <div class="download">
                <button class="button_type"><a  class="download" href="#">{{ oneAppInfo.excKinds }}</a></button>
                <button class=" button_num"><span>共</span> <span class="num">{{ oneAppInfo.totalExcCount }}</span>&nbsp;条</button>
                <button class="button_surplus"><span>剩余</span><span class="num">{{oneAppInfo.surplusCount}}</span>条</button>
            </div>
        </div>

        <hr/>



    </div>
    <div class="col-xs-12 needImg" style="padding: 0px;margin-bottom: 20px">
        <h3 class="mytitle">需求截图</h3>

        <div id='screenShot' >
            <div class="row">
                <div class="col-sm-3 col-xs-3" style="padding: 0px">
                    <img  class="appicon"
                          ng-src="{{  oneAppInfo.artworkUrl100 }}" alt="App Icon"/>
                </div>
                <div class="col-sm-9 col-xs-8 trackName">
                    <p  class="trackName_one">
                        {{ oneAppInfo.trackName.substr(0,12)+"..."  }}
                    </p>
                    <p  class="app_date">
                        更新日期: {{ oneAppInfo.latestReleaseDate.substr(0,10) }}
                    </p>
                    <p  class="taskType">
                        任务类型: <span class="synwords">{{oneAppInfo.taskType}}</span>
                    </p>
                </div>
            </div>


            <ol class="serach_app">
                <li >
                    <p><span class="synwords">IOS App Store</span> 搜索"<span class="synwords">{{oneAppInfo.searchKeyword}}</span>"
                        第<span class="synwords">{{oneAppInfo.ranKing}}</span>
                        名左右, 找到应用,如上图图标, 下载.</p>
                </li>
                <li>
                    <p> 打开app, 请务必过引导页.</p>
                </li>
                <li  ng-hide="oneAppInfo.taskType == '评论'">
                    <p> 截图2张,一张搜索图,一张打开激活图.</p>
                </li>
                <li  ng-hide="oneAppInfo.taskType == '下载'">
                    <p >
                        返回app store, 好评"<span class="synwords">{{oneAppInfo.Score}}</span>星"
                    </p>
                    <p >
                        &nbsp; &nbsp; &nbsp;标题关键词: <span class="synwords">{{oneAppInfo.titleKeyword}}</span></p>
                    <p >
                        &nbsp; &nbsp; &nbsp;评论关键词: <span class="synwords">{{oneAppInfo.commentKeyword}}</span></p>
                </li>
                
                <li  ng-hide="oneAppInfo.taskType == '下载'">
                    <p> 截图 <span class="synwords">{{oneAppInfo.screenshotCount}}</span> 张, 详情见备注.</p>
                </li>
                <li   ng-hide="oneAppInfo.taskType == '下载'">
                    <p> 备注:</p>
                    <p class="synwords beizhu"  ng-show = "oneAppInfo.detailRem.length">
                        {{oneAppInfo.detailRem}}
                    </p>
                </li>
            </ol>

            <p  class="comment">
                手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                -友情提醒, 避免撕逼
            </p>
        </div>
    </div>
    <!--<div style="margin-top: 30px"></div>-->

    <div class="text-center ">
        <button class="btn btn-default cust1" >
            <a href="itms-apps://itunes.apple.com">跳转APP store</a>
        </button>
    </div>


    <div class="text-center ">
        <button class="btn btn-default cust2" data-toggle="modal" data-target="#mymodal" ng-hide="!normalBtnShow">
            上传图片
        </button>
    </div>

    <div class="text-center " ng-hide="normalBtnShow">
        <a href="javascript:;"  class="a-upload form_change ">
            <input type="file" style="width: 80%" multiple nv-file-select="" ng-click="deletFile()" uploader="uploader" accept="image/*"/>上传图片
        </a>
    </div>

    <div class="progress" ng-hide="!progressNum">
        <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: 100+ '%'}">
        </div>
    </div>

    <hr/>
    <div class="text-right">提交人: {{oneAppInfo.uploadName}}</div>
    <div class="row">
        <div class="col-xs-12">
             <span class="submission-screenshot" ng-repeat="image in images">
                  <img  ng-src="{{image}}"/>
             </span>
        </div>
    </div>

    <div class="submit">
        <button class="btn btn_primary" ng-click="commitConfirm()" ng-show="images.length">确认提交</button>
    </div>


    <div class="modal fade" id="mymodal">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>请输入提交者昵称</h3>
                    <input type="text" class="uploadname" ng-model="uploadName" placeholder="提交者昵称只需提交一次">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal"
                            ng-click="saveUploadName()">保存
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</html>