<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--网站内部JS-->
<script src="/javascripts/app.js"></script>
<!--网站内部CSS-->
<link rel="stylesheet" href="/stylesheets/app.css"/>
<ion-view    view-title="首页">
    <ion-content>

        <!--设备需求-->
        <!--非IOS设备以及Android设备的判断-->
        <ion-card ng-show="isIOSDevice != 1">
            <ion-card-header>
                目前小马试客只支持IOS设备
            </ion-card-header>

            <ion-card-content>
                <span ng-show="isAndroidDevice == 1"> 我们会尽快支持Android的应用试用</span>
                <span ng-show="isAndroidDevice != 1"> 不好意思,请在IOS设备上打开</span>
            </ion-card-content>
        </ion-card>

        <!--IOS浏览器鉴别-->
        <ion-card ng-show="isIOSDevice == 1 && isiPhoneSafari != 1">
            <ion-card-header>
                需要在Safari中打开链接
            </ion-card-header>

            <ion-card-content>
                <span ng-show="isQQBrowser == 1"> 当前使用的是QQ内置浏览器</span>
                <span ng-show="isWeixinBrowser == 1"> 当前使用的是微信内置浏览器</span>
                <button class="button button-positive" onclick="window.location.href = 'safari://www.baidu.com'">
                    点击右上家,选择用Safari中打开
                </button>
            </ion-card-content>
        </ion-card>

        <!--主要界面-->

            <!--收益界面-->
        <body>
        <div class="content">
            <div class="head">
                <div class="text">
                    <br>
                    <h4>今日收益(元)<span style="font-size: 0.95em;float: right;margin-right: 5%;">ID:{{userCode}}</span></h4>
                </div>
                <span class="headh1">{{todayMoney.toFixed(2)}}</span>
            </div>

            <div class="blocktwo">

                <hr style="border:0.01em #93adfa solid;width: 100%;margin-top: 0.1em;">
                <div ng-show="userCode != undefined">
                <img src="/images/app/boot.png" class="img-circle" style="width: 4em;float:left;margin-top: -0.5em;margin-left: 5%;">
                <h5>账户余额:{{currentMoney.toFixed(2)}}<br>总共收益:{{totalMoney.toFixed(2)}}
                </h5>
                    <div style="font-size: 1em;float: right;margin-top: 1.3em;margin-right: 5%;">
                    <span class="glyphicon glyphicon-credit-card" style="font-size: 1em;"></span>
                        <span style="font-size: 1.2em;">提现中心</span>
                        <span class="glyphicon glyphicon-chevron-right" style="font-size: 1.2em;">
                    </span>
                    </div>
                    </div>
                <p ng-show="errorId != 0 && message.length > 0">服务器错误:{{message}}</p>
            </div>


            <div class="blockthree">
                <br>
            <h2>师徒系统,赚更多钱</h2>

                <button class="button button-outline button-calm button-small" ng-click="copyUrl(userCode)" >复制邀请链接</button>
                <h5 ng-show="apprenticeMoney > 0" >徒弟累计帮你赚取了{{apprenticeMoney.toFixed(2)}}</h5>
                 <h5>您可以获得徒弟任务的10%的奖励</h5>
                 <h5>野马再额外奖励徒弟任务10%的奖励</h5>
                <hr style="border: 0.01em #67a4ff solid;width: 80%;"/>
                <button class="button invite" data-toggle="modal" data-target="#myModal" ng-hide="invitation" ng-click="invita()">
                    <span style="color: #999999;font-size: 1.2em;">输入他人邀请码</span>
                </button>
                <input type="text" class="inviteinput"  ng-show="invitation">
            </div>


        </div>
        </body>




        <!--<div ng-show="isIOSDevice == 1 && isiPhoneSafari == 1">-->
            <!--&lt;!&ndash;账户信息&ndash;&gt;-->
            <!--<ion-spinner ng-show="userCode == undefined" icon="ripple" class="spinner-assertive"></ion-spinner>-->
            <!--<div ng-show="userCode != undefined">-->
                <!--<p>ID:{{userCode}}</p>-->

                <!--<p>今日收益</p>-->
                <!--<p>{{todayMoney}}</p>-->
                <!--<p>账户余额:{{currentMoney}}</p>-->
                <!--<p>总收益:{{totalMoney}}</p>-->
            <!--</div>-->
            <!--<p ng-show="errorId != 0 && message.length > 0">服务器错误:{{message}}</p>-->

        <!--</div>-->

        <!--&lt;!&ndash;野马宣传文案&ndash;&gt;-->
        <!--<p>小马试客</p>-->
        <!--<p>用手机按要求下载App</p>-->
        <!--<p>用手机轻松赚零花钱</p>-->

        <!--&lt;!&ndash;野马师徒体系&ndash;&gt;-->
        <!--<div ng-show="isIOSDevice == 1 && isiPhoneSafari == 1">-->
            <!--<p>-->
                <!--收徒体系，让你的钱赚的更多-->
            <!--<p>-->
                <!--<a class="button icon-right ion-chevron-right button-calm" ng-click="copyInviteUrl()">-->
                    <!--复制邀请链接-->
                <!--</a>-->
            <!--</p>-->
            <!--注.您可以获得您徒弟任务的10%的奖励-->
            <!--</p>-->

            <!--<label class="item item-input">-->
                <!--<span class="input-label">输入邀请码,得0.2元</span>-->
                <!--<input type="text">-->
            <!--</label>-->
        <!--</div>-->




    </ion-content>
</ion-view>