<ion-view >
    <ion-nav-buttons>
        <button class="button button-light btn1 " ng-show="taskType == 1" style="border: 1px solid white;" ng-click="switchTaskType(1, -1)">下载</button>
        <button class="button button-dark btn2" ng-show="taskType == 1" style="border: 1px solid white;"  ng-click="switchTaskType(2, -1)">评论</button>
        <button class="button button-dark btn1 " ng-show="taskType == 2" style="border: 1px solid white;" ng-click="switchTaskType(1, -1)">下载</button>
        <button class="button button-light btn2" ng-show="taskType == 2" style="border: 1px solid white;"  ng-click="switchTaskType(2, -1)">评论</button>
    </ion-nav-buttons>


    <ion-content style="background-color: #F5F5F5;">
        <!--loading-->
        <ion-spinner ng-show="downloadTasks.length == 0 && downloadLoading == true && taskType == 1" icon="ripple" class="spinner-assertive"></ion-spinner>
        <ion-spinner ng-show="commentTasks.length == 0 && commentLoading == true && taskType == 2" icon="ripple" class="spinner-assertive"></ion-spinner>

        <!--下拉刷新-->
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="refreshTaskHall()">
        </ion-refresher>

        <!--下载页面相关-->
        <!--头部-->
        <div ng-show="taskType == 1">
        <div class="header">
            <div class="text" >
                <br>
            <h4>根据关键词,在APP&nbsp;store搜索到指定APP,下载APP,试玩3分钟</h4>
            </div>
        </div>
            <!--灰色背景-->
            <div class="grayback">
        <!--虚线框-->
        <div class="dashed">
            <h4>注:无卡机无法参与获得奖励</h4>
        </div>

        <!--ionic card-->
        <div class="ion-list" >
                <!--<div class="item item-text-wrap">-->
                    <!--{{task.appName}}-->
                <!--</div>-->
            <ion-item  href="#/tab/task/{{task.taskId}}" class="ion-item card" type="item-text-wrap" ng-repeat="task in downloadTasks">

                <img ng-src="{{task.appIcon}}" class="cardicon">
                <div class="character">
                    <span class="typetitle" style="margin-left:0em;float: left;">{{task.appName}}</span>
                </div>
                <span class = "cardplay typegray" >剩余{{task.remainCount}}条</span>
                <span class="cardplay typelightgray" style="margin-left: 1em;">进行中两份</span><br><br>
                <span class="cardtextright cardword" >+3.80<span style="font-size: 0.6em;">元</span></span><br><br>
                <!--<span class="cardtextright typeblue" style="margin-top: -2em;">1元付费应用</span>-->
                <div class="note" style="margin-top: -2em;">
                    <span class="cardtext annotation" >1.必须首次下载(需要获取标志)</span><br>
                    <span class="cardtext annotation">2.需第三方体验注册</span>
                </div>
              </ion-item>
        </div>



                </div>
        </div>

        <!--评论页面相关-->

        <div ng-show="taskType == 2">
            <div class="header">
                <div class="text">
                    <br>
                    <h4>根据关键词,在APP&nbsp;store搜索到指定APP,下载APP,试玩3分钟</h4>
                </div>
            </div>
            <!--灰色背景-->
            <div class="grayback">
                <!--虚线框-->
                <div class="dashed">
                    <h4>注:无卡机无法参与获得奖励</h4>
                </div>

                <!--ionic card-->
                <div class="ion-list" ng-show="taskType == 2">
                    <!--<div class="item item-text-wrap">-->
                    <!--{{task.appName}}-->
                    <!--</div>-->
                    <ion-item  href="#/tab/task/{{task.taskId}}" class="ion-item card" type="item-text-wrap" ng-repeat="task in commentTasks">

                        <img ng-src="{{task.appIcon}}" class="cardicon">
                        <div class="character">
                            <span class="typetitle" style="margin-left:0em;float: left;">{{task.appName}}</span>
                        </div>
                        <span class = "cardplay typegray" >剩余{{task.remainCount}}条</span>
                        <span ng-show="task.doingCount > 0" class="cardplay typelightgray" style="margin-left: 1em;">进行中{{task.doingCount}}份</span><br><br>
                        <span class="cardtextright cardword" >+{{task.doTaskPrice.toFixed(2)}}<span style="font-size: 0.6em;">元</span></span><br><br>
                        <span ng-show="task.appPrice != undefined" class="cardtextright typeblue" style="margin-top: -2em;">task.appPrice</span>
                        <div class="note" style="margin-top: -2em;">
                            <div class="cardtext annotation" ng-repeat="extraDes in task.extraDemandArray" >
                                {{$index + '.' +  extraDes}}
                            </div>
                        </div>
                    </ion-item>
                </div>



            </div>
        </div>




        <!--评论--------------------------->
        <!--<div class="ion-list" ng-show="taskType == 2">-->
            <!--<div class="card" ng-repeat="task in downloadTasks">-->
                <!--<div class="item item-text-wrap">-->
                    <!--{{task.appName}}-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--<div class="list" ng-show="taskType == 2">-->

            <!--<div class="card" ng-repeat="task in commentTasks">-->
                <!--<div class="item item-text-wrap">-->
                    <!--{{task.appName}}-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <ion-infinite-scroll ng-if="downloadHasMore == true && taskType == 1" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
        <ion-infinite-scroll ng-if="commentHasMore == true && taskType == 2" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>

    </ion-content>
</ion-view>