<ion-view view-title="提现">
    <ion-content>
        <body >
        <div class="accountcontent" >

            <!--头部ID区域-->
            <div class="accounthead">
                <div class="accountID">
                    <img src="/images/app/boot.png" class="accountimg">
                    <h4>ID:1234567</h4>
                </div>
               </div>

            <!--支付宝账号区域-->
            <div class="pay">
                <div class="paytext">

                    <h4>支付宝账号<span style="color:#999999;float:right"> 点击绑定</span>   </h4>
                    </div>
           </div>

            <!--个人资产区域-->
            <div class="personal">

            </div>




            </div>
        </body>
    </ion-content>
</ion-view>