<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="/stylesheets/taskCheck.css">

    <!--网站内部js-->


    <script src="/javascripts/taskCheck.js"></script>
    <!--<script src="/javascripts/doTask.js"></script>-->
    <script src="/javascripts/indexApp.js"></script>
    <!--网站内部css-->
    <!--<link rel="stylesheet" href="/stylesheets/taskCheck.css"/>-->



</head>
<body ng-app="yemaWebApp">


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->
<div class="container" ng-controller="indexAppCtrl" >
    <th-nav></th-nav>
</div>

<div ng-controller="taskCheckCtrl" style="margin-top: 100px">
    <div ng-show="noApp">
        <div style="text-align: center;">
            <img style="margin-top: 100px;" src="images/horse.png"/>
        </div>
        <h1 style="text-align:center;">亲, 你还没有发布任何任务哦, 赶紧去"<a href="myapp">发布任务</a>"试试吧</h1>
    </div>
    <div class="container" style="border: 1px solid #e0e0e0" ng-show="taskAudit.length">
        <div class="row">
            <div class="col-lg-2 change" style="background: #f4f4f4; padding-top:60px; padding-left:0; padding-right:0;" >
                <div style="text-align: center; font-size: 20px;">任务列表</div>
                <hr>
                <div ng-repeat="app in taskAudit">
                    <div ng-class="{true :'icon1 selected', false :'icon1'}[$index == taskIndex]" ng-click="check(app, $index)">
                        <img ng-src="{{app.artworkUrl100}}" alt="">
                        <span style="margin-left: 10px; font-size: 16px;">Task {{$index + 1}}</span>
                    </div>
                </div>
            </div><!--左边侧边栏-->


            <div class="col-lg-10 change">
                <div>
                    <table style="margin-top: 25px;width: 100%;">
                        <tr>
                            <td>
                                <div class="icon" style="margin-left: 40px;">
                                    <img ng-src="{{taskDisplayed.artworkUrl100}}" alt=""
                                         style="display:inline-block; width:90px; height:90px; border: 1px solid #e0e0e0; border-radius: 20px;">
                                </div>
                            </td>
                            <td style="width: 90%">
                                <div style="margin-left: 40px; margin-bottom: 24px; margin-top: 5px; font-size: 24px; color: #333333">
                                    {{taskDisplayed.trackName}}
                                </div>
                                <div style="margin-left: 25px; font-size: 14px;" class="row">
                                    <div class="col-lg-4">
                                        <div style="font-size: 12px; color: #666666">开发商</div>
                                        <div>{{taskDisplayed.sellerName | limitTo:30}}</div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div style="font-size: 12px; color: #666666">App ID</div>
                                        <div>{{taskDisplayed.appId}}</div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div style="font-size: 12px; color: #666666">更新时间</div>
                                        <div>{{taskDisplayed.latestReleaseDate | date:"yyyy/MM/dd"}}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <div class="taskinfor">
                        <div><h3>任务信息:</h3></div>
                        <div style="margin-left: 70px; font-size: 22px; color: #333333;">
                            <div class="row">
                                <div class="col-lg-4">任务类型: <span class="imported">{{taskDisplayed.taskType}}</span></div>
                                <div class="col-lg-4">任务数量: <span class="imported">{{taskDisplayed.excCount}}</span> 条</div>
                                <div class="col-lg-4">
                                    <button class="btn checkDetail" data-target="#detail" data-toggle="modal">
                                        查看详情
                                    </button>
                                    <!--查看详情弹窗-->
                                    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content" style="width: 642px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="">任务详情</h4>
                                                </div>
                                                <div class="modal-body" style="padding:0;">
                                                    <div style="background:url(/images/appDetail/screenshot-background.png); width: 640px;
                        padding: 36px 54px 60px 30px; margin: auto;">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <img  class="appicon" style="display: inline-block; margin: 0 26px 40px 20px;
                                width: 120px; height: 120px; border-radius: 20px"
                                                                      ng-src="{{  taskDisplayed.artworkUrl100 }}" alt="App Icon">
                                                            </div>
                                                            <div class="col-sm-9" style="padding-left: 50px;">
                                                                <p style="font-size: 24px; color: #ffffff;
                                width: 330px; margin-top: 10px">
                                                                    {{ taskDisplayed.trackName.substr(0,12)+"..."  }}
                                                                </p>
                                                                <p style="color: #ffffff;
                                width: 330px;">
                                                                    更新日期: {{ taskDisplayed.latestReleaseDate  }}
                                                                </p>
                                                                <p style="color: #ffffff; font-size: 20px;">
                                                                    任务类型: <span class="synwords">{{taskDisplayed.taskType}}</span>
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <ol style="font-size: 20px; color: #ffffff;
                            list-style-position: inside; padding:0; margin:0;">
                                                            <li style="margin-bottom: 30px">
                                                                <p>app store 搜索"<span class="synwords">{{taskDisplayed.searchKeyword}}</span>"
                                                                    第<span class="synwords"> {{taskDisplayed.ranking}}</span>
                                                                    名左右, 找到应用,如上图图标, 下载.</p>
                                                            </li>
                                                            <li style="margin-bottom: 30px">
                                                                <p>打开app, 请务必过引导页.</p>
                                                            </li>
                                                            <li  style="margin-bottom: 30px" ng-hide="taskDisplayed.taskType == '下载'">
                                                                <p  style="margin-bottom: 20px">
                                                                    返回app store, 好评"<span class="synwords">{{stars}}</span>星"
                                                                </p>
                                                                <p style="margin-bottom: 20px">
                                                                    &nbsp &nbsp &nbsp 标题关键词: <span class="synwords">{{taskDisplayed.titleKeyword}}</span></p>
                                                                <p style="margin-bottom: 20px">
                                                                    &nbsp &nbsp &nbsp评论关键词: <span class="synwords">{{taskDisplayed.commentKeyword}}</span></p>
                                                            </li>
                                                            <li  style="margin-bottom: 30px" ng-hide="taskDisplayed.taskType == '下载'">
                                                                <p>备注:</p>
                                                                <p style="border: 1px solid #cdf1ff; font-size: 18px;
                                    margin-top: 20px; margin-bottom: 70px;
                                    padding: 18px 20px 18px 20px;" ng-show = "taskDisplayed.detailRem.length">
                                                                    {{taskDisplayed.detailRem}}
                                                                </p>
                                                            </li>
                                                        </ol>

                                                        <p style="font-size: 24px; color: #ffffff;">
                                                            手机评论, 不要无卡机, iPad, 一条以上用手机流量哦, 亲.
                                                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp &nbsp &nbsp
                                                            &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                                                            &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp
                                                            -友情提醒, 避免撕逼
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><h3>任务状态:</h3></div>
                        <div style="margin-left: 70px; font-size: 22px; color: #333333;">
                            <div class="row">
                                <div class="col-lg-4">完成/领取:
                                    <span class="imported">{{taskDisplayed.accepted}}/{{taskDisplayed.excCount - taskDisplayed.remainCount}}</span>
                                </div>
                                <div class="col-lg-4">待审:
                                    <span class="imported">{{taskDisplayed.submitted}}</span> 条
                                </div>
                                <div class="col-lg-4">未提交:
                                    <span class="imported">{{taskDisplayed.pending + taskDisplayed.rejected}}</span> 条
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr>

                    <div style="font-size: 24px; border-left: 4px solid #3498db; padding-left: 10px;
                color: #3498db; margin-top: 15px; margin-bottom: 24px;" ng-show="specTask.length">
                        任务审核
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" ng-repeat="submission in specTask">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="/#collapse{{$index}}">
                                <div class="row panel-receivetask" style="height: 64px">
                                    <div class="col-lg-7">
                                        <img src="/images/appDetail/receiveTask.png" alt="" style="display: inline-block;margin-left: 24px;padding-bottom: 10px">
                                        <span >任务领取人:</span>
                                        <span>{{submission.username}}</span>
                                    </div>
                                    <div class="col-lg-5">
                                        <span>已完成: {{submission.accepted}}/{{submission.receiveCount}}</span>
                                        <span>待审: {{submission.submitted}}</span>
                                        <span>未提交: {{submission.pending + submission.rejected}}</span>
                                    </div>
                                </div>

                            </div>
                            <div id="collapse{{$index}}" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding-left:50px;padding-right:50px;">
                                    <div class=" row receiveinfor" ng-repeat="entry in (specTask[$index].entries)">
                                        <div class="col-lg-3 ">第 {{$index + 1}} 组</div>
                                        <div class="text-right" style="margin-right: 50px;">
                                            提交人: <span>{{entry.uploadName}}</span>
                                        </div>
                                        <img ng-repeat="img in entry.imgs" src="{{img}}" alt="">
                                        <div class=" text-right receive_btn">

                                            <button class="btn reject "data-target="#rejectreason{{entry.id}}" data-toggle="modal" ng-show="entry.status == 1">拒绝</button>
                                            <button class="btn receive" ng-click="accept(entry)" ng-show="entry.status == 1">确认接受</button>
                                            <button class="btn receive2" ng-show="entry.status == 3">已接受</button>
                                            <button class="btn reject2" ng-show="entry.status == 2">已拒绝</button>
                                            <div class="modal fade" id="rejectreason{{entry.id}}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="margin:0px;height:78px;background-color:#6eb7e8;border-radius:4px;text-align: center">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                            <h4 class="modal-title" style="font-size: 26px;color: #FFFFFF;text-align: center">填写拒绝理由</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <textarea cols="30" rows="10"  style="width:550px" ng-model="myObj.rejectReason"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reject(entry.id)">确认</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!--拒绝弹窗-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--右边侧边栏-->
        </div>
    </div>

</div>
<th-footer>

</th-footer>

<script src="/javascripts/cookieHelper.js"></script>
</body>
</html>