<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#19B5FE">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../stylesheets/taskDetail.css">

    <!--网站内部js-->
    <script src="/javascripts/taskDetail.js"></script>

</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

   <iframe src="/html/navbar.html/2 "  width="100%" height="100%" scrolling="auto" frameborder="0" style="z-index: 1" ></iframe>

    <!--标题-->
    <div class="header-wrapper">
        <h1 class="header">任务详情</h1>
        <hr class="hr-header"/>
    </div>


    <!--任务列表-->
    <div class="page-wrapper" ng-app="taskDetailContent" ng-controller="taskDetailControl">
        <a href="#"><img class="logo" ng-src="{{ oneAppInfo.artworkUrl100 }}" alt="" class="img-thumbnail"/></a>
        <span class="description">
            <div class="task-link"> {{ oneAppInfo.trackName }}</div>
            <div>
                <span class="id">App ID: {{ oneAppInfo.appleId }}</span>
                <span class="company hidden-xs">{{ oneAppInfo.sellerName }}</span>
            </div>
            <div>
                <span class="download" >{{ oneAppInfo.excKinds }}</span>
                <span class="left">共<span class="num">{{ oneAppInfo.totalExcCount }}</span>条</span>
            </div>
        </span>

        <hr/>

        <div class="text-center" style="font-size: 16px; margin-top: 20px;">需求截图</div>
        <div class="text-center">
            <img class="img-responsive screenshot" ng-src="{{ oneAppInfo.requirementImg }}">
        </div>

        <hr/>

        <div class="row">
            <div class="wrapper">
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="submission-info">
                        <span>第 11 组 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 提交人: XXX</span>
                    </div>
                    <div class="submission-screenshot">
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 text-center">
                    <div class="submission-info">
                        <span>第 11 组 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 提交人: XXX</span>
                    </div>
                    <div class="submission-screenshot">
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="wrapper">
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="submission-info">
                        <span>第 11 组 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 提交人: XXX</span>
                    </div>
                    <div class="submission-screenshot">
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 text-center">
                    <div class="submission-info">
                        <span>第 11 组 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 提交人: XXX</span>
                    </div>
                    <div class="submission-screenshot">
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                        <span><img src="http://img5.imgtn.bdimg.com/it/u=3777290151,3583257864&fm=21&gp=0.jpg"/></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>