<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../stylesheets/taskDetailMobile.css">
    <script src="/javascripts/vendor/AngularJS/angular-file-upload.min.js"></script>

    <!--网站内部js-->
    <script src="/javascripts/cookieHelper.js"></script>

    <script src="/javascripts/taskDetailMob.js"></script>
    <script src="/javascripts/indexApp.js"></script>




</head>

<body ng-app="yemaWebApp">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>


<div class="container main"  ng-controller="taskDetailMobControl" >
    <div class="media">
        <div class="media-left">
            <img class="logo" ng-src="{{ oneAppInfo.artworkUrl100 }}" alt="" class="img-thumbnail"/>
        </div>
        <div class="media-body">
            <h3 class="task-link">{{ oneAppInfo.trackName.substr(0,6)+'...' }}</h3>
            <div>
                <span class="id">App ID: {{ oneAppInfo.appleId }}</span>
                <span class="company hidden-xs">{{ oneAppInfo.sellerName }}</span>
            </div>
            <div>
                <span><a  class="download" href="#">{{ oneAppInfo.excKinds }}</a></span>
                <span class="left">共<span class="num">{{ oneAppInfo.totalExcCount }}</span>条</span>
            </div>
        </div>

        <hr/>



    </div>
       <div class="text-center">需求截图</div>
       <div class="image-center">
           <img class="img-responsive screenshot" ng-src="{{ oneAppInfo.requirementImg }}"/>
       </div>

       <div class="text-center ">
           <button class="btn btn-default cust1" >
               跳转APP store
           </button>
       </div>


       <div class="text-center ">
           <button class="btn btn-default cust2" data-toggle="modal" data-target="#mymodal" ng-hide="!normalBtnShow">
               上传图片
           </button>
       </div>

       <div class="text-center " ng-hide="normalBtnShow">
           <a href="javascript:;"  class="a-upload form_change ">
               <input type="file" style="width: 80%" multiple nv-file-select="" ng-click="deletFile()" uploader="uploader" accept="image/*"/>上传图片
           </a>
       </div>

        <div class="progress" ng-hide="!progressNum">
            <div ng-class="{'progress-bar': true, 'progress-bar-striped':true, active:true}" ng-style="{width: progressNum + '%'}">
            </div>
        </div>

       <hr/>
       <div class="text-right">提交人: {{oneAppInfo.uploadName}}</div>

       <div class="submission-screenshot" ng-repeat="image in images">
           <img  ng-src="{{image}}"/>
       </div>


    <div class="modal fade" id="mymodal">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>请输入提交者昵称</h3>
                    <input type="text" class="uploadname" ng-model="uploadName" placeholder="提交者昵称只需提交一次">
                </div>
                <div class="modal-footer">
                    <button type="button"class="btn btn-primary"  data-dismiss="modal"
                            ng-click="saveUploadName()">保存
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</html>