<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 最新的 AngularJS 文件 -->
    <title>Test Angular</title>
    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/angular.min.js"></script>
    <script src="/javascripts/testAngular.js"></script>
</head>
    <body>
        <div ng-app="testAngularApp" ng-controller="testAngularCtrl">

            <ul>
                <li ng-repeat="x in names">
                    {{ x.name + ', ' + x.country }}
                </li>
            </ul>

            <example-directive></example-directive>
        </div>

    </body>

</html>