<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Angular</title>

    <!-- 引入 AngularJS Mini 文件 -->
    <!--<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>-->

    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>
    <!--<script src="/javascripts/testAngular.js"></script>-->

</head>

    <body ng-app="myApp" ng-controller="myCtrl">
        <h1>{{ title }}</h1>
        <form action="/todos" method="POST">
            <input type="text" name="content" />
            <input type="submit" value="新增" />
        </form>

        <ul>
            <li ng-repeat="x in todos">
                {{ x.content }}
            </li>
        </ul>

    </body>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {

        $http.get('api/test/todos').success(function(response) {
            $scope.title = response.title;
            $scope.todos = response.todos1;
            $scope.testTT = [0, 1, 2, 3, 4];
        });

    });
</script>

</html>