<h4 class="mytitle" ng-show="totalMoney > 0" >Y币流水 当前共有{{totalMoney}} 冻结{{freezingMoney}} 奖励{{feedingMoney}} Y币</h4>
<h4 class="mytitle" ng-show="totalMoney == 0" >Y币流水 旧的流水暂无记录</h4>
<hr style="margin-top: 12px;margin-left: 20px;border: 2px solid #3498db;margin-right: 20px">

<table class="table table-bordered">
    <thead>
    <tr>
        <th>日期</th>
        <th>类型</th>
        <th>消息</th>

        <th>累计奖励</th>
        <th>累计冻结</th>
        <th>总额</th>
    </tr>
    </thead>

    <tbody>
        <tr ng-class="coinFlow.rowClass" ng-repeat='coinFlow in YCoinMessages'>
            <!--<td rowspan="2">1</td>-->
            <td class="date">{{coinFlow.messageDateStr}}</td>
            <td class="type">{{coinFlow.type}}</td>
            <td class="text">{{coinFlow.messageText}}</td>

            <td class="feed" ng-show="coinFlow.feedingMoney != undefined">{{coinFlow.feedingMoney}}</td>
            <td class="freeze" ng-show="coinFlow.freezingMoney != undefined">{{coinFlow.freezingMoney}}</td>
            <td class="total" ng-show="coinFlow.totalMoney != undefined">{{coinFlow.totalMoney}}</td>
        </tr>
    </tbody>
</table>

<div style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
    <button class="btn btn-default myPageBtn" ng-show="YCoinMessages.length != 0 && YCoinMessages.length % 20 == 0" ng-click="nextPage()">下一页</button>
</div>
<div style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
    <button class="btn btn-default myPageBtn" ng-show="YCoinMessages.length == 0 || YCoinMessages.length % 20 != 0" >没有更多数据</button>
</div>
