
<h4 class="mytitle" >Y币账户</h4>
<hr style="margin-top: 12px;margin-left: 20px;border: 2px solid #3498db;margin-right: 20px">

<div class="row firt_row">
    <div class="col-lg-4" >
        <div class="panel panel-default"style="width: 230px;border-radius: 6px">
            <div class="panel-body">
                <div class="leftmoney">
                    <span> <img src="/images/home/leavemoney.png" alt="" class="moneyimg"></span>
                    <span>冻结Y币</span>
                    <span class="glyphicon glyphicon-question-sign"  data-placement="top"
                          data-toggle="popover"
                          data-content="还没有结算的Y币将会暂时存放在冻结账户中。" id="glyphicon"
                          ng-click="addApp('glyphicon')" style="font-size: 0.8em">
                    </span>
                </div>
                <div class="money" style="float: right; margin-right: 50px;">
                    <span>{{userFreezingYB}}</span><span>Y币</span>
                </div>

            </div>
            <div class="panel-footer dotask" >
                <span ><a href="/doTask"class="do_task" style="color: white;">做任务</a></span>
                <span style="color: white">|</span>
                <span ><a href="/myapp" class="send_task"style="color: white;">发任务</a></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1"style="margin-left: 14px">
        <div class="panel panel-default"style="width: 230px;border-radius: 6px">
            <div class="panel-body">
                <div class="leftmoney">
                    <span> <img src="/images/home/leavemoney.png" alt="" class="moneyimg"></span>
                    <span>账户余额</span>
                </div>
                <div class="money" style="float: right; margin-right: 50px;">
                    <span>{{balance}}</span><span>Y币</span>
                </div>

            </div>
            <div class="panel-footer dotask" >
                <span style="margin-left:35px"><a style="color: white" href="/handBook">查看Y币使用手册</a></span>
            </div>
        </div>
    </div>
    </div>
<hr style="border: 0.5px solid #e0e0e0;margin-top: 30px;margin-left: 20px;margin-right: 20px;">
<p  style="font-size: 20px;color: #333333;margin-left: 20px;margin-top: 30px;margin-right: 20px">如果您需要更多的Y币,请到任务大厅完成更多的任务,或者关注我们的微信公众号联系客服.微信关注:野马ASO</p>
</div>
<!--<h4 class="account">Y币充值</h4>-->
<!--<div class="myMoney">-->
    <!--<div class="mine">-->
        <!--<span class="mine_one">300</span><span class="mine_two">Y币</span>-->
    <!--</div>-->
    <!--<img src="/images/userCenter/30.jpg" class="mine_img">-->
    <!--<button class=" mine_btn1">30元</button>-->
<!--</div>-->
<!--<div class="myMoney">-->
    <!--<div class="mine">-->
        <!--<span class="mine_one">1100</span><span class="mine_two">Y币</span>-->
    <!--</div>-->
    <!--<img src="/images/userCenter/100.jpg" class="mine_img">-->
    <!--<button class=" mine_btn2">100元</button>-->
<!--</div>-->
<!--<div class="myMoney">-->
    <!--<div class="mine">-->
        <!--<span class="mine_one">5700</span><span class="mine_two">Y币</span>-->
    <!--</div>-->
    <!--<img src="/images/userCenter/500.jpg" class="mine_img">-->
    <!--<button class=" mine_btn3">500元</button>-->
<!--</div>-->
<!--<div class="myMoney">-->
    <!--<div class="mine2">-->
        <!--<span class="mine_one">12000</span><span class="mine_two">Y币</span>-->
    <!--</div>-->
    <!--<img src="/images/userCenter/1000.jpg" class="mine_img">-->
    <!--<button class=" mine_btn4">1000元</button>-->
<!--</div>-->
<!--<div class="myMoney">-->
    <!--<div class="mine2">-->
        <!--<span class="mine_one">37000</span><span class="mine_two">Y币</span>-->
    <!--</div>-->
    <!--<img src="/images/userCenter/3000.jpg" class="mine_img">-->
    <!--<button class=" mine_btn5">3000元</button>-->
<!--</div>-->


<div style="clear: both"></div>