<h4 class="mytitle" >任务历史</h4>
<hr style="margin-top: 12px;margin-left: 20px;border: 2px solid #3498db;margin-right: 20px">
<h4 class="history_date">2015/07/25</h4>

<div class="panel-group" id="accordion" style="margin-left: 20px;margin-right: 20px;margin-top: 30px">
    <div class="panel panel-default" style="margin-top: 5px">
        <div class="panel-heading"style="height: 64px">

            <div style="margin-top: 8px">
                <span class="index">1</span>
                <img  class="task_img" src="" alt="" >
                <span class="task_name">趣恋爱的最火爆的社区</span>
                <button class="task_button" >评论</button>
                <button class="task_button">IOS</button>
                <span  class="task_num">共10条</span>
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseOne">
                    <img src="/images/taskInfor/colopse.png" alt="" style="margin-left:80px">

                </a>
            </div>


        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body" style="height: 70px;padding-top: 20px">

                    <span  class="taskPerson" >领取人1:</span>
                    <span  class="taskPhone" >1234567890</span>
                    <img src="" alt="" class="taskImg">
                    <img src="" alt="">
                    <span class="getTask">领取<span>2</span>&nbsp;条</span>
                    <span class="finish">完成</span>

            </div>
            <div class="panel-body" style="height: 70px;padding-top: 20px">

                <span  class="taskPerson" >领取人1:</span>
                <span  class="taskPhone" >1234567890</span>
                <img src="" alt="" class="taskImg">
                <img src="" alt="">
                    <span class="getTask">领取<span>2</span>&nbsp;条</span>
                <span class="finish">完成</span>

            </div>

        </div>
    </div>
</div>