<h4 class="mytitle" >Y币充值</h4>
<hr style="margin-top: 12px;margin-left: 20px;border: 2px solid #3498db;margin-right: 20px">

<form name="alipayment" action="/pay/30" method="post" target="_blank">
    <div class="myMoney">
        <div class="mine">
            <span class="mine_one">300</span><span class="mine_two">Y币</span>
        </div>
        <img src="/images/userCenter/30.jpg" class="mine_img">
        <button class="mine_btn1" type="submit">30元</button>
    </div>
</form>

<form name="alipayment" action="/pay/100" method="post" target="_blank">
    <div class="myMoney">
        <div class="mine">
            <span class="mine_one">1100</span><span class="mine_two">Y币</span>
        </div>
        <img src="/images/userCenter/100.jpg" class="mine_img">
        <button class="mine_btn2"  type="submit">100元</button>
    </div>
</form>

<form name="alipayment" action="/pay/500" method="post" target="_blank">
    <div class="myMoney">
        <div class="mine">
            <span class="mine_one">5700</span><span class="mine_two">Y币</span>
        </div>
        <img src="/images/userCenter/500.jpg" class="mine_img">
        <button class="mine_btn3"  type="submit">500元</button>
    </div>
</form>