<h4 class="mytitle" >任务历史</h4>
<hr style="margin-top: 12px;margin-left: 20px;border: 2px solid #3498db;margin-right: 20px">
<h4 class="history_date"></h4>

<div class="panel-group" id="accordion" style="margin-left: 20px;margin-right: 20px;margin-top: 30px" ng-repeat="app in ReleaseTaskHistory">
    <div class="panel panel-default" style="margin-top: 5px">
        <div class="panel-heading"style="height: 64px" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
            <div style="margin-top: 8px" >
                <span class="index">{{$index + 1}}</span>
                <img  class="task_img" ng-src="{{app.artworkUrl100}}" alt="" >
                <span class="task_name">{{app.trackName}}</span>
                <button class="task_button" >{{app.taskType}}</button>
                <button class="task_button">IOS</button>
                <span  class="task_num">共{{app.totalCount}}条</span>
                <span class="">{{app.date}}</span>
            </div>


        </div>
        <div id="collapse{{$index}}" class="panel-collapse collapse in">
            <div class="panel-body" style="height: 70px;padding-top: 20px;position: relative" ng-repeat="task in app.receiveTasks">

                    <span  class="taskPerson" >领取人{{$index + 1}}:</span>
                    <span  class="taskPhone" >{{task.userName}}</span>

                    <span class="getTask">领取<span>{{task.receiveCount}}</span>&nbsp;条</span>
                    <span class="finish">{{task.status}}</span>

            </div>
        </div>
    </div>
</div>