<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--link rel="stylesheet" href="lib/css/bootstrap.min.css"-->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!--script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script-->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!--script src="lib/js/bootstrap.min.js"></script-->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
    <script src="/javascripts/zy/js/angular-scroll-animate.js"></script>


    <script src="/javascripts/zy/js/indexAngular.js"></script>
    <link rel="stylesheet" href="/stylesheets/zy/css/index.css">
</head>
<body ng-app="indexAPP">
<div ng-controller="scrollHide">
    <nav ng-show="showUp" class="navbar navbar-fixed-top" style="margin:0; background-color: transparent; border-color: transparent;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="border-color: white;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color: white"></span>
                    <span class="icon-bar" style="background-color: white"></span>
                    <span class="icon-bar" style="background-color: white"></span>
                </button>
                <a class="navbar-brand" href="#" style="color:white">中源环境</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar">
                    <li><a href="index.html" class="navListItem">首页<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle  navListItem" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司产品 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="allProducts2.html">产品首页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="air.html">气体在线监测</a></li>
                            <li><a href="w">数据采集传输</a></li>
                            <li><a href="pollution.html">污染源排放过程监控</a></li>
                            <li><a href="#">环境监控管理</a></li>
                            <li><a href="#">环境在线监测</a></li>
                            <li><a href="water.html">水质在线监测</a></li>
                        </ul>
                    </li>
                    <li><a href="management.html" class="navListItem">运营服务</a></li>
                    <li><a href="aboutUs.html" class="navListItem">关于我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="contactUs.html" class="navListItem">联系我们</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle  navListItem" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">合作企业 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">山钢集团</a></li>
                            <li><a href="#">攀钢集团</a></li>
                            <li><a href="#">华润水泥</a></li>
                            <li><a href="#">深圳南山热电公司</a></li>
                            <li><a href="#">山东洪业化工集团</a></li>
                            <li><a href="#">菏泽睿鹰制药集团</a></li>
                            <li><a href="#">江苏华西集团</a></li>
                            <li><a href="#">常州天马集团</a></li>
                            <li><a href="#">江阴澄星实业集团</a></li>
                            <li><a href="#">常州新港热电公司</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <nav ng-show="!showUp" class="navbar navbar-default navbar-fixed-top" style="margin:0;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">中源环境</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司产品<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="allProducts2.html">产品首页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="air.html">气体在线监测</a></li>
                            <li><a href="#">数据采集传输</a></li>
                            <li><a href="pollution.html">污染源排放过程监控</a></li>
                            <li><a href="#">环境监控管理</a></li>
                            <li><a href="#">环境在线监测</a></li>
                            <li><a href="water.html">水质在线监测</a></li>
                        </ul>
                    </li>
                    <li><a href="management.html">运营服务</a></li>
                    <li><a href="aboutUs.html">关于我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="contactUs.html">联系我们</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">合作企业<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">山钢集团</a></li>
                            <li><a href="#">攀钢集团</a></li>
                            <li><a href="#">华润水泥</a></li>
                            <li><a href="#">深圳南山热电公司</a></li>
                            <li><a href="#">山东洪业化工集团</a></li>
                            <li><a href="#">菏泽睿鹰制药集团</a></li>
                            <li><a href="#">江苏华西集团</a></li>
                            <li><a href="#">常州天马集团</a></li>
                            <li><a href="#">江阴澄星实业集团</a></li>
                            <li><a href="#">常州新港热电公司</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div style="background:url(/images/zy/sky.png) no-repeat; background-size: 100%; height: 100vh; padding-top:30vh; padding-left:10vw;padding-right:10vw;">
    <h1 style="color:white; margin:0; padding:0; width: 50vw;">每天,我们努力让你眼前的世界变得更加美好</h1>
    <a href="aboutUs.html"><h2 style="color: #b1edff; width: 50vw;">来了解我们的团队</h2></a>
    <div ng-controller="scrollController" ng-click="goToNextWindow()" class="circle text-center" style="margin: 0 auto; margin-top: 20vh;">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color: white; margin-top: 18px;"></span>
    </div>
</div>
<br  id="scrollerMarker">
<div class="container">
        <div class="row" style="height:50vh;">
            <div class="col-sm-6 hidden-xs" style="text-align: center;">
                <img src="/images/zy/nounProject/computerTower.png" style="height:50vh;"/>
            </div>
            <div class="col-sm-6 col-xs-12" style="text-align: center;padding-top: 12vh;">
                <h2 style="text-align: center; color: #16364f;">全系列优质设备,无所不能</h2>
                <p style="color: #16364f; margin:auto; text-align:center; width: 70%">
                    中源环境提供的设备涵盖气体在线监测,水体在线监测,
                    数据采集传输,污染源排放过程监控,环境监控管理和环境在线检测等
                </p>
                <a href="allProducts2.html"><h4 style="margin-top: 10px; color: #00b5ec;">了解更多</h4></a>
            </div>
        </div>
    <hr>
    <div class="row" style="height:50vh;">
        <div class="col-sm-6 col-xs-12" style="text-align: center;padding-top: 12vh;">
            <h2 style="text-align: center; color: #16364f;">专业化运营服务,懂你所想</h2>
            <p style="margin:auto; text-align:center; width: 70%;  color: #16364f;">
                利用在环境监测多年积累的丰富经验，公司积极开展污染源在线监测设施第三方运营服务。
                专业的运营团队，完善的运营管理制度，合理的运营资源配置，良好的技术开发和运营维护能力，
                为公司运营服务在客户中赢得了良好的口碑。
            </p>
            <a href="management.html"><h4 style="margin-top: 10px; color: #00b5ec;">了解更多</h4></a>
        </div>
        <div class="col-sm-6 hidden-xs" style="text-align: center;">
            <img src="/images/zy/nounProject/team.png" style="height:50vh;"/>
        </div>
    </div>
</div>
<div style="margin-top: 60px;">
    <div class="row" style="background-color: #333333">
        <div class="col-sm-6 col-xs-12">
            <div style="padding-left: 10vw; padding-top: 60px;">
                <h4 style="color: #afafaf; margin-bottom: 30px;">公司简介</h4>
                <p style="width: 80%; color: #afafaf">
                    中源环境仪器从市环境监测设备的销售,安装,环境监测网络设计,建设,以及环境连续监测设备和
                    监测网络的运营等业务,与行业内很多企业常年保持良好的合作关系.具备专业的污染源等
                    第三方运营服务队伍,有着十多年现场运维经验,拥有雄厚的技术力量和售后服务体系,公司坚持
                    走专业化,技术性的发展路线.
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div style="padding-left: 10vw; padding-top: 60px;">
                <h4 style="color: #afafaf; margin-bottom: 30px;">联系方式</h4>
                <p style="width: 80%; color: #afafaf">
                    地址: 江阴市澄江西路246号西三楼 214400
                </p>
                <p style="width: 80%; color: #afafaf">
                    电话传真: 0510-86804983
                </p>
                <p style="width: 80%; color: #afafaf">
                    邮箱: 1020922472@qq.com
                </p>
            </div>
        </div>
    </div>
</div>
<div class="text-center" style="background-color: #333333; padding-top: 60px; padding-bottom: 60px;">
    <p style="color: #abe2e7">Made in Wuxi Shang-xi Union️</p>
    <p style="color: #afafaf">Pictures credited to To Uyen and Yamini Ahluwalia from Noun Project</p>
    <p style="color: #afafaf">@ 中源环境 2016</p>
</div>
</body>
</html>