
body{
    margin: 0 auto;

}
#mainbar{
    background-color: #030000;
    height: 48px;
    border-style: none;
    width: 100%;

}
.container-fluid{
    margin: 0 auto;
    width: 1001px;
}
/*.navbar_li{*/
    /*margin-left: 50%;*/
/*}*/

/*.navbar-right{*/
    /*width: 20%;*/
/*}*/
#logoimage{
    margin-left: 5%;
}

#addExchistory_content{
    width: 100%;
    max-width: 1001px;
    margin-top: 48px;
    margin-left: 14%;

}

#button{
    padding-left: 78%;
    margin-top: -10%;

}
#media{
    border: 1px solid #e0e0e0;
    padding-top: 6%;
    margin-top: 32px;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}