
body{
    margin: 0 auto;

}
#mainbar{
    background-color: #030000;
    height: 48px;
    border-style: none;
    width: 100%;

}
.container-fluid{
    margin: 0 auto;
    width: 1001px;
}
/*.navbar_li{*/
    /*margin-left: 50%;*/
/*}*/

/*.navbar-right{*/
    /*width: 20%;*/
/*}*/
#logoimage{
    margin-left: 5%;
}

#addExchistory_content{
    width: 100%;
    max-width: 1001px;
    margin-top: 48px;
    margin-left: 14%;

}

#button{
    padding-left: 78%;
    margin-top: -10%;

}
.img_icon{
    width: 80px;
    height: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
#media{
    border: 1px solid #e0e0e0;
    padding-top: 6%;
    margin-top: 32px;
    margin-left: -13px;
    border-style: solid none none none;
}
.button_bottom{
    border:1px solid #3498db;
    margin-top:40px;
    width: 144px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    color: #3498db;
    background-color: white;
}
.appid{
    color: #999999;
    font-size: 12px;
    margin-top: 30px;
    font-weight: 200;
}

.form-control{
    background-color: white;
    border: 1px solid #aab2bd;
    border-right-style: none;
}

.search_color{
    background-color: white;
    border: 1px solid #aab2bd;
    border-left-style: none;
}

.changedate{
    font-size: 14px;
    margin-left: 200px;
    margin-top: -30px;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
}

.excedBtn{
    background-color: #e0e0e0;
    border:1px solid #e0e0e0;
    margin-top:60px;
    width: 144px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    color: #ffffff;
    background-color: #e0e0e0;
}

.header{
    padding-top: 10px;

}