.h1,h2,h3,h4,h5{
    color:white

}
/*默认字体*/
.typetitle{
    font-size: 1.2em;
    color:black;
}
/*APP块一*/
.head{
    margin-top: -1em;
    height: 8em;
    background-color: lightblue;
}

.head h1{
    margin-left: 5%;
    color:white;
}
.head h5{
    margin-left: 5%;
}
/*APP快二*/
.blocktwo{
    margin-top: -1.5em;
    background-color:lightblue;
    color: white;
    height: 8em;
}
.blocktwo h4{
    float:left;
    margin-top: 1.4em;
    margin-left: 5%;
}
.blocktwo h5{
    float:left;
    margin-top: 1.6em;
    margin-left: 10%;
}
/*APP块三*/
.blockthree {
    text-align: center;
}
.blockthree h2{
    margin-top: 0.5em;
    color: #00b7ff;

}
.blockthree h3 {
    color: #00b7ff;
    margin-top: 1em;

}
.button-calm{
    width:20%;
    border-radius: 2em;

}
.blockthree h5 {
    margin-left: -2%;
    color: #00b7ff;
    margin-top: 1em;
}
.button-stable {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    border-radius: 0.3em;

}


/*页面二****************************************/

.header{
    margin-top: -1.6em;
   background-color:#67bdff;
    height:6.5em;
}
.header h4{
    margin-left: 4%;
    margin-top: 1em;
}
.dashed{
    margin-top: 0.8em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 0.2em dashed #CCCCCC;
    border-radius: 0.5em;
    height:3em;

}
.dashed h4{
    color:#999999;

}
.cardicon{
    position: absolute;
    height:4em;
    width:auto;
    border: 0.1em solid #CCCCCC;
    border-radius: 1em;
   left:1em;
    top:0.5em;

}
.cardtext {
    float: left;
    margin-left: 3%;
}
.cardtextright{
    float: right;
}
.typeblue{
    font-size:0.9em ;
    color:#67bdff;
    border-radius: 0.2em;
    border: 0.1em solid #67bdff;
}
 .typegray{
    font-size:0.9em ;
    color:#999999;
     border-radius: 0.2em;
    border: 0.1em solid #999999;
}
 .typelightgray{
    font-size:0.9em ;
    color:#cccccc;
     border-radius: 0.2em;
    border: 0.1em solid #cccccc;
}
 .cardword{
     margin-left: 10%;
     font-size: 1.7em;
     color: red;
     margin-top: 0.1em;
 }
 .annotation{
     margin-top: -0.8em;
     margin-left: 1%;
     font-size: 1em;
     color:#999999;
 }