.header-wrapper{
    margin-top: 79px;
}

.header{
    font-size: 30px;
    color: #3498db;
    margin-bottom: 9px;
}

.media-body div{
    margin-bottom: 10px;
}
.media-body span{
    margin-right: 10%;
}
.num{
    font-size: 16px;
    color: #f55e5a;
}
.logo{
    width: 112px;
    height: 112px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
.task-link{
    font-size: 24px;
    color:black;

}
.task-link:hover{
    text-decoration: none;
}
.appid,.company{
    /*font-weight: 300;*/
    font-size: 16px;
}

.media-right button{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    margin-top: 30px;
}
@media (max-width: 768px) {
    .logo{
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
    }
    .media-body div{
        margin-bottom: 5px;
    }

    .task-link{
        font-size: 18px;
        /*margin-bottom: 14px;*/
    }

    .appid{
        font-size: 14px;
        margin-bottom: 14px;
        color: #7a7a7a;

    }

    .company{
        font-size: 18px;
        margin-bottom: 14px;
        margin-left: 40px;
        color: #7a7a7a;

    }

    .left{
        font-size: 14px;
        margin-left: -5px;
        color: #7a7a7a;

    }

    .download{
        font-size: 14px;
        color: #7a7a7a;

    }

    .num{
        font-size: 14px;
        color: #f55e5a;
    }
    .hr_bottom{
        margin-top: 10px;
    }

    /*.row{*/
        /*margin-top: 24px;*/
        /*margin-bottom: 24px;*/
    /*}*/
}

