.header-wrapper{
    margin-top: 79px;
}

.header{
    font-size: 30px;
    color: #3498db;
    margin-bottom: 9px;
}

/*.media-body div{*/
    /*margin-bottom: 10px;*/
/*}*/
/*.media-body span{*/
    /*margin-right: 10%;*/
/*}*/
.information{
    padding-left: 20px
}
.num{
    font-size: 16px;
    color: #f78649;
}
.logo{
    width: 112px;
    height: 112px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
.task-link{
    font-size: 24px;
    color:black;

}
.task-link:hover{
    text-decoration: none;
}
.infor button{
    margin-right: 30px;

}
.left,.surplus{
    width: 90px;
    background-color: white;
    color: #3498db;
    border: 1px solid #3498db;
    /*text-align: center;*/
    font-size: 18px;
    margin-left: 10px;
    border-radius: 6px;
}
.download{
    width: 70px;
    background-color: white;
    color:rgb(149,242,158);
    border: 1px solid rgb(149,242,158);
    /*text-align: center;*/
    font-size: 18px;
    border-radius: 6px;
}
.comment{
    width: 70px;
    background-color: white;
    color:rgb(255,196,158);
    border: 1px solid rgb(255,196,158);
    /*text-align: center;*/
    font-size: 18px;
    border-radius: 6px;
}
.deadline{
    width:200px;
    background-color: white;
    color:rgb(255,152,158);
    border: 1px solid rgb(255,152,158);
    /*text-align: center;*/
    font-size: 18px;
    border-radius: 6px;
    margin-left: 10px;
}
.center{
    margin-top: 12px;
}
.assign{
    margin-top: 10px;font-size: 18px;
color: #999999;
}
.pending{
    /*height:28px;*/
    font-size: 18px;
    background-color: #3498db;
    color: white;
    margin-right: 20px;
    border: 1px solid  #3498db;
    border-radius: 6px;

}
.rejected{
    font-size: 18px;
    background-color:#f7798b;
    color: white;
    margin-right: 20px;
    border: 1px solid  #f7798b;
    border-radius: 6px;

}

.proceed{
    /*height:28px;*/
    font-size: 18px;
    background-color: #e68900;
    color: white;
    margin-right: 20px;
    border: 1px solid  #e68900;
    border-radius: 6px;

}
.finish{
    font-size: 18px;
    background-color:rgb(0,226,57);
    color: white;
    margin-right: 20px;
    border: 1px solid  rgb(0,226,57);
    border-radius: 6px;

}

.media-right button{
    width: 91px;
    height: 36px;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    margin-top: 39px;
}

.btnSave{
    width: 54px;
    background-color: white;
    font-size: 16px;
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 4px;
}
@media (max-width: 768px) {
    .logo{
        width: 80px;
        height: 80px;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
    }
    /*.media-body div{*/
        /*margin-bottom: 5px;*/
    /*}*/

    .task-link{
        font-size: 18px;
        /*margin-bottom: 14px;*/
    }

    .appid{
        font-size: 14px;
        margin-bottom: 14px;
        color: #7a7a7a;

    }

    .company{
        font-size: 18px;
        margin-bottom: 14px;
        margin-left: 40px;
        color: #7a7a7a;

    }
    .information{
        padding-left: 0px
    }
    .center{
        margin-top: 8px;
    }
    .left {
        font-size: 12px;
        height:20px;
        width:65px;
        color: #3498db;
        border: 1px solid #3498db;
        border-radius: 2px;
        margin-left: 2px;

    }
    .surplus{
        font-size: 12px;
        height:20px;
        width:80px;
        color: #3498db;
        border: 1px solid #3498db;
        border-radius: 2px;
        margin-left:2px;

    }

    .download{
        font-size: 12px;
        height:20px;
        width: 50px;
        color: #3498db;
        border: 1px solid #3498db;
        border-radius: 2px;
    }
    .comment{
        font-size: 12px;
        height:20px;
        width: 50px;
        color:rgb(255,196,158);
        border: 1px solid rgb(255,196,158);
        border-radius: 2px;
    }
    .deadline{
        width:140px;
        height:20px;
        background-color: white;
        color:rgb(255,152,158);
        border: 1px solid rgb(255,152,158);
        /*text-align: center;*/
        font-size: 12px;
        border-radius: 2px;
    }
    .rejected{
        height:20px;
        font-size: 12px;
        background-color:#f7798b;
        color: white;
        margin-right: 5px;
        border: 1px solid  #f7798b;
        border-radius: 2px;

    }

    .proceed{
        height:20px;
        font-size: 12px;
        background-color: #e68900;
        color: white;
        margin-right: 5px;
        border: 1px solid  #e68900;
        border-radius:2px;
    }
    .pending {
        height: 20px;
        font-size: 12px;
        background-color: #3498db;
        color: white;
        margin-right: 5px;
        border: 1px solid #3498db;
        border-radius: 2px;
    }

    .finish{
        height:20px;
        font-size: 12px;
        background-color:rgb(0,226,57);
        color: white;
        margin-right: 5px;
        border: 1px solid  rgb(0,226,57);
        border-radius: 2px;

    }

    .assign{
        margin-top:10px;
        font-size: 12px;
        color: #999999;

    }

    .num{
        font-size: 12px;
        color: #f78649;
    }
    .hr_bottom{
        margin-top: 10px;
    }

    /*.row{*/
        /*margin-top: 24px;*/
        /*margin-bottom: 24px;*/
    /*}*/
}

