body{
    height:100%;
    background-color:#ffffff;
}

.container-fluid{
    width: 100%;
    max-width: 1001px;
}

#mainbar {
    background-color: black;
}

.content{
    height:100%;
    width: 100%;
    max-width: 1001px;
}

.top{
    margin-top: 48px;
    margin-bottom: 24px;
}


.top .myapp_title{
    font-size: 1.5em;
    color: #333333;
    padding-left: 1.875em;
    margin-top: -25px;
}

.myapp_content{
    margin-top: 24px;
}

.exchang_pattern{
    margin-top: 78px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

.exchang_pattern .exc_record_icon{
    margin-top: 32px;
}

.exchang_pattern .exc__record_title{
    font-size: 1.5em;
    color: #333333;
    padding-left: 1.875em;
    margin-top: -23px;
}

.edition_record{
    margin-left: 72px;
    margin-top: 70px;
}

.now_edition{
    margin-left: -35px;
    font-size: 20px;
    color: #333333;
}

.now_time{
    font-size: 20px;
    color: #333333;
    margin-top: 24px;
    margin-bottom: 24px;

}

.app_icon{
    width: 100px;
    height: 100px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.remove_icon{
    background-color: #ffffff;
    margin-top: -100px;

}

.the_previous_version{
    margin-left: 72px;
    margin-top: 70px;

}

.old_edition{
    margin-left: -35px;
    font-size: 20px;
    color: #333333;
}

.old_time{
    font-size: 20px;
    color: #333333;
    margin-top: 24px;
    margin-bottom: 24px;

}




