/*body{*/
    /*font-family: "Microsoft YaHei";*/
/*}*/
/*顶部轮播*/
.carousel3{
    position: absolute;
    width:850px ;
    height: 280px;}
/*邀请好友*/

.btn1{
    height:30px;
    width:80px;
    background-color: #5a94ec;
    border-radius: 5px;
    color:white;
    border: 1px solid #5a94ec;
}
.invite{
    position: absolute;
    right:-5px;
    top:300px;
    background:url(/images/homepage/invite.png);
    border: 1px solid;
    border-radius: 10px;
    width: 44px;
    height: 118px;
}
.btn-default{
    width:80px;
    height: 30px;
    margin-right: 0px;
    background-color: white;
    border: 1px solid #adadad;
    color:#adadad;
}
/*签到*/
.sign{
    margin-right: 35px;
    /*margin-top: 0px;*/
    width:230px;
    height: 280px;
    border: 1px solid #DDDDDD;
    float: right;
    position:relative;
}
.img1{
    z-index:1;
    /*margin-left:0px;*/
    margin-top:20px;
}
.circle{
    text-align: center;
    margin-top:-130px;
    margin-left:0px;
    z-index: 3;
}

.checkin{
    /*background-color: #d43f3a;*/
    /*border: 1px solid #5a94ec;*/
    position:relative;
    /*margin-left:40px;*/
    margin-top:60px;
    width:230px;
    /*color:white;*/
    font-size: 12px;
    /*color:#fb5834;*/
}

.checkin .btn-primary{
    margin-left: 17.5%;
    width: 65%;
}

.checkin .check-text{
    font-size: 12px;
    color: #999;
    margin-top: 14px;
    margin-left: 17.5%;
    width: 65%;
    text-align: center;
}

.text{
    position: relative;
    right:150px;
    top:280px;
    text-align: center;
}
.text1{

    font-size: 12px;
    color:#999999
}
.text2{
    font-size: 12px;
    color:#fb5834;
}
/*重要消息*/
.important{
    width:900px;
    height:30px;
    font-size:20px;
    margin-left: -10px;
    margin-top:65px;
    position: relative;
}

.img2{
    z-index: 9;
    height:60px;
    position: absolute;
    top: 300px;
    left: 10px;
}

.noticeDiv{
    font-size: 14px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.carousel2 {
    z-index: -1;
    position: absolute;
    top:300px;
    left:10px;
    height: auto;
    width: 1013px;
    background-color: #f5f5f5;
}

/*新手任务*/
.novice-task{
    position: relative;
}
.head1 {
    font-size: 20px;
    color: #333333;
    margin-left: 0px;
    margin-top: 5px;
}
.text3 {
    font-size: 16px;
    color: #333333;
    margin-left: 60px;
    margin-top:-62px;
}
.text4 {
    font-size: 16px;
    color: #333333;
    margin-left: 500px;
    margin-top: -62px
}
.new {
    margin-left: 30px;
    margin-top: 5px;
    background-color: #5a94ec;
    color: #ffffff;
    font-size: 14px;
    width:106px;
    height: 32px;
    border-radius: 4px;
    border: 6px solid #5a94ec;
}
.new1 {
    margin-left: 30px;
    margin-top: 5px;
    background-color: #d1e0f5;
    color: #ffffff;
    font-size: 14px;
    width:106px;
    height: 32px;
    border-radius: 4px;
    border: 6px solid #d1e0f5;
}
.img4 {
    margin-left: 430px;
    margin-top: -54px;
}
/*每日任务*/
.text5 {
    font-size: 18px;
    color: #333333;;
    margin-top: -85px;
    margin-right: 50px;
    float: right;
}
/*.text6 {*/
/*margin-top: -80px;*/
/*margin-right: 30px;*/
/*float: right;*/
/*font-size: 16px;*/
/*color: #5a94ec*/
/*}*/

.today-task{
    position: absolute;
    padding-top: 110px;
    right: 75px;
}

.body1 {
    text-align: center;
    margin-right: 30px;
    margin-top: -50px;
    width: 230px;
    height: 100px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    float: right;
}
.body2 {
    text-align: center;
    margin-right: -230px;
    margin-top: 60px;
    width: 230px;
    height: 100px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    float: right;
}
.body3 {
    text-align: center;
    margin-right: -230px;
    margin-top: 170px;
    width: 230px;
    height: 100px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    float: right;
}
.text01 {
    font-size: 14px;
    text-align: center;
    color: #333333;
}
.text02 {
    font-size: 12px;
    text-align: center;
    color: #999999;
}
.text03 {
    color: white;
    font-size: 14px;
}
.get1 {
    margin-top: 10px;
    height: 24px;
    width:70px;
    background-color: #cccccc;
    border-radius: 4px;
    border: 1px solid #cccccc;
}
.get2{
    margin-top: 10px;
    height: 24px;
    width:70px;
    background-color: #cccccc;
    border-radius: 4px;
    border: 1px solid #cccccc;
}
.get3 {
    margin-top: 10px;
    height: 24px;
    width:70px;
    background-color: #cccccc;
    border-radius: 4px;
    border: 1px solid #cccccc;
}
/*竖线*/
.line {
    margin-right: 20px;
    margin-top: -90px;
    float: right;
    height: 400px;
    width: 0.2px;
    border: 1px solid #eeeeee;
}

/*我发布的任务*/
.head2 {
    margin-right: 25%;
    margin-left: 0px;
    margin-top: 15px;
    font-size: 20px;
}
.body4 {
    padding-right: 50px;
    margin-top:0px;
    margin-left: 0px;
    font-size: 20px;
<<<<<<< HEAD
    border-top: 1px solid #cccccc;
=======
    /*border-bottom: 1px solid #cccccc;*/
>>>>>>> 20c213b18efd74af3e40a6d7a11be7d26b957997

    width: 834px;
    height: 80px;
    padding-left: 50px;
}
.img10{
    width:60px;
    height: 60px;
    border-radius: 5px;
}
.release1 {
    margin-left: -20px;
    margin-top: 20px;
}
.release2 {
    margin-left: 50px;
    margin-top: -60px;
}

.releaseSucceed{
    margin-left: 80px;
    margin-top: -60px;
    font-size: 18px;
    color: #00e239;
}
.release3 {
    font-size: 14px;
    color: #666666;
}

.releaseType{
    font-size: 14px;
    color: #666666;
}

.release4 {
    color: #5a94ec;
    font-size: 14px;
}
/*进度条*/
.go1 {
    background: #e9e9e9;
    margin-left: 130px;
    margin-top: -50px;
    border: 1px #CCC solid;
    height: 18px;
    width: 190px;
    padding: 0px;
    border-radius: 10px;
}

.releaseTask{
    margin-left: 60px;
    background: #3498db;
    margin-top: -30px;
    color: white;
}

.ASOData{
    font-size: 12px;
    margin-left: 370px;
    margin-top: -30px;
}

.progress {
    background: #e9e9e9;
    margin-left: 130px;
    margin-top: -50px;
    border: 1px #CCC solid;
    /*padding: 0px;*/
    border-radius: 10px;
    height: 17px;
    width: 190px;
    /*border-radius: 10px;*/
    /*font-size: 15px;*/
}
.got {
    font-size: 12px;
    margin-left: 330px;
    margin-top: -35px;
}
.got1 {
    color: #5a94ec;
}
.but {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 20px;
    height: 32px;
    width: 80px;
    font-weight:bold;
}

/*邀请好友奖励*/
.head4 {
    margin-right: 35%;
    margin-left: 0px;
    margin-top: -25px;
    font-size: 20px;
}
.body5 {
    width: 400px;
    text-align: center;
    height: 130px;
    margin-right: 75%;
    margin-left: -15px;
    font-size: 20px;
    border: 1px solid #cccccc;
    margin-top: -10px;
    border-radius: 10px;
}
.body6 {
    text-align: center;
    width: 400px;
    height: 130px;
    margin-right: 45%;
    margin-left: 420px;
    font-size: 20px;
    border: 1px solid #cccccc;
    margin-top: -130px;
    border-radius: 10px;
}
.font1 {
    font-size: 20px;
    text-align: center;
    color: #5a94ec;
}
.font2 {
    font-size: 14px;
    text-align: center;
    color: #333333;
}
.font3 {

    font-size: 12px;
    text-align: center;
    color: #999999
}
.butt {
    text-align: center;
    margin-top: 3px;
    width:90px;
    height:25px;
    background-color: #fb8545;
    border-radius: 4px;
    border: 1px solid #fb8545;
    line-height:15px;
}
.text07 {
    margin-top: -10px;
    color: white;
    font-size: 14px;
}

.data-partners{
    margin-left: 680px;
    margin-top: 5px;
    font-size: 14px;
    color: #999999;
}

.my-release{
    width: 835px;
    border: 1px solid #cccccc;
    /*border-radius: 10px;*/


}
