.receive_btn .task1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 180px;
    color:white;
    width: 100px;
    border: 1px solid #53d435;
    border-radius: 10px;
    background-color: #53d435;
}
.receive_btn .task2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 14px;
    color:white;
    width: 100px;
    border: 1px solid #53d435;
    border-radius: 10px;
    background-color: #53d435;
}
/*进度条*/
/*圆*/
.circle{
    width: 120px;
    height: 120px;
    background-color:white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow:0px 0px 5px 0px #444444;
     }
