

.navbar{
    font-size: 17px;
    height: 48px;
    border-style: none;
    /*background-color: rgba(0,0,0,0);*/

}

.flyleft{
    font-size: 54px;
    color: white;
    margin-left: 15%;
}
.flyright{
    margin-top: 18px
}
.p_content{
    font-size: 20px;color:#b3b3b3
}
.yema{
    height: 96px;font-size: 56px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;width:220px;border-radius:40px;
    background-color: rgba(0,0,0,0);
}
.yema_p{
    font-size: 20px;color:#b3b3b3;
}
.start:hover{
    text-decoration: none;
}
.task{
    color: white;font-size: 18px;margin-left: 20px;
    text-decoration: none;
    list-style: none;
}
.task:hover{
    text-decoration: none;
}
.task:active{
    text-decoration: none;
}
.img_1{
    width: 120px;
    height: 120px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    display: inline-block;
    margin-right: 60px;
}
.img_2{
    width: 120px;
    height: 120px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    display: inline-block;
}
