body{
    background-image: url(/images/home/index.png);
    background-size: 100% auto;

}

.navbar{
    font-size: 17px;
    height: 48px;
    border-style: none;
    background-color: rgba(1, 1, 1, 0);
}
.navigation >li > a{
    color: white;
}
.middle{
    margin-top: 12%;
}
.middle p{
    margin-top: 2%;
    font-size: 34px;
    font-weight: 400;
}
.foot{
    margin-top: 8%;
}
.last{
    text-align: center;
}

.a{
    font-size: 16px;
}
.dropdown-menu{
    background-color: rgba(0,0,0,.3);
}