body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/images/home/index.png);
    /*background-repeat: no-repeat;*/
    background-size: 100% auto;
}

.navbar{
    border-style: none;
    margin-left: 10%;
    width: 80%;
    background-color: rgba(1, 1, 1, 0);
}

.navbar-fixed-bottom {
    margin-left: 20%;
    width: 60%;
}

.content{
    /*font-size: 28px;*/
    color: white;
    display: block;
    margin-top: 15em;
    margin-right: auto;
}

#content-button{
    display: block;
    margin:0 auto;
    margin-top: 3em;
    height: 3em;
    width: 12em;
}

.div-bottom-nav{
    float: left;
    margin-left: 7.5em ;
    color: white;
}
