body{
    margin: 0 auto;
}
.navbar{
    background-color: #030000;
    height: 48px;
    border-style: none;
    width: 100%;  }


.container-fluid{
    margin: 0 auto;
    width: 1001px;
}
#logoimage{
    margin-left: 5%;
}
.main_content{

    width:90%;
    margin: 20px auto;
}
.input-group{
    margin: 2em 48px;
    width:480px ;
}
.search_color{
    background-color: white;
    border: 1px solid #aab2bd;
    border-left-style: none;
}
.form-control{
    background-color: white;
    border: 1px solid #aab2bd;
    border-right-style: none;

}

.placehold-line{
    margin: 2em 48px;
    width: 80%;
    border: 1px solid #aab2bd;
    border-style: none none solid none ;
}

.media{
    /*margin-top: 0em;*/
    border: 1px solid #e0e0e0;
    height: 8em;
    margin-left: 48px;
    border-style: none none solid none ;
}
.media img{
    margin-top: 14px;
    width: 80px;
    height: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
.media-heading{
    margin-top: 10px;
    margin-left: 12px;
}

.media-body{
    width: 44em;

}

.media-body div{
    margin-top:9px;
    margin-left: 12px;
}
.media-body h4{
    margin-top: 20px;
}

.media-info-updateDate{
    font-size: 13px;
}

.media-info-appId{
    margin-left: 16px;
}
.media-body div, span{
    color: #999999;
    font-size: 12px;
}
.media-right{
    padding-right: 4em;

}
.button_bottom{
    border:1px solid #3498db;
    margin-top:55px;
    width: 144px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    color: #3498db;
    background-color: white;
}
.add-app{
    margin-left: 40px;
    margin-top: 20px;
    /*position: fixed;*/
    /*top: 200px;*/
}
.list-group{
    width: 200px;
    height: 350px;
    /*border: 1px solid black;*/
    float: left;
    margin-right: 20px;
}
.list-group img{
    border: 1px solid #dbdbdb;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.app_name{
    margin-bottom: 5px;
    font-size: 20px;
    color:#666666;
    font-weight: 300;
    width: 180px;height: 52px;
    /*border: 1px solid red;*/

    margin-top: 14px;
}
.list-group p{
    margin-top: 10px;
    margin-left: 2px;
}
.app_version,.app_update{
  font-size: 12px;
    color: #333333;
}
.app_button_bottom{
    border:1px solid #3498db;
    width: 58px;
    height: 26px;
    text-align: center;
    border-radius: 6px;
    color: #3498db;
    background-color: white;
    float: left;
    margin-top: -40px;
    margin-left: 120px;
}
.app_add_main{
    float: left;
    /*border: 1px solid red;*/
    width: 270px;
    height: 300px;
}
.app_add {
    width: 180px;
    height: 290px;
    margin-left:0px;
    border: 2px dashed #dbdbdb;


}
.app_add span{
    width: 200px;
    height: 250px;
    /*border: 1px solid red;*/
    font-size: 180px;
    line-height: 200px;
    display: block;
    margin-top: 10px;
    margin-left: 37px;
    color: #dbdbdb;
}
.app_bottom{
    margin-top: 40px;
    font-size: 14px;
    color:#999999;
    font-weight:lighter;width: 1001px;
    height: 20px ;border: 1px solid #999999;
    float: left;
    border-style: none none  solid none ;

}

.placehold-line{
    margin-top: 2em;
    width: 80%;
    border: 1px solid #aab2bd;
    border-style: none none solid none ;
}