.container-fluid{
    width: 100%;
    max-width: 1001px;
}

.navbar{
    background-color: #030000;
    height: 48px;
    border-style: none;
    width: 100%;
    font-size: 17px;
}

body{
    background-color: #e0e0e0;
}
#logoimage{
    margin-left: 5%;
}
.container{
    margin-top: 13px;
    width: 100%;
    max-width: 1001px;
}

.personal{
    width:200px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius: 6px;
    width:200px;
    height:644px;
    background-color: #ffffff;
}

.solid{
    float: left;
    width: 6px;
    height: 48px;
    background-color: #3498db;
}

.menu .personal-title{
    font-size:16px;
    line-height:2;
    margin-top: 48px;
}

.img-normal{
    padding-left: 26px;
}

.title{
    margin-left: 16px;
    color: #333333;
    cursor:pointer;
}

.content{
    padding-top:32px;
    letter-spacing:.5px

}

.personal_content{
    margin-left: -20px;
    border:1px solid #ccc;
    width:780px;
    height:644px;
    border-radius: 6px;
    box-shadow:0 0 8px #ccc;
    background-color: #ffffff;
    -webkit-box-shadow:0 0 8px #ccc;
}

.content-text ul li{
    border-bottom:1px solid #e5e5e5;
}

.content-text ul{
    margin-top:20px;
}

.content-text ul li{
    padding-bottom:25px;
    margin-bottom:25px;
    list-style: none;
}

.personalContent{
    font-size:17px;
    color:#333333;
    line-height:1
}

.icon-520{
    padding-left: 152px;
    color:#3498db;
    font-size:17px;
}

.text_content{
    font-size: 13px;
    color: #555555;
    margin-top: 13px;
}

.btn-default{
    float: right;
    margin-right: 64px;
    width: 70px;
    height: 30px;
    margin-top: 14px;
    font-size: 14px;
    border: 1px solid #3498db;
    color: #3498db;
}







