.header-wrapper{
    margin-top: 100px;
}

.header{
    font-size: 30px;
    color: #3498db;
    margin-bottom: 9px;
}

.hr-header{
    background-color: #3498db;
    border-top: 2px solid #3498db;
    margin-bottom: 15px;
}
.media-body h3{
    margin-top: 2px;
}
.media-body div{
    margin-top: 8px;
}

.media-body span{
    margin-right: 10%;
}
.media-right img{
    height: 112px;
    width: 112px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;

}
.logo{
    display: inline-block;
    height: 112px;
    width: 112px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.task-link {

    font-size:24px;
}


.id,.company,.left{
    font-size: 16px;
}

.download{
    font-size:16px;
    color: red;
}

.num{
    text-decoration: none;
    font-size: 16px;
    color: #f55e5a;
}
.oneAppicon{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    float: right;
    margin-top: -110px;
}
.oneAppname{
    margin-right: 120px;
    margin-top: -125px;
    float: right;
}
.text-right {
    font-size: 16px;
    margin-top: 20px;
}
.page-wrapper{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.text-center{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px
}

.screenshot{
    margin:15px auto;
    border: 1px solid #e0e0e0;


    object-fit: contain; /*显示全图*/

}

.row{
    margin-top: 30px;
    margin-bottom: 30px;
}

.submission-info{
    font-size: 16px;
    margin-bottom: 20px;
}



.submission-screenshot img{
    width:140px;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
    object-fit: contain;
    /*border: 1px solid red;*/
}

/*[class*="col-"]{*/
    /*padding-left:0px;*/
    /*padding-right:0px;*/
/*}*/